[2014-02-13 08:20] 130s opened #1 "Add version to the filename of libhrpio.so"
Adding version number into the name of `libhrpio.so` and linking to it might ease the pain of detecting the version the file was built on.

If this makes sense, how should it be named like? `libhrpio.so.315.1.7` (based on `hrpsys`)? `libhrpio.so.3.1.5` (`OpenHRP3`)?

@k-okada @emijah

[2014-02-13 08:31] emijah commented on #1
It is based on hrpsys-base, so I think the version number should match that.

[2014-02-13 08:37] 130s commented on #1
Will do `libhrpio.so.315.1.7` this time then. Thank you!

[2014-02-13 08:37] #1 closed, assigned to nobody

[2014-02-14 01:05] 130s opened #2 "test_hironx_moveit.py segfaults"
On `Hironx` at customer's site, `test-hironx.py` finishes with all 11 success cases. But `test_hironx_moveit.py` crashes:

[code]

[2014-02-14 01:15] 130s commented on #2
Forgot to mention that it happens with simulator by the following commnad (haven't been ready to test with real robot yet).

[code]

[2014-02-14 01:21] k-okada commented on #2
rtmlaunch hironx_ros_bridge hironx_ros_bridge_simulation.launch
を分解して，
`<include file="$(find hironx_ros_bridge)/launch/hironx_startup.launch" >`
と，
`<include file="$(find hironx_ros_bridge)/launch/hironx_ros_bridge.launch" >`
をそれぞれ立ち上げて，それぞれのターミナルになんて表示されているかと，
test_hironx_moveit.py
の中を一行づつ実行して何処でエラーになっているかを調べて下さい．

[2014-02-14 08:24] 130s opened #5 "(test_hironx.py) fails with real robot "ERROR: [Errno 2] No such file or directory: '/tmp/tmpqHFIhC-wait.RobotHardware0_q'""
Arms seem to be moving as intended (to some extent? It's hard to tell from only looking at joint angles) in the test cases, but because loading log files is failing, testcases fail too.

[code]

Using https://github.com/130s/rtmros_hironx/commit/22035014b58320903ef04c82fa8eb6b22507f0bc

[2014-02-14 08:53] k-okada commented on #5
これはpythonのコードはvision pcでrtcdはcontrol pcですか？するとログファイルはcontrol pcの/tmp以下に置かれるので，読めませんね．

[2014-02-15 03:49] 130s commented on #5
Ah, I see...
There were files `/tmp/tmp*` that I thought were created during simulation..

[2014-02-16 15:40] 130s opened #6 "(test_hironx.py) the number of joints passed to `setJointAngles` might not match the model contained"
Continued from [here](https://github.com/start-jsk/rtmros_hironx/commit/756f0c1032e7f542981466adb3fe08f1a9c08001#commitcomment-5387144).

I see. But then, the released `Hironx` should be 15dof as far as I'm understood; on the terminal where simulation runs, I get the following when testcases that include `setJointAngles`.

[code]

[2014-02-16 16:29] k-okada commented on #6
which modelfile are you using?
https://raw.github.com/start-jsk/rtmros_hironx/master/hironx_ros_bridge/models/kawada-hironx.dae

Also please check  why following jenkins jobs passed, if we need test code to check setJointAngles, please add them.
http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/hironx-catkin/

[2014-02-18 07:02] k-okada opened #10 "update error message when nameserver is not running"
Error message must be updated, when name server is not running.

[code]

[2014-02-18 07:02] k-okada opened #11 "update error message when hrpsys version does not match."
[code]

[2014-02-18 09:43] k-okada opened #14 "ipythonを使う時の引数がおかしい？"
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/scripts/hironx.py#L46
で，
`# ./ipython -i hironx.py --host hiro014`
と書いてあるけど，
`# ./ipython -i hironx.py -- --host hiro014`
では？

[2014-02-18 10:53] 130s commented on #14
Fixed via b10936e

[2014-02-18 10:53] #14 closed, assigned to 130s

[2014-02-18 13:47] kindsenior opened #15 "reference vs current"
As we confused at https://code.google.com/p/hrpsys-base/issues/detail?id=182,
getJointAngles() returns current commanded angles, and hcf.rh_svc.getStatus().angle returns current actual robot's angles.

https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L597
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bri

[2014-02-18 17:53] k-okada commented on #11
see https://code.google.com/p/hrpsys-base/issues/detail?id=181 for getting version number of component

[2014-02-18 17:59] 130s opened #16 "Release 1.0.11"
If there's ongoing works I'll hold. Otherwise it'll soon be released.

[2014-02-18 18:08] k-okada commented on #10
add more verbose error rmessage at here, this also exist when error ->
https://code.google.com/p/hrpsys-base/source/diff?spec=svn984&r=984&format=side&path=/trunk/python/rtm.py

[2014-02-18 18:09] k-okada commented on #16
no, please release.

[2014-02-18 18:21] 130s commented on #15
Good point in timely fashion. I'm updating api docs right now and will
reflect your comments.

[2014-02-18 19:02] 130s commented on #15
@kindsenior I've committed [some document](https://github.com/start-jsk/rtmros_hironx/commit/b3782ad7f7a0ca0478d6062f618921fdeff51dbb). Please give feedback and reopen if anything.

[2014-02-18 19:02] #15 closed, assigned to nobody

[2014-02-19 04:43] 130s commented on #16
Done via https://github.com/ros/rosdistro/pull/3166

[2014-02-19 04:43] #16 closed, assigned to 130s

[2014-02-19 07:16] 130s commented on #10
+1 for raising this issue.

I submitted a patch to give more friendly error msg https://code.google.com/p/hrpsys-base/issues/detail?id=183

[2014-02-21 06:41] 130s opened #19 "(HrpsysConfigurator.saveLog) missing timeframe for the RobotHardware output"
On 2 of the same robots that run on QNX (Kawada Hiro).

In the saved log after a set of joint movement ([goInitial on Hiro](https://github.com/start-jsk/rtmros_hironx/blob/3206d48f1878ade3c17ff7a0ec35ad8a7113f332/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L123)), there seem to be the time frames that are missing between the state returned from robot and the commanded values.

![gnupl

[2014-02-21 06:46] 130s commented on #19
Found with @emijah

[2014-02-22 04:46] k-okada commented on #19
please check with this script (`https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/test/test-hironx-log.py`), you used seq_qRef, which is output only when sequence player interpolates the trajectory. we have to check sh_qOut, which always output command value.

[2014-02-22 04:46] #19 closed, assigned to nobody

[2014-02-22 07:20] 130s opened #20 "Models for different Hiro robot versions"
For `Hiro` robots there are some difference in hardware design:
- There are at least `Type-B` and `Type-C`, the one that has shorter and longer necks respectively.
- All `Hiro` should be equipped with the same hand.
- Neck is common b/w `Type-C` and `NEXTAGE OPEN`.

@emijah

[2014-02-22 07:23] 130s commented on #20
To avoid having redundancy, is it possible to achieve these within a single ROS model package (eg. create `hironx_description` package) by like:
- Create necessary models and put all into the package
- Shift b/w the combinations of model in `.launch` file

[2014-02-25 01:14] 130s opened #27 "Models for different Hiro robot versions"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [25](https://tokyoopensourceroboticskyokaiassociation.zendesk.com/agent/#/tickets/25)
**Priority:** highLARM_JOINT5
**Zendesk assignee:** support_general/Isaac Isao Saito

**Original ticket content:**

Ticket is opened. https://github.com/start-jsk/rtmros_hironx/issues/20
A大の二台へのインストール作業前にこのチケットの解決が必要．

[2014-02-25 01:14] 130s commented on #27
_Comment from Zendesk by iisaito@opensource-robotics.tokyo.jp at 2014-02-23 15:13:02 UTC:_

<p>Ticket is opened. <a href="https://github.com/start-jsk/rtmros_hironx/issues/20" target="_blank">https://github.com/start-jsk/rtmros_hironx/issues/20</a><br>
信州大の二台へのインストール作業前にこのチケットの解決が必要．</p>

[2014-02-25 01:14] 130s commented on #27
_Comment from Zendesk by iisaito@opensource-robotics.tokyo.jp at 2014-02-24 08:46:11 UTC:_

<p>産総研 Hiro もモデルが微妙であることが発覚．元さんが川田工業に問い合わせ中．<a href="https://groups.google.com/forum/#!topic/tork-dev/5GgJ5n15AXs" target="_blank">https://groups.google.com/forum/#!topic/tork-dev/5GgJ5n15AXs</a></p>

<p>首と頭だけの問題であれば大きな問題にはならないか？納品に支障はない？</p>

[2014-02-25 01:14] 130s commented on #27
_Comment from Zendesk by k-okada@opensource-robotics.tokyo.jp at 2014-02-24 08:54:41 UTC:_

<p>ジョイントの数→iobが依存する<br>
ジョイント，リンクの名前→hironx_config.pyが依存する<a href="https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L66" target="_blank">https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/h

[2014-02-25 01:15] 130s commented on #27
Closing since:
- This was opened by `Zendesk` automatically while I was testing its feature.
- Duplicate of #20.

[2014-02-25 01:15] #27 closed, assigned to nobody

[2014-02-26 06:35] k-okada opened #29 "setTargetPose cannot be called before setJointAnglesOfGroup"
Reported by emijah.s, Today (21 minutes ago) at
https://code.google.com/p/rtm-ros-robotics/issues/detail?id=320

What steps will reproduce the problem?
1. Start Simulation for Nextage
2. Run attached script

What is the expected output? What do you see instead?
Normal motion is expected, as it is the initial position the robot is in.
Instead I get an IK Fail Error

IK Fail, iter = 50
  err : 2.614

[2014-02-26 06:41] k-okada commented on #29
sorry that we could not reproduce this since controller.hironx_krc  seems closed package, if yo use`from nextage_ros_bridge import nextage_client` instead of `from controller.hironx_krc import HIRONX_KRC, it create default jont groups in initialization process.

I'll close this issue since we have could not reproduce this, but feel free to reopen, if these packages are ready to open.

[2014-02-26 06:41] #29 closed, assigned to nobody

[2014-02-26 06:49] emijah commented on #29
Oooops. I'll re-confirm

[2014-02-26 07:07] emijah commented on #29
We used this as a wrapper for when we were fiddling around with the digital input/output stuff. There is basically nothing in there at the moment. I have changed the references and have found that I still get the same error.

test0-000.py

[code]

test0-001.py

[code]

Ah, nextage_client... Will re-confirm.

[2014-02-26 07:15] emijah commented on #29
Re-checked with NextageClient. I get the same, calling setTargetPose before setJointAnglesOfGroup causes an IK Fail, iter=50....
The two scripts were changed as follows:
test0-000.py

[code]

test0-001.py

[code]

[2014-02-26 07:16] emijah commented on #29
Please re-open

[2014-02-26 07:17] k-okada commented on #29
thanks, I create a ticket at hrpsys-base. https://code.google.com/p/hrpsys-base/issues/detail?id=186

[2014-02-26 07:19] emijah commented on #29
Thank you

[2014-02-27 06:34] 130s opened #32 ".deb binary version 1.0.11 doesn't download from package.ros.org on Precise"
As was [just announced](http://lists.ros.org/pipermail/ros-users/2014-February/068308.html), `rtmros_hironx` should be 1.0.11 from official package repo, but `1.0.10` gets pulled instead.

[code]

[2014-02-27 06:43] 130s commented on #32
Looks like it hasn't synched on the distribution repo yet, don't why though.
http://packages.ros.org/ros/ubuntu/dists/precise/main/binary-amd64/Packages

[code]

[2014-02-27 06:52] 130s commented on #32
[Pinged ros core team](http://lists.ros.org/lurker/message/20140227.065011.d9776b51.en.html)

[2014-02-27 08:04] 130s opened #33 "(rtmlaunch) hrpsys_ros_bridge.launch: connect_ports() takes at least 5 arguments 3 given"
(tl;dr) For the future reference, [this issue is worked around](https://github.com/start-jsk/rtmros_hironx/issues/33#issuecomment-36241403) by using `eth0` to connect to the robot's internal OS (QNX) as of 2/27/2014.

---

On fresh installed hiro robot, running

[code]

Then I get the error in the title.

[code]

Happens with both .deb and source from upstream:

[code]

[2014-02-27 08:14] k-okada commented on #33
connect_port の引数はopenrtmの１．１．０と，１.0.0で違うのですが以下の部分で対応してあるはずです．確認してみて下さい．

https://code.google.com/p/rtm-ros-robotics/source/detail?r=2958&path=/trunk/rtmros_common/openrtm/scripts/rtmlaunch.py#

[2014-02-27 08:17] 130s commented on #33
More log. `HrpsysSeqStateROSBridge` seems to be failing to start but not sure how it's related to `connect_ports` error.

[code]

[2014-02-27 08:22] k-okada commented on #33
これは何処でそう見えるでしょうか？
多分，
"/usr/local/lib/python2.7/dist-packages/OpenRTM_aist/RTM_IDL/RTC_idl.py"
ですね．古いopenrtmが何処かに入っています．

[2014-02-27 09:12] 130s commented on #33
Hmm,,,thank you. Now I've removed `openrtm-aist` (1.1.0) and `openrtm-aist-grx` (`1.0.0`), the `RTC_idl.py` error is gone but still get the same `[rtmlaunch] hrpsys_ros_bridge.launch: connect_ports() takes at least 5 arguments (3 given)`.

[code]

[2014-02-27 09:15] k-okada commented on #33
いや，そうではなくて，apt外でいれた/usr/local のパッケージが残っています．aptで入れると/opt/ros以下にopenrtmができますよね．

[2014-02-27 09:45] 130s commented on #33
I see now at least 2 directories exist:

[code]

I moved those but the log doesn't seem to have changed.

[2014-02-27 10:01] k-okada commented on #33
/usr/local/bin, /usr/local/lib　などいろいろあるはずです．そもそも/usr/local/lib/python2.7を見ている時点で，PYTHONPATHがおかしいはず，とすると，
echo $PATH
echo $PYTHONPATH
echo $LD_LIBRARY_PATH
をで確認です．

確実なのは.bashrcを/etc/skel/.bashrc に一回置き換えてクリーンな状態にすることです．

[2014-02-27 10:20] k-okada commented on #33
あとは，
mv /usr/local /usr/local.bak
とすることでしょうか．

[2014-02-27 10:43] 130s commented on #33
No progress..

[code]

x mv /usr/local /usr/local.bk
x mv /home/ais/software .
x mv /opt/grx /opt/grx.bk

[2014-02-27 10:44] k-okada commented on #33
それでもう一回
`$ roslaunch hironx_ros_bridge hironx_ros_bridge.launch nameserver:=hiro023 MODEL_FILE:=/opt/jsk/etc/HIRONX/model/main.wrl`
した時のlogは何になりますか？
また，/home/tok/ros_tmp/cws/src 以下は何になりますか？

[2014-02-27 10:48] 130s commented on #33
[code]

[2014-02-27 10:49] 130s commented on #33
`.bashrc` should be clean enough since this user is just created today.

[2014-02-27 10:52] k-okada commented on #33
/opt/ros/hydro/share/openrtm_tools/scripts/rtmlaunch.py 　は以下のようになっていますか？

[code]

[2014-02-27 10:53] k-okada commented on #33
connect_portsはrtcon.pyで定義されているので，locate rtcon.pyでしょうか．

[2014-02-27 10:58] 130s commented on #33
[code]

[2014-02-27 11:00] 130s commented on #33
Btw this `connect_ports()` error doesn't happen with:

[code]

[2014-02-27 11:07] k-okada commented on #33
[code]

は同じでしょうか？

[2014-02-27 11:08] k-okada commented on #33
rtcon.pyで

[code]

とすると，以下の表示になりますか？
`<module 'rtshell.rtcon' from '/opt/ros/hydro/lib/python2.7/dist-packages/rtshell/rtcon.pyc'>`

[2014-02-27 11:09] 130s commented on #33
[code]

[2014-02-27 11:12] k-okada commented on #33
[code]

で，
１１５業の後に print >> sys.stderr, "error, ", e
をしたいですね．

[2014-02-27 11:13] k-okada commented on #33
`rtmlaunch hironx_ros_bridge hironx_ros_bridge_simulation.launch`
は上がりますか？

[2014-02-27 11:17] 130s commented on #33
Yes to `rtmlaunch`
https://github.com/start-jsk/rtmros_hironx/issues/33#issuecomment-36230978

[2014-02-27 11:22] k-okada commented on #33
であれば，rtcon.pyの１１５行の後に print >> sys.stderr, "error, ", e
と
rtcat -l localhost:15005/HrpsysSeqStateROSBridge0.rtc
でしょうか．

[2014-02-27 11:23] 130s commented on #33
[code]

Nope, nothing in the output changed. Maybe python path is wrong..?

[code]

[2014-02-27 11:25] k-okada commented on #33
したら，
/opt/ros/hydro/share/openrtm_tools/scripts/rtmlaunch.py
で，行頭にprintを入れて，このファイルが呼ばれているか確認でしょうか？

[2014-02-27 11:34] 130s commented on #33
[code]

Doesn't print...

[code]

[code]

[2014-02-27 11:39] k-okada commented on #33
`ps -aux | grep rtmlaunch.py` でしょうか．

[2014-02-27 11:43] 130s commented on #33
[code]

[2014-02-27 11:44] k-okada commented on #33
`$ roslaunch hironx_ros_bridge hironx_ros_bridge.launch nameserver:=hiro023 MODEL_FILE:=/opt/jsk/etc/HIRONX/model/main.wrl
`してC-Cせずに，`ps -aux | grep rtmlaunch.py`です．

[2014-02-27 11:46] 130s commented on #33
Sorry!

[code]

[2014-02-27 11:55] k-okada commented on #33
したら，`/opt/ros/hydro/share/openrtm_tools/scripts/rtmlaunch.py`は呼ばれていますね．あ，`print >>sys.stderr, rtcon` としてstderrに出したいです．

[2014-02-27 11:59] 130s commented on #33
[code]

[2014-02-27 12:02] k-okada commented on #33
https://github.com/start-jsk/rtmros_hironx/issues/33#issuecomment-36233254 を`print('***** 11112222 ')`ではなく，print >> sys.stderr, "***111122222"として，
https://github.com/start-jsk/rtmros_hironx/issues/33#issuecomment-36231787 の`except Exception, e: # openrtm 1.1.0`の行の次に`print >> sys.stderr, e` したいです．
で，出力結果を見たいです．

[2014-02-27 12:13] 130s commented on #33
[code]

[code]

[2014-02-27 12:16] k-okada commented on #33
[code]

なので，
`[rtmlaunch] hrpsys_ros_bridge.launch: connect_ports() takes at least 5 arguments (3 given)`
と表示されている前に Exception eの内容が表示されると思うんですが．．．

[2014-02-27 12:17] 130s commented on #33
[code]

[2014-02-27 12:23] k-okada commented on #33
もう一度，`rtmlaunch hironx_ros_bridge hironx_ros_bridge_simulation.launch`が動いていることを確認して，それだったら

[code]

で，QNX側でも

[code]

でしょうか．

[2014-02-27 12:26] k-okada commented on #33
@emijah さんの指摘（ネットワーク？）が正しかったかも．
https://code.google.com/p/rtm-ros-robotics/issues/detail?id=18, https://code.google.com/p/rtm-ros-robotics/issues/detail?id=14

[2014-02-27 12:30] 130s commented on #33
[code]

And https://github.com/start-jsk/rtmros_common/issues/331 prohibits `rtcat` from source.

[2014-02-27 12:33] k-okada commented on #33
rtcatを使うのにrtmros_commonは必要無いです．rtshell_coreだけでいいはずです．

[2014-02-27 12:33] 130s commented on #33
Robot's QNX is on `eth1`'s network.

[code]

[2014-02-27 12:35] k-okada commented on #33
それはダメかもしれないです．eth0につなげてみてください．

[2014-02-27 12:41] 130s commented on #33
On QNX,

[code]

We'll switch Ubuntu's `NIC`.

[2014-02-27 12:48] 130s commented on #33
On Ubuntu,

[code]

Hiding some addresses that I'm not sure if it's on global network.

[2014-02-27 12:51] k-okada commented on #33
nslookup ではなく ping で調べたほうが良さそうですね．いずれにせよネットワークの構成を変えてみましょう．Ubuntuで，eth0とeth1をひっくり返せばいいかな．あるいは，eth0をdisableにするのかな．

[2014-02-27 13:31] 130s commented on #33
Breaking news; the error doesn't happen with `eth0` connected to the robot.

[2014-02-27 13:42] k-okada commented on #33
＼(^O^)／

[2014-02-27 13:46] 130s commented on #33
Left up to https://github.com/start-jsk/rtmros_common/issues/332

[2014-02-27 13:46] #33 closed, assigned to 130s

[2014-02-27 18:33] 130s opened #34 "Arms remain down when no tf is received"
When somehow `tf` isn't received, `hiro`'s arms are down (similar to what's reported in [this issue](https://github.com/tork-a/rtmros_nextage/issues/23) but different cause) even when they are actually posed differently, say initial pose. Manually giving certain pose in that situation by `MoveIt!` RViz plugin ends up moving the arm toward the down pose as shown on `RViz`, which most likely hits th

[2014-02-28 00:11] k-okada commented on #34
In general, No tf situation is critical situation for ROS-based robots, so usually the robot wont work. One possible solution is to add some code in [1], that it wont send any command if tf is not seen for a while. Another solution is to add InitialPose in MoveIt so that robot does not arms down, in initial state or Lost-tf situation.

https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_

[2014-02-28 04:55] 130s opened #35 "After checkEncoders white lamp still blinks"
@emijah

Not happening always but I've seen the following that occurred at the same situation:
- After `robot.checkEncoders()`, bumpy move that's supposed to happen twice only occurred once.
- The usual output like following didn't print:

[code]
- Then at the chest lamp, green turned on but white still blinks. The combination I don't find in the h/w manual.
- Servo seems to be on (I knew by touch

[2014-02-28 05:52] k-okada opened #36 "Stop motion when collisions are detected"
https://github.com/start-jsk/rtmros_common/issues/247
@kenji0919

[2014-02-28 05:59] emijah commented on #35
@130s
Could you please send us the log files in /opt/hiro/log/
I've never heard of this one before.
Is this the old Hiro or newer Hiro?
Are both cores visible? I'm wondering because the closest thing I've heard was the problem with the single core kernel booting in the robot.

[2014-02-28 06:11] k-okada opened #37 "create GUI that restart QNX / rtcd"
create GUI that just start following scripts:

https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robot/reboot-robot.sh
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robot/restart-controller.sh

[2014-02-28 06:21] k-okada commented on #10
commted -> https://code.google.com/p/hrpsys-base/source/detail?r=987

[2014-02-28 06:21] #10 closed, assigned to k-okada

[2014-03-01 16:01] k-okada opened #38 "Turning off relay switch automatically turns off servo"
今は
１）リレースイッチをOFF
２）ServoOff
3)ServoOn
4)リレースイッチをON
という手順です．例えば，
１）リレースイッチをOFF（自動でServoOff->ServoOn)
２)リレースイッチをON
としたいです． (@kenji0919)

@emijah ソフトウェアからこれらの情報を知る方法はありますか？

[2014-03-02 11:09] 130s opened #39 "Set milestone: Version 1.1 release"
I'd like to set milestone to increment minor version to `1.1`.

It's already staged `1.0` and I don't expect there will be API change for this package soon. But the change is its user-base -- now that more users have started using this package both in industry and academia (combined with `rtmros_nextage`), I think now is a good time to move forward. In addition, we need to set milestone to priorit

[2014-03-02 11:13] 130s commented on #39
Created https://github.com/start-jsk/rtmros_hironx/issues?milestone=1&state=open.

Also created is `Untargetted` https://github.com/start-jsk/rtmros_hironx/issues?milestone=2&state=open, to clarify the future work for particular tickets are not guaranteed with certain schedule.

Please reopen if there's any need to discuss further.

[2014-03-02 11:13] #39 closed, assigned to nobody

[2014-03-02 11:20] 130s commented on #2
As it's stated in [this PReq](https://github.com/start-jsk/rtmros_hironx/pull/26), the segfault itself doesn't prevent unittesting nor program execution. Therefore I set it `untargetted`.

[2014-03-02 11:34] 130s commented on #6
I confirmed that running `test_hironx.py` (most likely on the ones that have `15-DOF`, not 23) causes something strange, as follows as I observed:
- An arm stop instantaneously, say less than a second, during a trajectory
- Arms make growling noise
- Calling `robot.servoOff/On` often don't return.
- With `robot.goOffpose` arms only reach the half way and servos turn off.

I'm so sure since this ha

[2014-03-02 12:10] emijah commented on #38
電源電圧をチェックするとリレーが切られているかどうか分かるはずですね。
機種によっては違うエラーかもしれないですが。
明日会社で見てみます。

[2014-03-02 13:20] k-okada commented on #38
これはDIOにつながっているでしょうか？

2014-03-02 21:10 GMT+09:00 Hajime SAITO notifications@github.com:

[2014-03-02 15:33] garaemon opened #40 "hironx_ros_bridge failed to find openhrp3"
I have this error message:

[code]

I try to build hironx_ros_bridge with openhrp3 without using apt package.

in [travis-ci](https://travis-ci.org/start-jsk/rtmros_hironx), it compile hironx_ros_bridge with openhrp3 apt package.
it means `pkg_check_modules(openhrp3)` runs successfully, but when we use openhrp3 in src directory, hironx_ros_bridge missing dependency to openhrp3.

[2014-03-03 03:35] 130s commented on #40
Ah, okay. From dependency graph, I can see `hironx_ros_bridge` depends on `openhrp3` only via `hrpsys_ros_bridge --> hrpsys` chain.

![dependency_hironx_ros_bridge_transitive_to_openhrp3](https://f.cloud.github.com/assets/1840401/2306384/06044e1e-a284-11e3-9a73-063282ec5f87.png)

[2014-03-03 03:41] 130s commented on #40
Or I'm confused. Is this ticket talking about separate issue from [the comment here](https://github.com/start-jsk/rtmros_hironx/pull/30#commitcomment-5535604)?

[2014-03-03 03:51] k-okada commented on #40
yes, this ticket was solved in https://github.com/start-jsk/rtmros_hironx/commit/827ecd290e29125576895b1997c85d69795472af, sorry for confusion.

% rqt_dep is so useful!!

[2014-03-03 03:51] #40 closed, assigned to nobody

[2014-03-03 04:08] 130s opened #44 "Explicitly declare dependency on openhrp3"
Related to https://github.com/start-jsk/rtmros_hironx/issues/40.

In general, I would suggest to avoid relying on `transitive dependency` as much as possible, instead declare the relationship for direct dependency. In ROS, even though `catkin` has a mechanism to allow transitivity, declaring direct depend is still friendly for the developers and I interpret that it's even recommended by ROS core d

[2014-03-03 04:16] k-okada commented on #44
i suppose, hironx_ros_bridge needs depends on hrpsys_ros_bridge on running time, but not needed on compile time, it only uses openhrp3 during build stage.

[2014-03-03 07:25] 130s opened #45 "Adjust setTargetPose to accept ref_frame argument"
Once hrpsys 315.1.8 is released (see https://github.com/start-jsk/hrpsys/issues/24), we **immediately** need to update `HIRONX`.`setTargetPose` to accept reference frame argument that's added there. Otherwise `setTargetPose` wouldn't work.

[2014-03-03 10:26] 130s opened #46 "What for are .conf.in and .xml.in files, and how are they used to generate .conf files?"
[Example](https://github.com/start-jsk/rtmros_hironx/tree/188065bd2174d153f4b2f6b8728b5ff50c2bf430/hironx_ros_bridge/conf)

Once I understand, I can document this somewhere reasonable.

[2014-03-03 10:35] k-okada commented on #46
conf files are openrtm-related configuration files, see [1] for example and [2] for documents. These files needs absolute path to the model file andd plugin libraries so we need to use configure_file to generate on the fly, also when we copy them from devel space to install space, we need to use sed to fix the path.

xml file is openhrp3 `project file` (see [3]) and now used to configure simulatio

[2014-03-03 11:43] 130s commented on #35
Thank you for the concern. Here's tarball from the end of that day you
should be having an access right to it:
https://drive.google.com/#folders/0Bw_hbVS3wTLyX1lzcm9GUWNTRUU
If more data may be needed I can ask the user for it.

[2014-03-04 08:21] 130s commented on #34
One of the causes that possibly realized the erroneous situation should now be addressed by [this PReq](https://github.com/130s/rtmros_hironx/commit/b31b7425c8e3a4690fadab80b7ae433784dbe0b6). We might still want to implement a more robust solution to this.

That sounds a viable option. Aiming for ver 1.1 milestone.

[2014-03-04 10:51] 130s opened #48 "Color me! Model"
From https://github.com/start-jsk/rtmros_common/issues/132

[2014-03-05 09:26] k-okada commented on #48
is there any specific request for this? which robot? which parts?? or more general question?

[2014-03-05 15:48] 130s opened #50 "Some unittests keep failing"
See for example the [travis job in this PReq](https://github.com/start-jsk/rtmros_hironx/pull/49). The job fails due to the failure in running `unittest`. And so far as I've tried number of times, there are `unit test suite` in `hironx_ros_bridge` that fail no matter what. That is a separate issue of `testcases` that need to be fixed. Since this effects my work a lot I'll look into this soon.

[2014-03-06 02:43] 130s commented on #45
Now that [`hrpsys` 315.1.8 is out in shadow-fixed](http://www.ros.org/debbuild/hydro.html?q=hrpsys) we need this issue to be addressed now.

[2014-03-06 12:08] 130s opened #52 "setTargetPose with ref_frame fails"
Using the [updated setTargetPose](https://code.google.com/p/hrpsys-base/source/detail?r=990) method that now takes `reference frame` as an argument with [this pull request](https://github.com/start-jsk/rtmros_hironx/pull/51), error occurs on simulator from `nextage_ros_bridge`, where the reference frame is different and 0.97m higher than that of `hironx_ros_bridge`:

[code]

when I call from `ipyt

[2014-03-06 12:14] 130s commented on #46
Documented [here](http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model#A.conf_and_.xml_files_in_conf_directory).

[2014-03-06 12:14] #46 closed, assigned to 130s

[2014-03-06 21:09] 130s commented on #52
Invalid. Now some commands are working so maybe I hit the `IK`'s corner case.
As a record, I paste the result that contains both good and bad commands while imulartor from nextage running. For some reason `In [5]` failed but after running `goInitial`, almost the same value worked in `In [9]`.

[code]

[2014-03-06 21:09] #52 closed, assigned to 130s

[2014-03-06 21:28] 130s opened #53 "Use both arms simultaneously in MoveIt!"
Asked by a new user to `hironx` package.

So there's a discussion in [MoveIt! ML](https://groups.google.com/d/msg/moveit-users/vV5GR2kFR9o/7Bmrs7M1D2MJ) to achieve this. If someone gives a shot and shares how to do so would be greatly appreciated.

[2014-03-06 21:32] 130s opened #54 "Can waist be added to (multilple) arm joint groups?"
Asked by a new user who wonders to include waist into the capability of both  arm groups. I think we need to think separately for `hrpsys` and `MoveIt!`.

[2014-03-06 21:41] 130s opened #55 "How does RViz receive from MoveIt! the collision data?"
This isn't a specific issue/question to hironx at all; it's rather my homework that's asked by a new hironx user.

I guess it's what [FCL returns](http://answers.ros.org/question/70822/questions-about-moveit-collision-detection/). I need to study. Don't touch. Comments welcomed though.

The new user above is wondering if there's an interface in `MoveIt!` (or directly from `FCL` if my guess is appr

[2014-03-06 21:47] k-okada commented on #54
yes, i think we can do that.

[2014-03-06 21:51] 130s commented on #54
Just improved the title to clarify what's needed.

Okay, then I'll give it a shot with hironx later.

[2014-03-06 21:52] k-okada commented on #55
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/scripts/collision_state.py with https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/launch/collision_detector.launch launch file is the good example of how to get collision state. I'm not sure on MoveIt case.

[2014-03-06 21:54] k-okada commented on #54
Do you mean that waist is shared by both arm? in that case, you may need https://github.com/ros-planning/moveit_ros/pull/431#issuecomment-36915077 and fullbody-ik. But currently there are no fullbody ik whcih is easy to use. so you may better to create one arm with waist and one arm without waist and create both arms' joint group

[2014-03-06 21:55] 130s opened #56 "Clarify how to convert into .wrl on Solidworks"
A usergroup is wondering if it's easy to convert their model into `.wrl`.
Though I'm not entirely sure if we should, it maybe user-friendly to add these kinds of info on [the tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model#Prepare_Hand_Model).

[2014-03-06 21:57] 130s opened #57 "Does Futaba hand RTC bundled in grx controller work with rtmros_hironx?"
A user who's switching to opensource controller is wondering. If so, how can it be achieved?

[2014-03-06 21:57] 130s commented on #57
@emijah

[2014-03-06 22:01] k-okada commented on #57
https://code.google.com/p/hrpsys-base/source/browse/#svn%2Ftrunk%2Frtc%2FServoController might work.

[2014-03-06 22:02] k-okada commented on #57
we created this RTC based on this manual. http://www.futaba.co.jp/dbps_data/_material_/localhost/robot/servo/manuals/RS301CR_RS302CD_114.pdf

if users uses same modules, it should work.

[2014-03-06 22:03] 130s commented on #54
That's what I thought.

I see for MoveIt! workaround.

How about hrpsys?

[2014-03-06 22:15] k-okada commented on #54
@snozawa , can you comment on this? there might be code to do this within autobalancer or somewhere?

[2014-03-07 00:07] emijah commented on #56
A full recipe is probably difficult so it may turn into a series of tips.

[2014-03-07 00:28] emijah commented on #57
Sorry @130s, I need to check github more frequently. Yes, @k-okada is right. Futaba servo drives should work. So long as the software stays away from "special" functions in the Futaba protocol, all Futaba servo drives should function properly.

[2014-03-07 00:55] YoheiKakiuchi commented on #56
One solution is using meshlab described below
https://forum.solidworks.com/thread/44730

[2014-03-07 01:02] emijah commented on #56
Nice

[2014-03-07 10:06] #45 closed, assigned to 130s

[2014-03-07 10:38] adolfo-rt commented on #54
If the goals are given in joint space, you can already create different planning groups containing the torso (arm, left-arm+torso, right-arm+torso, both-arms+torso), and they can coexist. If goals are specified in task-space, you can already plan for single end-effector groups like arm+torso, but if you want task-space goals for multiple end-effectors (both-arms+torso), ros-planning/moveit_ros#431

[2014-03-07 11:30] 130s opened #59 "Review hironx-nextageopen system component diagram for users"
Please review @k-okada, and anyone who's interested in I'll give edit right if you request against. You know I'm so bad at drawings.
https://docs.google.com/drawings/d/12jyX6fGuVDiIJpACxixHhZ_Z8IdO1yIcJhkkrJ7B0Pk/edit?usp=sharing

Doesn't have to be completely detailed but needs to be exhaustively and collectively descriptive for the robot users.

[2014-03-08 03:08] snozawa commented on #54
Currently not implemented yet in hrpsys-base/rtc/ImpedanceController/JointPathEx.cpp.
(Moreover, autobalancer is not fully migrated from JSK local repositiory to hrpsys-base repository.)

For this purpose, we just concatenate Jacobian matrix for left-arm+torso and right-arm+torso.

[2014-03-08 06:29] 130s commented on #48
This wasn't a request to change color of the current models; a user is interested in working on it instead. We might just want to provide info on how to do so.

[Related](https://github.com/start-jsk/rtmros_hironx/issues/56).

[2014-03-10 01:42] 130s opened #61 "Check the joint that's passed to setTargetPoseRelative matches the group it's in."
For example, this code "runs", but probably nobody wants to do this:

[code]

(What would happen is the left hand tries to move toward where the right hand is, and hit)

Since I assume there's no way for `hrpsys` to know which `eef` belongs to which `joint group` but [`setTargetPoseRelative` still requires both `group name` and `joint name`](http://code.google.com/p/hrpsys-base/source/browse/trunk

[2014-03-10 02:18] 130s commented on #20
Adding another concern:
- The current model file for `Hiro` doesn't include its base.
- Shape of the base is different between newer `Hiro` and older ones (`Type-B`?)

Without base, collision avoidance (eg. `MoveIt!`) works only partially.

[2014-03-10 13:25] 130s opened #62 "Head angle differs per type of Hiro"
This is a hardware difference, not a problem. I'm not sure at all if this would cause any issue. Just raising an attention here since I was asked by one of the users.

`Type-B` robot looks straight ahead ![hiro](http://wiki.ros.org/hironx_ros_bridge?action=AttachFile&do=get&target=hiro_before_move_rarm.png)

`Type-C` (incl. `NXOpen`) looks slightly down: ![nxopen_hrpsys-viewer](https://f.cloud.git

[2014-03-13 14:04] k-okada commented on #61
[code]

actually eename is not end-effector name, but that is the frame that to
calculate Relateive Pose,

On Mon, Mar 10, 2014 at 10:42 AM, Isaac Isao Saito <notifications@github.com

[2014-03-17 23:46] 130s opened #64 "Did not know github provides traffic summary"
https://github.com/start-jsk/rtmros_hironx/graphs/traffic

It also keeps track of `travis`, although I'm not sure at what level the record is correct since `travis` has only visited 3 times (expected much much more).

[2014-03-17 23:47] 130s commented on #64
Just wanted to give fyi. Closing.

[2014-03-17 23:47] #64 closed, assigned to nobody

[2014-03-18 07:04] garaemon opened #65 "hironx_moveit_config does not depend on collada_tools"
package.xml miss dependency to collada_tools and catkin_make says:

[code]

[2014-03-18 23:24] 130s commented on #57
Thank you, now closing.
For how to use hands, [this PReq](https://github.com/start-jsk/rtmros_hironx/pull/66) adds a little more api doc in HIRONX class that accesses `hrpsys`.`ServoController` to send hand commands to the hardware, and this should enable `Futaba` device.

[2014-03-18 23:24] #57 closed, assigned to nobody

[2014-03-19 01:06] 130s commented on #59
Diagram updated.

<img src="https://docs.google.com/drawings/d/12jyX6fGuVDiIJpACxixHhZ_Z8IdO1yIcJhkkrJ7B0Pk/pub?w=960&amp;h=720">

[2014-03-19 09:23] k-okada opened #67 "Adaptor b/w closed and opensource versions"
moved from https://github.com/start-jsk/rtmros_common/issues/297

For Kawada Hiro robot, some users are interested in using hrpsys-based opensource code (rtmros_hironx, hosted on this repository) while they want to keep using their applications that are built on top of robot's proprietary software. It'd be nice to have an adaptor module that allows users to continue using their existing apps while

[2014-03-19 09:27] k-okada opened #68 "Add OpenHRP3 installer script for QNX host"
moved from https://github.com/start-jsk/rtmros_common/issues/292

Originally mentioned in [1]. A script that works on user's local machine and install OpenHRP3 into the robot's internal computer fetching source from upstream repository.

For hrpsys, install script is already in use and available here: http://code.google.com/p/rtm-ros-robotics/source/browse/trunk/rtmros_hironx/hironx_ros_bridge/rob

[2014-03-19 09:28] k-okada opened #69 "(hironx/robot-compile-hrpsys.sh) install source that was used to build hrpsys #291"
moved from https://github.com/start-jsk/rtmros_common/issues/291

Discussed in [1]. From binary files only, it's time-consuming to figure out which version/snapshot of the source used to build, which therefore makes it hard to take diff between installed and upstream version.

[1] start-jsk/hironx-package#34 (comment) (closed repo)

[2014-03-19 09:50] k-okada opened #70 "(robot-compile-hrpsys.sh) "CMake was unable to find a build program corresponding to "Unix Makefiles". CMAKE_MAKE_PROGRAM is not set"
moved from https://github.com/start-jsk/rtmros_common/issues/290, see detail for original post

The script worked fine a month ago with the same robot (Nextage Open) from a different computer. Today it fails with cmake configuration.

[2014-03-19 09:54] k-okada opened #71 "Consider same functionalities and performance with existing (closed source) controller"
moved from https://github.com/start-jsk/rtmros_common/issues/276

A critical request from an advanced user of rtmros_hironx is that they want the same capability that the proprietary controller that their robot (Hiro) came with.

One of them has been already in progress: lower the minimum cartesian error limit this https://code.google.com/p/rtm-ros-robotics/issues/detail?id=267 .

Urko,
Would you

[2014-03-19 09:55] k-okada opened #72 "hironx_ros_bridge/robot/robot-*.sh"
moved from https://github.com/start-jsk/rtmros_common/issues/272

These installation scripts for QNX, which doesn't come with any package management tools as convenient as apt etc., turned out very useful.

Some enhancement ideas:

E1. Flag the version of source that is used to build binaries.
E2. Error messages that give you hint of why always help.

For E2 I'll add some messages to reflect my ex

[2014-03-19 13:05] k-okada commented on #59
Sorry for late, that seems better,
1) what's is the difference between Uses/Sends
2)  It may depends on how you interpret this diagram, but hrpsys(rtcd) does not run Ubuntu side, it is running on QNX side
- use different shape for different concept / layer
-  1) two main concept is QNX/Ubuntu hardware machine  and ROS/OpenRTM communication world
-  2) then we have package name layer (openrtm_aist,

[2014-03-19 13:21] k-okada opened #73 "do not run dangerous test code on real robot"
see https://github.com/start-jsk/rtmros_hironx/pull/60 for the reason

[2014-04-04 12:41] 130s commented on #53
[This pending pull request](https://github.com/ros-planning/moveit_ros/pull/431) in MoveIt! upstream is related. I assume that ultimately we want to depend on this new feature.

[2014-04-07 03:05] 130s commented on #65
Before adding `collada_tools` to `package.xml`, can I ask what is the most appropriate way to obtain the package? Its ROS `deb` doesn't seem to have been released yet and I'm afraid depending on it might not pass the buildfarm.

[2014-04-07 03:53] 130s opened #74 ""Couldn't find executable named collada_to_urdf" while catkin_make"
Related to https://github.com/start-jsk/rtmros_hironx/issues/65, local build fails.

Using 1d9e3c8b773dfa8bc40ec6d9ac59f0e7d734d474
All rtm-ros upstream are already built from source w/o error.

Now I noticed that I used to have in my %CATKINWS% `src/jsk-ros-pkg`, which served the missing file but now I've removed.

[code]

[2014-04-07 04:04] 130s commented on #50
This is critical; In order to use unittests as a criteria for the regression test, I think it's essential to have testcases that don't fail under good condition. Otherwise we can't tell what causes the tests to fail.

[2014-04-07 04:30] k-okada commented on #50
we shold update .travas yaml to check both compile with hrpsys soucecode (for developpers) and hrpsys deb (for released code) code, see
https://github.com/start-jsk/rtmros_common/blob/master/.travis.yml
for example.

still, we'll have problem, I think [1] is the issue. and we'll use retry tag[2] to avoid the problem.
- [ ] [1] [https://code.google.com/p/hrpsys-base/issues/detail?id=192](https://gi

[2014-04-07 05:26] k-okada commented on #74
Are you put jsk-ros-pkg in src directory? if so, collada_to_urdf, collada2eus should include in following catkin packages.

[code]

[2014-04-07 05:28] garaemon commented on #74
jsk_model_tools is the repository which include collada_to_urdf.
https://github.com/jsk-ros-pkg/jsk_model_tools

[2014-04-07 06:49] k-okada commented on #65
collada_tools is not released yet [1], and since we'd like to release rtmros_hironx, we'd better not to depend to collada_tools.

[1] https://github.com/jsk-ros-pkg/jsk_model_tools/issues/14

[2014-04-07 06:51] k-okada commented on #65
@YoheiKakiuchi how different collada_urdf of
https://github.com/ros/robot_model/tree/indigo-devel/collada_urdf/src and https://github.com/jsk-ros-pkg/jsk_model_tools/blob/master/collada_tools/src/collada_to_urdf.cpp, can we use robot_model version of collada_urdf for oridinaly users? if not we have to release and maintain  jsk_model_tools very carefully

[2014-04-07 06:54] 130s commented on #65
There's no immediate need for releasing new version of hironx at the
moment, but I expect there'll soon be.

[2014-04-07 06:57] 130s commented on #74
I used to have their source, but now I removed it for clarity.

I think this ticket is basically the same with what's being discussed in #65 so close this.

[2014-04-07 06:57] #74 closed, assigned to nobody

[2014-04-07 09:27] k-okada commented on #65
I noticed that we did discussed same issune on
https://github.com/start-jsk/hironx-package/issues/28#issuecomment-23391729
;-9

[2014-04-07 09:33] YoheiKakiuchi commented on #65
https://github.com/ros/robot_model/tree/indigo-devel/collada_urdf/src and https://github.com/jsk-ros-pkg/jsk_model_tools/blob/master/collada_tools/src/collada_to_urdf.cpp are the same program.
collada_to_urdf.cpp is not exist in groovy-devel, so collada_to_urdf.cpp in jsk-ros-pkg is reamining.

[2014-04-15 18:16] 130s commented on #59
Though not complete, I changed a lot. The image in the previous comment should reflect the change.

[2014-04-15 18:56] 130s commented on #65
I'm not sure if I understand correctly, but then can we replace `collada_tools` with `collada_urdf` on G and H like this?
- (current) `rosrun collada_tools collada_to_urdf <input-urdf> <output.dae>`
- (new) `rosrun collada_urdf collada_to_urdf <input-urdf> <output.dae>`

(I'm still figuring out why catkin `hironx_moveit_config` on buildfarm passes where `collada_tools` shouldn't be available.)

[2014-04-15 19:10] 130s opened #75 "Problem about hironx_ros_bridge with real robot"
From @hyaguchijsk [here](https://github.com/tork-a/rtmros_nextage/issues/60)

---

Hi all,

I'm trying to run hironx_ros_bridge with hiro014,
and I got following error.

[code]

It seems to be a problem around sh.rtc,
and sh.rtc is not found in nameserver.

[code]

Does anyone have any idea?

regards,

[2014-04-15 19:16] 130s commented on #75
I can't find the same issue in my logbook. [This thread](https://groups.google.com/forum/#!topic/rtm-ros-robotics/bR3deX-SD10) is about the same error message on another robot. I think we want to look at the log files stored in `QNX`. Unfortunately _as of now_ there's no easy way to look at it other than logging on to it and look at `/opt/jsk/var/log`.

[2014-04-15 19:16] k-okada commented on #65
I think so.

And collada_tools will replaced by collada_urdf_jsk_patch

https://github.com/jsk-ros-pkg/jsk_model_tools/issues/20

[2014-04-16 01:48] 130s opened #76 "Install scripts in robot folder"
@k-okada Is there any reason why the scripts in [hironx_ros_bridge/robot](https://github.com/start-jsk/rtmros_hironx/tree/groovy-devel/hironx_ros_bridge/robot) are not installed?

[2014-04-16 01:50] k-okada commented on #76
No, I just forget.

[2014-04-16 01:54] 130s commented on #76
I see, will be added shortly

[2014-04-16 01:58] 130s commented on #75
@hyaguchijsk one thing you can do w/o logging in to QNX is to run diagnosis script from your computer.

As of today you need source at hand (#76).

[code]

[2014-04-16 02:02] k-okada commented on #76
Yes please, but I didn't finalize(confirmed) these script yet, maybe we'd better to test them on https://github.com/start-jsk/rtmros_hironx/issues/75

[2014-04-16 02:05] k-okada commented on #76
For example, https://github.com/tork-a/hironx-package/commit/60f5e3c5e81199d23e33bdef4472d984789e5743#commitcomment-5457997 said that

[code]

should invoke

[code]

but current version of
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robot/startJSK.sh.in
still execute `shm_iob_hiro`.

[2014-04-16 02:05] 130s commented on #76
Got it. We'll wait

[2014-04-16 05:59] hyaguchijsk commented on #75
[code]

[2014-04-16 23:08] 130s commented on #75
Could you also send `robot-system-check-hiro014.log`?
And given that you have a login access, the most informative is to look at the log files in `/opt/jsk/var/log` (sorry we need to add a remote logging feature).

And once we secured enough log files, you could also just reboot QNX if you're in hurry.
http://wiki.ros.org/rtmros_nextage/Tutorials/Operation%20on%20QNX#Daily_Operation

[2014-04-17 03:30] hyaguchijsk commented on #75
robot-system-check-hiro014.log is:

[code]

and I also checked /opt/jsk/var/log.
Please let me know if you need more information.

Nameserver.log:

[code]

ModelLoader.log

[code]

rtcd.log:

[code]

[2014-04-17 16:35] 130s opened #79 "Add sample code"
Originally pinged here https://github.com/jsk-ros-pkg/jsk_recognition/issues/52#issuecomment-40711011

Currently there's not much sample codes out there, not huge package either, so putting them into an existing package should be enough (once we have more samples, separating package will give us flexibility).

[2014-04-18 13:19] 130s commented on #75
@k-okada might have figured it out.

`tl;dr`; Run `ipython` script to create `HIRONX` class.

Turned out the tutorial isn't properly ordered; Run `hironx.py` script BEFORE you run `ros_bridge`. Otherwise the same issue might happen. I've [changed the wiki accordingly](http://wiki.ros.org/action/recall/rtmros_nextage/Tutorials/Operating%20Hiro%2C%20NEXTAGE%20OPEN%20from%20Client%20Pograms?action=re

[2014-04-18 14:39] hyaguchijsk commented on #75
@130s @k-okada Thank you! I got it.
According to wiki, `hironx_ros_bridge` runs successfully.

Also I tried to use moveit!, it works well with HIRO014.
Note that it requires `ros-hydro-moveit-full-pr2` in my environment.

[code]

[2014-04-20 06:17] k-okada opened #80 "create jenkins job"
In order to make sure that if the PR is really breaks downstream package or not, I created jenkins job at http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/rtmros-common-check/

It does:
- apt-get ros-hydro-hironx-ros-bridge
- catkin_make install rtmros_common from source
- (remove hrpsys-ros-bridge, rtmbuild, hrpsys-tools just in case)
- check test code in hironx-ros-bridge

[2014-04-20 06:22] k-okada opened #81 "test code is for simulation or real robot?"
currently test code is configured to work on real robot [1].
but it is strange that in test launch file[2], it seems to designed to working on simulaiton, because it uses corba port 2809, not 15005 which rea lrobot is using[3].

Currently, I'm working on simulation (https://github.com/start-jsk/rtmros_hironx/issues/80) and would like to confgure test code for simulation environment, but I think yo

[2014-04-20 06:26] k-okada opened #82 "test code says OK even if it fail to connect RobotHardware"
Currently http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/rtmros-common-check/ said ok for hydro, but actually we have problem as reported on https://github.com/start-jsk/rtmros_hironx/issues/81.

the ros test[1] said

[code]

but actually it was

[code]

[1] http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/rtmros-common-check/DEBIAN_REPOSITORY=ros-shadow-fixed,ROS_DISTRO=hydro,slave=ec2/113/consol

[2014-04-20 06:32] k-okada opened #83 "groovy/release does not depends on pr2_controllers"
due to this http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/rtmros-common-check/ did not pass on groovy

This can be solved add new patch at
https://github.com/tork-a/rtmros_common-release/blob/patches/release/groovy/hrpsys_ros_bridge/0001-omit-dependency-to-pr2.patch, that fixes
https://github.com/tork-a/rtmros_common-release/blob/debian/groovy/hrpsys_ros_bridge/debian/control.em, to add pr2_cont

[2014-04-20 09:37] k-okada commented on #75
@hyaguchijsk can you file a ticket to https://github.com/start-jsk/rtmros_hironx/issues

[2014-04-21 04:45] 130s commented on #81
- using the same command is the greatest.
- Slight difference with arguments are acceptable IMO.

So I think I've got working copy of utilizing .launch file where you can
run tests both from Sim and real robot with the same rostest command, with
only passing different arguments.

[2014-04-21 09:56] k-okada commented on #81
Yes, that seems good.
Currently, we have implicit rule that all test code run in travis has .test suffix.
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/.travis.yml#L73

test-hironx.test -> for simulation
test-hironx-real.launch -> for real

seems good. Do you have time on working on this?

[2014-04-21 14:16] #75 closed, assigned to nobody

[2014-04-24 01:27] 130s commented on #81
Got it. I'll also need to document the testing principle (eg. Different use cases between .launch and .test files) somewhere.

[2014-04-29 01:52] k-okada commented on #81
I have modified test code for travis at -> https://github.com/start-jsk/rtmros_hironx/pull/86
- change test code for simulation (current version assuming it works on real robot)
- speed up test motion and relax test condition (i'm not fully sure if it is ok, but without this travis randomly fail to test  https://github.com/k-okada/rtmros_hironx/commit/c59adc93f0c04386e34be903087650f7f0c81ff7)
- ev

[2014-04-29 02:56] k-okada commented on #81
I forget to note one thing, I think deb did not pu__init__.py to the /opt/ros/hydro/lib/python2.7/dist-packages/hrpsys_ros_bridge, this seems very critical bug but strange that no one complain on this.

https://github.com/k-okada/rtmros_hironx/commit/689edac1e73547cb631837afd0e91d59af6f9001#diff-354f30a63fb0907d4ad57269548329e3R70

[2014-04-29 11:21] 130s commented on #81
I might have taken the intension of this ticket in a wrong way; I thought we wanted to use the same test files for simulation and real robots, but the [suggested change](https://github.com/k-okada/rtmros_hironx/commit/1f598f0972bec06d5d6feb3062b79c67ecd7da5f) looks like the opposite.

If this is making things better I'm fine. But then I'd like to know what tests I can use with real robots.

What I

[2014-04-29 16:18] k-okada commented on #81
You're correct. we want test code that works for both simulation and real robot. But since I want to include hironx's test code in rtmros_common and hrpsys-base backward compatibility test[1][2] and it seems this issue will not completed with in a few days, I write that patch. and leave original intention of this issue open.
If you think I should change this file working on both real and simulatio

[2014-04-30 09:28] k-okada commented on #81
@130s, can we merge https://github.com/start-jsk/rtmros_hironx/pull/86? or do I have to wait for following feature? since this PR is the beginning of https://github.com/start-jsk/rtmros_common/issues/449 and I'm afraid some one merge newer code and brake my PR again....

[2014-04-30 09:41] 130s commented on #81
[code]

Makes sense.
I'll merge #86 now.

[2014-04-30 10:04] #65 closed, assigned to nobody

[2014-04-30 10:18] 130s commented on #37
Not sure but https://github.com/start-jsk/rtmros_common/pull/434 may have addressed this? I'll test it anyway.

[2014-04-30 10:25] 130s commented on #79
Overturning what I said above, [a deciaion is made](https://github.com/tork-a/delivery/issues/8#issuecomment-41382706) to create a new package specifically for sample code. `hironx_demo` in `rtmros_hironx` suite?

[2014-04-30 10:27] 130s commented on #36
I take this over

[2014-04-30 10:40] k-okada commented on #79
That's seems ok,

My original idea is to create new `repository` (sorry that I confused in https://github.com/tork-a/delivery/issues/8#issuecomment-41382706)  so that when ever we run the test code for that repository (via travis or jenkins), it checks if delivered deb works with demo code.

I basically do not like to increase the number of repository, because it is hard to maintain. if you like a

[2014-04-30 10:45] 130s commented on #50
[code]

I see. When I originally opened this ticket I wasn't aware of it; I was only caring the following, but indeed there may be cases when the selection of `hrpsys` source becomes the issue:
- testing with real robot
- pre-release test and build on ROS buildfarm

(I suspect that the majority of hironx users would keep using `.deb` though.)

[code]

I think because we are aware other issues as f

[2014-04-30 11:33] 130s commented on #61
Should I add a change to `hrpsys`.`HrpsysConfigurator` or does this only need to be implemented in `hironx_client`?

[2014-04-30 11:43] 130s commented on #32
Looks like this was fixed at sometime ago.

[code]

[2014-04-30 11:43] #32 closed, assigned to 130s

[2014-04-30 13:22] k-okada commented on #79
so users will launch

jsk_pcl_ros/launch/openni_local.launch in the robot (the machine connected to the device)

and

jsk_pcl_ros/launch/openni_remote.launch in the machine that is remote from the real robot

is it right? or verse vasa?

[2014-04-30 14:58] k-okada commented on #50
do you mean that we have wait someone fixed (https://code.google.com/p/hrpsys-base/issues/detail?id=192) ?

[2014-04-30 15:02] k-okada commented on #61
basically we try to think about implement in upstream code, so i think it is better to  consider if it is possible to change `hrpsys.HrpsysConfigurator` first

[2014-04-30 17:02] k-okada commented on #50
currently hironx test code sometime did not pass as follows, maybe somewhere around acceleration test or something.

[code]

[2014-04-30 23:47] emijah commented on #50
As a user, I'd just like to mention that for heavy users, who want to modify code, being able to compile from source is crucial.
Thank you for your work, and hope to contribute a bit more in the future.

[2014-05-01 10:49] 130s opened #88 "Separate tutorial into operation and programming"
This tutorial "[Operating Hiro/NEXTAGE OPEN from Client Programs](http://wiki.ros.org/rtmros_nextage/Tutorials/Operating%20Hiro,%20NEXTAGE%20OPEN%20from%20Client%20Pograms)" is too large, and mixes operation and programming that makes finding what readers want harder. Split into 2 tutorials.

[2014-05-01 14:53] k-okada commented on #88
+1

[2014-05-02 08:38] 130s commented on #55
Thank you, for `hrpsys` collision detection (once hrpsys collision detection is sufficiently enabled on hiro (ie. #36, and maybe a few more tickets) I think I'll have to document it).

For MoveIt!, the following diagram from [Overview page](http://moveit.ros.org/wiki/Environment_Representation/Overview#Collision_Checking) explains well.

<img src = "http://moveit.ros.org/distros/current/w/images/9

[2014-05-02 15:21] 130s commented on #34
Talked to @k-okada and we think we want the robot to "FREEZE" when there's no `tf` published.

In more general note, we want a nice low-level measure to freeze robots from any movement when there's a critical error detected in the higher level. And this ticket's issue is an example. https://github.com/start-jsk/rtmros_hironx/issues/36 as well. I'll open a ticket in `hrpsys-base`.

[2014-05-03 00:18] 130s commented on #36
Title changed, becauase servo-off at collision situation might just make things even worse by releasing held objects etc.
- old) servo off (or stop motion) when collisions are detected
- new) Stop motion when collisions are detected

After https://github.com/start-jsk/rtmros_hironx/issues/89 is merged, which is a visualizer of detected collision, we can add a feature to stop the motion (maybe in `

[2014-05-03 00:29] 130s commented on #36
[Ticketed](https://github.com/fkanehiro/hrpsys-base/issues/215)

[2014-05-03 00:33] 130s opened #90 "Use MoveIt! for trajectory in HIRONX class"
See https://github.com/tork-a/rtmros_nextage/issues/47#issue-27142080 for the idea, pros and cons.

[code]

[2014-05-03 00:41] 130s opened #91 "Implement more permissible tolerance"
Moved from https://github.com/tork-a/rtmros_nextage/issues/29. And now [the feature in MoveIt! seems to be ready for test](https://github.com/ros-planning/moveit_ros/issues/402).

[2014-05-03 16:52] k-okada commented on #36
this is always discussion on which is better because servo off has less
chance to break robot (because another approach is that robot have chance
to stop motion even if there are collision, due to model error, that means
the servo system keep running and increase motor/circuit temperature and
may lead to  burn), but offcourse we do not want to drop off the
tools/object if servo off. Usually academ

[2014-05-03 18:59] 130s opened #92 "What for *_nosim.conf files?"
Question to @k-okada
`catkin_make`ing `hironx_ros_bridge` package yields some `*.conf` and `_nosim.conf` files in `conf` directory. What is the difference between them?

`nosim` gives an impression of "no simulation" so that ones without `nosim` might be "simulation". ~~But as long as I look at the contents of those files I feel the opposite; `nosim` files contains more adhoc file paths and seem t

[2014-05-05 08:08] 130s commented on #36
Thank you for the valuable summary (@fkanehiro cites the similar concern at https://github.com/fkanehiro/hrpsys-base/issues/215#issuecomment-42092017 as well). Humbly speaking I have no idea what the ultimate decision must become like, but at this moment it looks like the discussion diverges after good length of period, so I'd suggest to add first a small, simple feature to `Stop Motion` to give u

[2014-05-05 08:46] 130s commented on #79
@k-okada this comment looks like supposed to be added somewhere else?

[code]

[2014-05-05 08:50] 130s commented on #79
Agreed to reduce the number of repositories if possible. And dependency system in post-rosbuild era is nice enough to eliminate redundantly depend on `stack`/`metapackage`, adding packages that only contain sample/tutorial under the same metapackage suite does not cause any problem at all I think.

[2014-05-05 09:14] 130s commented on #61
Thank you, this should be addressed in #87.

[2014-05-05 10:34] snozawa commented on #34
I'm not sure that I could understand all discussion, but is this "FREEZEING" necessary for hrpsys-base?

I'd like to know which situation is related to your discussions:
1. If tf is not aveilable, stop the current executing motion sent to SequencePlayer previously.
2. If tf is not aveilable, do not send further setJointAngles command to SequencePlayer and
   just wait for execution of current exec

[2014-05-05 16:44] k-okada commented on #90
Although [class HIRONX(HrpsysConfigurator):](https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L58) is located under `hironx_ros_bridge`, `HrpsysConfigurator` is designed to only depends on hrpsys/OpenRTM and may be we need to create new class that depends on ros system.

we have euslisp client based on similar idea[1], [2], but n

[2014-05-05 17:01] k-okada commented on #92
nosim is simulation without dynamics, and the other one is simulation with dynamics.

so maybe we need kawada_hironx_real.conf for real robot.

[2014-05-05 17:21] k-okada commented on #36
currently you can achieve stop motion by
- get current angle vector
- send that data to the robot with time = 0.1 ( I'm not sure if time = 0 works)

so you can implement this in hironx_client.py level and may be this is good starting point.

[2014-05-05 17:21] k-okada commented on #36
Of course, if you already working on this, you do have to stop that.

[2014-05-05 17:23] k-okada commented on #79
creating new repo is one advantage that is can be used for test code that check debianized rtmros_hironx works or not. (easily)

[2014-05-06 08:43] 130s commented on #92
I see.

It's already added in my proposed change https://github.com/130s/rtmros_hironx/commit/8081dacac2dba5c06941d8d9e0117b5f52a775f5

[2014-05-06 09:32] 130s commented on #79
That sounds like more assuring factor to me. I'll then create a separate repo for demo.

[2014-05-08 01:52] 130s opened #94 "Rename HIRONX.goActual?"
If I understand correctly,
- HIRONX.`goInit` moves arms to certain pose (involves physical state change).
- HIRONX.`goActual` adjusts the commanded values to the actual values of the physical devices (involves NO physical state change).

So calling the 2nd method as `goActual` might be confusing (at least to me). Don't know what is common way to call these things but maybe something like `adjustAc

[2014-05-08 02:28] k-okada commented on #94
so this is used to adjust hrpsys state for physical state, especially when physical (or actual) state has changed.

The names comes from https://github.com/fkanehiro/hrpsys-base/blob/master/idl/StateHolderService.idl#L14 so I don't think it's good idea to change names only for hironx.

May be change the name from `goInit` -> `goInitPose` make sence? since we alread have `goOffPose`

[2014-05-08 03:28] 130s commented on #94
Yes, sounds reasonable.

`go` makes me think of actual, physical movement. Maybe because of that, I can't recall `goActual` off the top of my head when I want to do calibration.

Ok, I'll close on this repo. And I'm afraid this would break api, and maybe a bit too trivial. So I don't know if it's worth opening a discussion in `hrpsys`.

[2014-05-08 03:28] #94 closed, assigned to 130s

[2014-05-09 07:41] 130s opened #96 "Split installation tutorial into 2 parts for novice and advanced users"
[Installation tutorial](http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine)

Currently this wiki page flows by the order of the tasks, and detail of each task is added per task, which might confuse novice users who are only interested in simple installation tasks.

[2014-05-09 12:52] 130s commented on #96
Done in [this commit](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine?action=diff&rev2=19&rev1=18) on ROS wiki.

[2014-05-09 12:52] #96 closed, assigned to nobody

[2014-05-12 11:05] 130s opened #97 "Add more detail for contribution to the package"
Some user group novice to ROS and opensource development, asked how they can contribute, both for software and documentation. Yes how to do so may vary per community so we better clarify briefly.

[2014-05-12 11:07] 130s commented on #97
Started in [a new tutorial page](http://wiki.ros.org/rtmros_nextage/Tutorials/To%20Contribute%20Back)

[2014-05-12 17:33] 130s commented on #97
Done [at minimum](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/To%20Contribute%20Back?action=diff&rev2=3&rev1=2).

[2014-05-12 17:33] #97 closed, assigned to 130s

[2014-05-13 16:03] 130s opened #98 "Add test with depth camera integrated + OpenCV"
Possible requirement:
- Unit tests need to be camera device independent (ie. works wih `Kinect`, `ueye` and else).
- If not on real robot, test may just run what are available in [vision_opencv](https://github.com/ros-perception/vision_opencv/tree/indigo/cv_bridge/test) package (no test for camera).
- On real robot, test might involve sample code that processes image taken by camera and process wi

[2014-05-16 14:23] k-okada commented on #98
On comment on this is there are no good collection of opencv application node, we create that in https://github.com/jsk-ros-pkg/jsk_recognition/tree/master/jsk_perception/src and tum also have similar package at http://sourceforge.net/p/tum-ros-pkg/code/HEAD/tree/perception/, but there are no complete package. Usually people write they own vision node for each task and I think that is just a re-in

[2014-05-23 08:48] 130s commented on #92
So does this change sound even better?
- Change `_nosim` --> `_sim_nodynamics`
- Change the one without attribute --> `_sim_dynamics`
- Add `_realrobot`

[2014-05-23 08:57] k-okada commented on #92
I think this is ok.

but

they are autogenerated at https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/cmake/compile_robot_model.cmake#L95, so if we change the name, we'd  have to change `comile_robot_model.cmake`, and the it causes side-effects to many packages.

[2014-05-23 09:02] 130s commented on #92
I see. So,
- I'll add document (ros wiki might be the best for now) for `nosim` etc.
- Does `_realrobot` file also need to be auto-generated? If not I'll just commit a `XX_realrobot.conf` file.

[2014-05-23 11:00] k-okada commented on #92
Yes please

no, currently it is not auto generated and we do not have such plan at this moment

[2014-05-23 17:16] 130s commented on #92
[Added document on wiki](http://wiki.ros.org/action/info/hrpsys_ros_bridge?action=diff&rev2=4&rev1=3) about difference of conf files.

Static files for real robots are added ([hironx_realrobot_fixedpath.conf](https://github.com/start-jsk/rtmros_hironx/commit/bb0672be3e03e5366e03fe50520e215302b8419f#diff-bc99caa4dda21aa9b0feed9836141a80) and [hironx_ros_bridge_real.launch](https://github.com/start-

[2014-05-23 17:16] #92 closed, assigned to nobody

[2014-05-23 17:56] 130s commented on #50
No, I didn't mean that.

For https://code.google.com/p/hrpsys-base/issues/detail?id=192 in particular, because it looks like happens only once in 10 times or so, it's ignorably trivial isn't it (there are other failure situations that are due to many other random reasons that we don't necessarily investigate)?

[2014-05-23 17:57] 130s commented on #50
After a while unit tests are succeeding (eg. within [this travis build 13 tests passed](https://travis-ci.org/start-jsk/rtmros_hironx/builds/25851129)) and they seem to function as their purpose. However, some other issues that are linked from this ticket are not yet resolved. So I still keep this one open in case there might be underlining issues regarding tests.

[2014-05-24 05:41] k-okada commented on #50
I haven't checked the travis log but, test code is sometimes too strict . I'm not sure what's happens exactly but for example if travis is too crowded and there are no enough resources, then the sequencer did not respond as we expected. so sometimes we need to change test condition as
https://github.com/start-jsk/rtmros_hironx/commit/9bbd5412417deb858084c6f565389bafaef6eabb
https://github.com/star

[2014-05-26 15:55] 130s commented on #79
[Created a separate package](https://github.com/tork-a/hironx_tutorial/commits/master) and [released into hydro](https://github.com/ros/rosdistro/pull/4534).

[2014-05-26 15:55] #79 closed, assigned to 130s

[2014-05-28 07:41] 130s opened #100 "Review model files relationship diagram"
Since 3 formats are involved, it's not the simplest. So I made a diagram.

![diagram](https://docs.google.com/drawings/d/1r1YDeLS4iXwk6Vl2qOg9tAIqt7UeoPHeRwya7fHBY4c/pub?w=809&h=546)

I also posted this into [tutorial for creating a model for new end effector](http://wiki.ros.org/rtmros_nextage/Tutorials/Changing%20Nextage%20Grippers%20in%20Robot%20Model#Convert_To_Semantic_Model_for_RTM-ROS_world

[2014-05-28 11:28] 130s commented on #55
Looks like through [Planning Scene](http://docs.ros.org/hydro/api/pr2_moveit_tutorials/html/planning/src/doc/planning_scene_ros_api_tutorial.html) in MoveIt! you can get a trigger of when the collision occurs in C++. See [tutorial](http://moveit.ros.org/wiki/Environment_Representation/C%2B%2B_API#Getting_Contact_Information).

My guess is that combining something like follwoing would do:
1. Watch

[2014-05-28 18:00] k-okada commented on #100
@YoheiKakiuchi have that file, and he poseed somewhere but I could not find them
comment from @snozawa of https://github.com/jsk-ros-pkg/jsk_common/issues/219 also related and valuable.

[2014-05-28 21:29] 130s commented on #100
Nice! @snozawa's [diagram in this comment](https://github.com/jsk-ros-pkg/jsk_common/issues/219#issuecomment-37400953)is helpful.
![diagram](https://camo.githubusercontent.com/0906f17e860fbfbd39ae3459ff6f261a8e63dcbc/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f363130323238372f323339363731352f39633163323039362d613964652d313165332d386638612d6233326337303530616635622e706e67)

[2014-05-29 22:03] 130s opened #101 "Add tutorial about how to edit launch file"
This is about very generic ROS usage but still worth mentioning for novice users.

To modify launch files you might get tempted to edit files originally installed by apt on under /opt/ros, which is a bad habit in Linux. Cloning the source code from package upstream repository is recommended in general if you want to add any changes. This way, however, you lose the updates that might happen in the

[2014-05-30 07:10] YoheiKakiuchi commented on #100
![hrpsys_gazebo_figs](https://cloud.githubusercontent.com/assets/2408164/3127927/578022b0-e7c9-11e3-8563-a435af681554.png)

This is another diagram including package name.

[2014-05-30 07:38] snozawa commented on #100
I think it would be better to merge my diagram and @YoheiKakiuchi 's one.
In @YoheiKakiuchi , ros package names are explicitly written.
In my diagram, which parser programs are used is described.

I can send the file to @YoheiKakiuchi .

[2014-05-31 00:23] 130s opened #102 "Let HIRONX.getCurrent{ Pose, Position, RPY } return eef of both arms with empty argument"
Is it a bad idea?

Every time I started using these methods, I forgot the exact spelling of joint names and thus have to search the name of joint by `robot.Groups`.  And I personally never looked up to other joints than joint-5.

So with what I propose users would be able to do something like:

[code]

[2014-05-31 02:18] 130s opened #103 "HIRONX .setTargetPose doesn't show anything on its terminal upon IK failure"
The method returns without showing anything (other than printing the input value) about the failure.

On simulation, only on the terminal where `hironx_starup.launch` runs (where `hrpsys.launch` runs), I see that IK solution was not found.

[code]

I think user of `HIRONX` doesn't (have to) always pay attention to this terminal above. Moreover this output may not be visible when running on real ro

[2014-05-31 06:16] 130s commented on #80
I'm not sure what is the purpose of this issue.
The `jenkins` job linked seems to be disabled. Is this issue already addressed somewhere else?

[2014-05-31 06:29] 130s opened #105 "(rostest locally) terminate called after throwing an instance of 'std::bad_alloc'"
https://github.com/start-jsk/rtmros_hironx/commit/6b5a1f2822a7a85172384a3fac116bd74d40001b with some code added (this [PReq](https://github.com/start-jsk/rtmros_hironx/pull/104)), I get these error and tests don't run.

[code]

`rtmros_common` source https://github.com/start-jsk/rtmros_common/commit/84f080f9652fc769957d5d2457eaa9559d815310 on Hydro

[2014-05-31 06:40] 130s commented on #105
The problem is gone now that I removed source of `rtmros_common`.

[code]

[2014-05-31 06:40] #105 closed, assigned to nobody

[2014-06-01 03:25] k-okada commented on #102
As long as it did not break backward compatibilit, i think it is valuable.
This should be updated in rtmros_common, may be hrpsys_config.py

[2014-06-01 03:32] k-okada commented on #103
Good point this should be fixed in hrpsys_cinfig.py at rtmros_common
First step is just simply say something wrong if it returns failure
If you would like to return the error message, we need to create another idl interface to do that

[2014-06-01 03:38] k-okada commented on #80
Jenkins job is disabled since we're using travis. If there are any reason if travis did not work and need jenkins server, feel free to enable that.

[2014-06-04 05:34] 130s opened #107 "hironx init pose may not be set factory initial value"
I don't know if this applies to all Hiro but for some newer robots, the pose `HIRONX.goInitial` sets is different from its factory initial pose.

For `NextageClient`, [it's adjusted](https://github.com/tork-a/rtmros_nextage/commit/1391e19961c80784e5ad510dcee1dd50aa708934#diff-74831e17eddab0218a7f6d7fbc024a30).

Unless there's a need I want the same value for `HIRONX` so that I can use the same cod

[2014-06-04 05:44] emijah commented on #107
It may have been there from the beginning.
The default value for GRX was
   [-0.6,  0, -100,  15.2,  9.4,  3.2],
   [ 0.6,  0, -100, -15.2,  9.4, -3.2],
However, the new values should be the ones used to check joint alignment.

[2014-06-09 16:14] k-okada commented on #107
what is `factory initial pose` ???
the pose which the robot is set after the calibration?

On Wed, Jun 4, 2014 at 2:44 PM, Hajime SAITO notifications@github.com
wrote:

[2014-06-14 10:17] 130s commented on #107
I meant `factory initial pose` as the one manufacturer uses for calibration. As I said, initial pose of `NextageClient` is already set with the manufacturer's value.

If this suggestion is acceptable, I'll apply the change. Then we need to notify the current users since this might break their application program.

[2014-06-16 00:47] k-okada commented on #107
Let me clear the situation

What is the reason of changing initial pose to factory calibration pose?(What's the dis-advantage of `goInitial()` is different from `factory initial pose`?)

Does `factory initial pose` happen only after `checkEncoders()` ? what's will happens if we put `goInital` in the end of `checkEncoders()` function?

Basically,

[code]

is better than

[code]

because, the angle

[2014-06-16 01:28] 130s commented on #107
What I want is:
- (1st Priority) To have a common pose  `goInitial` in the class `HIRONX` and `NextageClient`.
- To have factory init pose as a readily available option; For some hardware tests where manufacturer is involved (eg. acceptance test at their office, which most of all users basically have nothing to do with), they use factory initial pose.

I doesn't matter when the factory init pose h

[2014-06-16 04:27] emijah commented on #107
Yes I agree too.

[2014-06-17 02:01] hyaguchijsk opened #111 "How to control hands via ROS"
Hi all,

I'm trying to control hands.
I found some methods in `hironx_client.py` and checked with hiro014,
but I could not find any methods via ROS.
How can I control hands from my own ros node?

regards,

[2014-06-17 02:44] k-okada commented on #111
please check if https://github.com/fkanehiro/hrpsys-base/tree/master/rtc/ServoController is running and corresponding ROS-Bridge is also compiled and running. if so,https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L173 code will take care of controlling hands.

[2014-06-17 10:48] hyaguchijsk commented on #111
`ServoController` is running as `sc.rtc` and I can control hands via `hironx_client.py`.
When using this, my own code should import `hironx.py` directly,
like,

[code]

and args `-- --robot RobotHardware0 --modelfile /opt/jsk/etc/HIRONX/model/main.wrl --host hiro014 --port 15005` should be set.
I think this is not smart way, and also this can runs only with Python nodes.

So I'd like to control ha

[2014-06-17 13:48] k-okada commented on #111
Please check if ServoControllerROSBridge is running. if not, please test  with https://github.com/start-jsk/rtmros_hironx/pull/112, this code also requires some information on conf file(https://github.com/fkanehiro/hrpsys-base/blob/master/rtc/ServoController/ServoController.cpp#L81), please check hiro machine with
`grep -ri servo.devname ~/" command. I think we have previous setup somewhere.

also

[2014-06-17 19:54] 130s commented on #103
Thank you, I created a [tentative patch](https://github.com/fkanehiro/hrpsys-base/pull/233) against `hrpsys-base`. At least with that patch users can know that errors are happening, however it's not yet sufficiently pleasant for those who want to look at the actual IK error values.

[2014-06-17 19:54] #103 closed, assigned to nobody

[2014-06-18 11:25] hyaguchijsk commented on #111
OK, hands can be controlled via ROS using this. thanks.

`servo.devname` is defined at
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robot/Robot.conf.in#L9

I've checked with hiro014, and this worked well with pretty diff.

[code]

[2014-06-18 11:25] #111 closed, assigned to nobody

[2014-06-18 11:36] k-okada commented on #111
could you send pull request for you change ? and also it would be very helpful if you write new tutorial such as Using HiroNX Grippers (servo grippers) on http://wiki.ros.org/rtmros_nextage/Tutorials,  I'm pretty sure that @130s will correct English

[2014-06-18 11:46] hyaguchijsk commented on #111
I created PReq to @k-okada repo, please check.

[2014-06-19 14:51] #107 closed, assigned to nobody

[2014-06-20 00:25] 130s opened #114 "On OSX, robot-system-check.sh does not recognize hostname and username"
It's trivial since the program runs fine on Ubuntu bash but from OSX 10.9.3 bash [robot-system-check.sh](https://github.com/start-jsk/rtmros_hironx/blob/b6a38ef28add6ea2e1e58193ada3e2ea11e44af5/hironx_ros_bridge/robot/robot-system-check.sh) returns an error.

[code]

Host name is found as "-l" and username as "h". Looks like something in [`getopt` line](https://github.com/start-jsk/rtmros_hironx/b

[2014-06-23 00:00] 130s opened #117 "Release 1.0.15"

[2014-06-23 00:00] 130s commented on #117
Prerelease on hydro [failed](http://jenkins.ros.org/job/prerelease-hydro-rtmros_hironx/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=prerelease/1/consoleFull) with lots of corba connection error. [Retriggered](http://jenkins.ros.org/view/Prerelease/job/prerelease-hydro-rtmros_hironx/2/console) just in case it was just a hiccup on jenkins.

[2014-06-23 03:15] k-okada commented on #117
i think failing prerelease is due to missing corba server on prelease machine, see https://github.com/ros-infrastructure/jenkins_scripts/issues/67

[2014-06-23 06:56] 130s commented on #117
Hhm I see. I'll try to work this around

[2014-06-23 08:18] 130s commented on #117
Stumbled upon https://github.com/start-jsk/rtmros_common/issues/416#issuecomment-46816601 while trying to add a script to start `omninames`.

[2014-06-28 02:15] 130s opened #120 "Add "start up guide" (a page-long or similar)"
Examples available online:
- [PR2](http://wiki.ros.org/pr2_robot/Tutorials/Starting%20up%20the%20PR2)
- [Baxter Reseach](http://sdk.rethinkrobotics.com/wiki/Getting_Started)

[2014-06-30 06:33] 130s opened #122 "robot-system-check-base looks for strange file?"
[code]

About [md5sum_usr_pkg_lib.py](https://github.com/start-jsk/rtmros_hironx/blob/671525c6d98a67d0ffe5167a744840ff2aa096fc/hironx_ros_bridge/robot/check/md5sum_usr_pkg_lib.py),
- Under `/usr/pkg/lib/perl5/5.10.0/Getopt/`,  `Std.pm` and `Long.pm` are contained. So why `not found on database`?
- it doesn't contain the folder `/usr/pkg/lib/perl5/5.10.0/Get/opt`. Other md5sum py files either.

[2014-06-30 06:34] k-okada commented on #122
please confirm database files that is used for create your db file

On Mon, Jun 30, 2014 at 3:33 PM, Isaac Isao Saito notifications@github.com
wrote:

[2014-07-01 13:51] 130s opened #128 "Add acceptance test via ROS api"
Implements the same tasks that [this `hrpsys` version does](https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/test/acceptancetest_hironx.py).

[2014-07-02 07:28] 130s commented on #122
Closing since https://github.com/tork-a/delivery/issues/27 (private repo) is now good.

[2014-07-02 07:28] #122 closed, assigned to nobody

[2014-07-03 02:56] 130s opened #132 "How to control by velocity using MoveIt! isn't clear"
Problem is:
- Lack of document in hironx how to do so.
- MoveIt! might lack some features too.
  - Specify time to goal ([ticket](https://github.com/ros-planning/moveit_ros/issues/368))
  - Velocity control per request (i.e. not per application. [Discussion](https://groups.google.com/forum/#!topic/moveit-users/7n45S8DUjys))
  - Else

At lease document is necessary for what is possible.

[2014-07-06 08:02] 130s opened #136 ""herror: [Errno 1] Unknown host" when connecting from script/nextage.py"
Very very similar to https://github.com/tork-a/rtmros_nextage/issues/25. Because that was resolved almost half an year ago it's worth opening a new ticket.

Log on Ubuntu:

[code]

Some logs on QNX:

[code]

[2014-07-06 08:18] k-okada commented on #136
の前にprint hostnameをいれて，
pythonを手元であげて，

を確認してみて下さい．

[2014-07-06 08:22] k-okada commented on #136
メモ：
https://github.com/tork-a/rtmros_nextage/issues/25#issuecomment-35306732
https://github.com/tork-a/rtmros_nextage/issues/25#issuecomment-35305570
の辺はちゃんとフォローしきれていなさそう．

[2014-07-06 08:48] 130s commented on #136
[code]

[2014-07-06 08:49] k-okada commented on #136
ifconfig
netstat -nr

On Sun, Jul 6, 2014 at 5:48 PM, Isaac Isao Saito notifications@github.com
wrote:

[2014-07-06 09:07] 130s commented on #136
Solved by adding to `/etc/hosts` on Ubuntu:

[code]

Replace `%qnx_hostname%` with what `$ hostname` returns on QNX.

Where this should be fixed, in code / installation level?

[2014-07-06 09:14] k-okada commented on #136
at lease we should add warning(you must chec if you defined hostname in /etc/hosts or dns) on code, do you have time to do that? or should I do that?

[2014-07-06 09:17] k-okada commented on #136
I'm not sure what is

[code]

mean? what happens if we remove this code?

[2014-07-06 09:21] k-okada commented on #136
please check with

[code]

[code]

will not work (trailing '/' is important)

[2014-07-06 09:29] 130s commented on #136
Ok, reopen until warning will be added, assigning myself.

Can't find a reference but I suspect `CORBA` might have historical reason to prefer host name? Not sure.

[2014-07-06 14:02] 130s opened #138 "Integrate low level operation gui tool into hrpsys_dashboard (hiro-nxo only)"
Discussed in https://github.com/tork-a/delivery/issues/32
Some challenges:
- `hrpsys_dashboard` is an opensource tool, while the gui tool in question is made by Kawada and will not likely be disclosed.
- `hrpsys_dashboard` is a more generic tool than just staying in hironx level.

[2014-07-06 15:16] 130s opened #140 "Hironx? Nextage Open? Decide policy folder name policy"
Continued from https://github.com/k-okada/rtmros_hironx/commit/8260c66b673d75be157c810b69be675b4fd62d75#commitcomment-6905991, and https://github.com/start-jsk/rtmros_hironx/commit/34437dd16be1b9e884c140979caffc9ad83e0cb5#commitcomment-6905457

I guess there are two types of folder name conventions that involve robot's name (`Hiro` or `Nextage Open`) we may want to follow:
- Model file: Since even

[2014-07-06 15:20] 130s commented on #140
A question; do we want to separate install-related script ([like this](https://github.com/start-jsk/rtmros_hironx/pull/137)) for Hiro and NXO?

[2014-07-07 00:15] k-okada commented on #140
if you can manage two different script separately, please do so, but I suggest concentrate on NXO at this time, to avoid confusion and/or worry about  HIRO.

[2014-07-07 04:06] 130s commented on #117
Pre-release using `latest` also [failed](http://jenkins.ros.org/job/prerelease-hydro-rtmros_hironx/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=prerelease/7/consoleFull). Both test suite (`test_test-hironx.test`, `test_test-hironx-ros-bridge.test`) failed, which doesn't make sense.

There's also [an issue going on for someone else](http://answers.ros.org/question/184834/jenkins-fail-on-installing-r

[2014-07-07 04:06] #117 closed, assigned to nobody

[2014-07-07 04:07] k-okada commented on #117
did you confirm that current settings failed in travis?

On Mon, Jul 7, 2014 at 1:06 PM, Isaac Isao Saito notifications@github.com
wrote:

[2014-07-07 04:08] k-okada commented on #117
https://github.com/tork-a/rtmros_nextage/issues/78#issuecomment-48107550

this is strange, because we should noticed this situation on travis

On Mon, Jul 7, 2014 at 1:07 PM, Kei Okada k-okada@jsk.t.u-tokyo.ac.jp
wrote:

[2014-07-07 04:19] 130s commented on #117
I assume travis didn't fail back then (I don't usually release a repository where travis fails).

But for this particular case, I just realized that 1.0.15 might not pass buildfarm, due to these 2 commits that were made after 1.0.15 tag (adding omninames script in test files):
- https://github.com/start-jsk/rtmros_hironx/commit/8da15d68f8ca1413e98c7a8ffa6d5492d9136314
- https://github.com/start-js

[2014-07-07 04:21] 130s opened #141 "Release 1.0.16"
Ref. https://github.com/start-jsk/rtmros_hironx/issues/117#issuecomment-48139847

[2014-07-08 03:29] 130s commented on #141
[Done](https://github.com/ros/rosdistro/pull/4958)

[2014-07-08 03:29] #141 closed, assigned to 130s

[2014-07-08 04:53] 130s commented on #120
Started [here](http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users)

[2014-07-08 04:59] k-okada commented on #120
good may I help?
- Power the computers -> this should be contributed from hardware manufactular
- Connect to the robot -> http://wiki.ros.org/rtmros_nextage/Tutorials/Operating%20Hiro%2C%20NEXTAGE%20OPEN%20from%20Client%20Pograms#With_a_real_robot
- Do the simplest move ->  http://wiki.ros.org/rtmros_nextage/Tutorials/Operating%20Hiro%2C%20NEXTAGE%20OPEN%20from%20Client%20Pograms#Operate_robot_via

[2014-07-08 09:33] 130s opened #147 "Show arm's workspace"
Not urgent. A user wants to know if there's a tool to visually show the workspace of both arms. hrpsys / ROS doesn't matter, though I imagine something on RViz.

Quick search for ROS returns these but haven't tried:
- http://answers.ros.org/question/46052/is-there-any-workspace-analysis-tool-in-ros-for-a-robot-arm/
- http://answers.ros.org/question/75325/workspace-exploration-from-urdf/

[2014-07-09 00:55] 130s commented on #141
Pre-release test failed but the release build has already created DEBs in shadow-fixed. Apparently something wrong is happening in pre-release farm.

[2014-07-09 00:58] 130s opened #149 "ROS sample code in C++"
Ideally should be done within the month of July 2014.

A potential user asked if there are `C++` samples since his students are more familiar with it than `python`. Rewriting #128 in C++ might suffice.

[2014-07-09 02:11] k-okada commented on #120
http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users

[code]

I think location of model file is differnt

[2014-07-09 02:17] k-okada commented on #120
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/test/acceptancetest_hironx.py#L216 tells we do not need '--robot RobotHardware0' if we use "--host" option, and "--port" is also not required, default  value is ok (https://github.com/fkanehiro/hrpsys-base/blob/master/python/rtm.py#L267),

[2014-07-09 02:18] k-okada commented on #128
if you need help on writing this code, please let me know.

[2014-07-09 02:20] k-okada commented on #128
I think we need, hrpsys version, ROS/Python version, ROS/C++ version, MoveIt version.

[2014-07-09 03:07] 130s commented on #128
Thank you for the offer! For the user I'm working with right now, at least we need hrpsys ([added](https://github.com/start-jsk/rtmros_hironx/commit/76a8f3868367f28fccbf44f367ec41007ceeec59#diff-e63ac1f487a7784813b73e698d8bebde)) and ROS-python version until July 18th.

Just spreading my thoughts for ROS samples; I thought for using `JointTrajectoryControl` in ROS we need to add controller for it.

[2014-07-09 03:13] k-okada commented on #128
rtmros_common already provide pr2_controllers_msgs::JointTrajectoryAction / control_msgs::FollowJointTrajectoryAction. so you do not need to add controller.
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/src/HrpsysJointTrajectoryBridge.cpp#L223.

As for moveit, I think you're right

[2014-07-09 15:09] 130s commented on #120
I thought we agreed on sticking to `/opt/jsk/etc/HIRONX` for now to focus on the current installation work. https://github.com/start-jsk/rtmros_hironx/commit/f3e04bcd438b25d75bdbf0b55ce165e797e08105#diff-aec30a089e4808217be1e325e9920063R42

[2014-07-09 15:14] 130s commented on #120
Thank you, [applied](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users?action=diff&rev2=17&rev1=16).

[2014-07-09 15:17] k-okada commented on #120
Oh, I missed that. Ok

[2014-07-10 07:08] 130s opened #160 "robot-compile-setup.sh puts NXO model files into wrong directory inside the robot"
[This line](https://github.com/start-jsk/rtmros_hironx/blob/f3e04bcd438b25d75bdbf0b55ce165e797e08105/hironx_ros_bridge/robot/robot-compile-setup.sh#L42) puts the model files from the `models` directory in `nextage_description` package into `/opt/jsk/etc/HIRONX/models`, but the robot system expects the folder to be `model` without "s".

[2014-07-10 07:12] k-okada commented on #160
`the robot system` which system?

[2014-07-10 07:14] k-okada commented on #160
[code]

[2014-07-10 08:23] 130s opened #161 "During checkEncoders function halts for longer than 10 seconds before it returns"
On a new robot, does not return for awhile. After the first jerk (2 "jerky" moves are expected during this method `HIRONX.checkEncoders`) the arms and everything stayed still. After 10 or more seconds the 2nd jerky move occurs and the function returns.

Latest lines from `/opt/jsk/var/log/rtcd.log`:

[code]

Other moves using `hrpsys` seems to be working fine ([acceptance test script](https://gith

[2014-07-10 08:25] k-okada commented on #161
そのロボットはハンドはどうなっていますか？
[ServoSerial] Failed to send packet to servo(id:9)

はラジコンサーボのハンドようですが．

On Thu, Jul 10, 2014 at 5:23 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-10 08:47] k-okada commented on #161
ラジコンサーボでなければ，
https://github.com/tork-a/rtmros_nextage/blob/hydro-devel/nextage_ros_bridge/src/nextage_ros_bridge/nextage_client.py#L168
の行はいらないですね．

[2014-07-10 08:48] 130s commented on #161
Only grippers are missing, other setting is normal as the manufacturer says.

[2014-07-10 08:50] k-okada commented on #161
ラジコンサーボはついていて，グリッパの機構がない，ということでそしょうか？それともラジコンサーボ付きのグリッパがついていないという事でしょうか？

On Thu, Jul 10, 2014 at 5:48 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-10 08:52] k-okada commented on #161
サーボというのは
https://www.google.co.jp/search?q=%E3%83%A9%E3%82%B8%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%BC%E3%83%9C&client=ubuntu-browser&espv=2&es_sm=125&source=lnms&tbm=isch&sa=X&ei=FVS-U9esIcmNkAXskoGoDg&ved=0CAgQ_AUoAQ&biw=1360&bih=693
の事です

2014-07-10 17:49 GMT+09:00 Kei Okada k-okada@jsk.t.u-tokyo.ac.jp:

[2014-07-10 09:44] 130s commented on #34
Just leaving a memo; just saw this happened on a new robot that was experiencing [network issue](https://github.com/start-jsk/rtmros_hironx/issues/33). Why this issue is so dangerous is that users might not realize the impact (i.e. it's very likely that robot hits the base when giving any command while this issue is happening).

[2014-07-10 09:51] 130s commented on #161
Commenting out [this line](https://github.com/tork-a/rtmros_nextage/blob/8748174c5a7af461f43fa17c43802bf66bab6f2d/nextage_ros_bridge/src/nextage_ros_bridge/nextage_client.py#L168) like below wasn't effective.

[code]

No radi-con servo nor gripper attached.

[2014-07-10 10:14] 130s commented on #161
I mean [this line](https://github.com/tork-a/rtmros_nextage/blob/8748174c5a7af461f43fa17c43802bf66bab6f2d/nextage_ros_bridge/src/nextage_ros_bridge/nextage_client.py#L168) in `nextage_client.py` in this case, not `hironx_client.py`.

[code]

No good yet.

[2014-07-10 10:24] 130s commented on #161
With `ServoController` line commented out, the error `[ServoSerial] Failed to send packet to servo(id:9)` is gone. Also rebooted QNX os. Looks like this now:

[code]

[2014-07-10 10:30] k-okada commented on #161
[code]

はhrpsys-base内で出しているコードでは無いので、製作者に何故failedになるか聞いて下さい

[2014-07-10 11:08] 130s commented on #161
Thank you for the catch. Closing since the manufacturer has confirmed that he sees an issue happening in the proprietary code layer. Being investigated now.

[2014-07-10 11:08] #161 closed, assigned to 130s

[2014-07-10 11:41] 130s opened #163 "(rtcd, ModelLoader etc.) Separate log messages per their source"
Telling the source of log messages is not easy if appropriate prefix is missing, and in those cases problem isolation requires expert knowledge ([example](https://github.com/start-jsk/rtmros_hironx/issues/161)).

Because `rtcd` and other core components of hiro-nxo robots are in the lower level (`hrpsys` or even lower than that) this isn't the right place to discuss it, but I thought I just raise

[2014-07-10 11:58] 130s commented on #161
Btw the proprietary library is just fixed now and this issue no longer occurs to me.

[2014-07-10 13:42] k-okada commented on #163
log messages of ModelLoader is written to ModelLoader.log, not rtcd.log
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robot/ModelLoader.sh.in#L16

[2014-07-10 23:36] 130s commented on #37
Continued in https://github.com/start-jsk/rtmros_hironx/issues/138

[2014-07-10 23:36] #37 closed, assigned to 130s

[2014-07-11 01:35] #2 closed, assigned to nobody

[2014-07-11 01:35] #5 closed, assigned to 130s

[2014-07-11 01:35] #44 closed, assigned to nobody

[2014-07-11 01:36] #35 closed, assigned to nobody

[2014-07-11 01:39] k-okada commented on #161
pleas ask manufacturer if we can test checkEncoders() function from our test code at https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robot/check/create-hrpiob-check.py#L11
or you may ask if

[code]

works or not.

[2014-07-11 01:40] #11 closed, assigned to k-okada

[2014-07-11 01:40] #6 closed, assigned to 130s

[2014-07-11 01:43] k-okada commented on #20
closing due to not updating more than a month, please re-open if it still needed

[2014-07-11 01:43] #20 closed, assigned to nobody

[2014-07-11 01:44] k-okada commented on #62
closing. if we still need some action for this, please reopen this ticket

[2014-07-11 01:44] #62 closed, assigned to nobody

[2014-07-11 01:47] #67 closed, assigned to nobody

[2014-07-11 01:48] #68 closed, assigned to nobody

[2014-07-11 01:48] #69 closed, assigned to nobody

[2014-07-11 01:48] #70 closed, assigned to nobody

[2014-07-11 01:48] #71 closed, assigned to nobody

[2014-07-11 01:48] #72 closed, assigned to nobody

[2014-07-11 01:59] k-okada commented on #53
closing due to https://github.com/ros-planning/moveit_ros/pull/431 has been merged, please reopen if you need this.

[2014-07-11 01:59] #53 closed, assigned to nobody

[2014-07-11 02:00] #54 closed, assigned to nobody

[2014-07-11 02:04] #76 closed, assigned to nobody

[2014-07-11 02:07] #83 closed, assigned to nobody

[2014-07-11 02:08] #48 closed, assigned to nobody

[2014-07-11 02:09] k-okada commented on #38
@emijah ソフトウェアからこれらの情報を知る方法はありますか？

[2014-07-11 02:10] #82 closed, assigned to k-okada

[2014-07-11 02:10] #56 closed, assigned to k-okada

[2014-07-11 02:11] #59 closed, assigned to nobody

[2014-07-11 02:12] #91 closed, assigned to nobody

[2014-07-11 02:16] 130s opened #164 "servoOn always returns -1"
== What I saw ==
Running `servoOn` after servo turned off should usually work. But yesterday it always required calibration on a dialogue. `checkEncoders` runs fine and all work after that seemed fine.

== Fix ==
Turned out [an issue in a calibration module in the proprietary layer that didn't return right values](https://github.com/start-jsk/rtmros_hironx/issues/161#issuecomment-48591374) caused

[2014-07-11 02:16] #164 closed, assigned to nobody

[2014-07-11 02:17] #50 closed, assigned to 130s

[2014-07-11 02:19] #55 closed, assigned to 130s

[2014-07-11 02:22] k-okada commented on #36
@130s, @emijah what does `stop` mean? if this is just servo off, then I can fix soon, if this means stop motion and need to resume, we have to wait for https://github.com/fkanehiro/hrpsys-base/issues/215 discussion

[2014-07-11 02:24] #81 closed, assigned to 130s

[2014-07-11 02:24] #73 closed, assigned to nobody

[2014-07-11 02:24] #80 closed, assigned to 130s

[2014-07-11 02:30] #61 closed, assigned to 130s

[2014-07-11 02:37] k-okada commented on #136
this has been fixed in https://github.com/fkanehiro/hrpsys-base/issues/248

[2014-07-11 02:37] #136 closed, assigned to 130s

[2014-07-11 02:56] 130s commented on #163
Related https://github.com/start-jsk/rtmros_common/issues/482

[2014-07-11 05:30] 130s opened #165 "How to see installed hrpsys version on QNX"
For `OpenHRP3` I can see by the following but how about `hrpsys`?

[code]

[2014-07-11 07:32] 130s commented on #36
I meant `stop motion, resume` as per the title, and wonder what I can do to proceed https://github.com/fkanehiro/hrpsys-base/issues/215 discussion.

[2014-07-11 08:14] 130s commented on #138
I ran from `hrpsys_dashboard` rqt plugin, clicked `Servo On` when calibration is already done and servo was turned off, I got dialog:

[code]

[code]

[2014-07-11 13:29] k-okada commented on #36
i think https://github.com/fkanehiro/hrpsys-base/issues/215 may takes long
for both discussion and implementation, so my suggestion is to start with
`just stop` function.

On Fri, Jul 11, 2014 at 4:32 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-11 13:50] k-okada commented on #138
Do you use simulation? Or real robot? If you use simulation wait for https://github.com/fkanehiro/hrpsys-base/pull/200, as for real robot, please check with rosservice list and rtcat -a nextage:15005/RobotHardware0.rtc

[2014-07-11 14:12] k-okada commented on #165
https://github.com/fkanehiro/hrpsys-base/issues/181
にあるように，プラグインの中に埋め込まれているので，
プログラマブルに知ることができるようになっています．
ファイルとしては以下になるでしょうか．
https://github.com/fkanehiro/hrpsys-base/blob/master/CMakeLists.txt#L81

何処かに書いたほうがいいですかね．どうしましょうか．言い合いであればfkanehiro/hrpsys-baseにPRしておいておくのがよさそうですね．

On Fri, Jul 11, 2014 at 2:30 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-13 23:30] 130s commented on #138
I ran on a real robot (newly installed NXO). I'll do necessary checking by the end of this week.

[2014-07-14 11:02] 130s commented on #33
Just a record; this happened when we were using VisionPC/Ubuntu to provide a router feature by [Shorewall](http://www.shorewall.net/) so that there were multiple NICs. Note that unlike the situation reported above, even `eth0` was connected to the `QNX`. So we ended up disabling `Shorewall` without looking into the issue deeper.

[2014-07-15 04:48] emijah commented on #38
調査しています

[2014-07-17 01:57] 130s commented on #33
Added to [troubleshooting page](http://wiki.ros.org/rtmros_nextage/Tutorials/Known%20Troubleshoots#No_or_less_tf_published) as a better reference for users.

[2014-07-20 07:27] 130s commented on #128
Done in https://github.com/start-jsk/rtmros_hironx/pull/171

That was helpful for me to know that the ROS controllers are already running. In the PReq above, however, because I wasn't sure how to call the running action clients from those `Action`s from python, I ended up generating new `SimpleActionClient`s for each joint group. Hope it's not too redundant, but if it is we can replace it.

[2014-07-20 07:27] #128 closed, assigned to 130s

[2014-07-22 13:47] k-okada commented on #128
On Sun, Jul 20, 2014 at 4:27 PM, Isaac I.Y. Saito notifications@github.com
wrote:

I think this is usual way to write action client,
if you can search all ros service that reads
control_msgs::FollowJointTrajectoryActionGoal, then you can create action
client on demand as
https://github.com/jsk-ros-pkg/jsk_pr2eus/blob/master/pr2eus/robot-interface.l#L102

[2014-07-23 04:32] 130s opened #173 "servoOn failed in checkEncoders (very rare)"
I've never seen this, but @emijah from manufacturer said this issue can happen.

== Phenomenon ==
At the very end of `checkEncoders` emergency stop was triggered and servo turned off (in hardware level). Red lamp blinked on the chest.
AFAI understand from what @emijah explained to me this happens when [goActual](https://github.com/start-jsk/rtmros_hironx/blob/ac59574d81cc061a75f558a6c8838b5676c77a

[2014-07-23 04:43] 130s commented on #138
Tested on NXO where `hrpsys` inside of QNX is a bit old. I tried both `servoOn` and `servoOff`.

[code]

[2014-07-23 04:45] k-okada commented on #138
RobotHardwareServiceROSBRige should be launched

On Wed, Jul 23, 2014 at 1:43 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-23 05:44] emijah commented on #173
Just to clarify.

The delay in question concerns the following sequence in HrpsysConfigurator.checkEncoders.
https://github.com/fkanehiro/hrpsys-base/blob/master/python/hrpsys_config.py#L1238

[code]

The time it takes to go from completing initializeJointAngle() and completing servo() defines the amount of time the arms are allowed to drop due to gravity. If the arms drop beyond the servo error l

[2014-07-23 05:50] k-okada commented on #173
so
1) we do not need to execute 'self.rh_svc.power('all', SWITCH_OFF)', since servo is already off in initializeJointAngle
2) time.sleep(0.1), before goAction(), not after

[2014-07-23 15:47] #138 closed, assigned to k-okada

[2014-07-24 07:56] 130s opened #176 "robot/robot-compile-openrtm.sh fails while untar-ring OpenRTM tarball"
Using [this version of robot-compile-openrtm.sh](https://github.com/start-jsk/rtmros_hironx/blob/f9e33cf7f63e2e24fbad431b2c906e73a91aba2e/hironx_ros_bridge/robot/robot-compile-openrtm.sh).

[code]

Simply untar-ring the tarball without using this script fails.

[code]

[2014-07-24 08:01] k-okada commented on #176
two resons
1) /tmp/OpenRTM..tgz is owned by another user
2) /tmp/OpenRTM..tgz is somehow corrupted

I re-download /tmp/OpenRTM...tgz, so now it should work

On Thu, Jul 24, 2014 at 4:56 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-07-24 08:07] 130s commented on #176
Thank you, it works now.

[2014-07-24 08:07] #176 closed, assigned to nobody

[2014-07-24 09:02] 130s opened #178 "servoOn on hrpsys dashboard unavailable until HIRONX.init"
To replicate the issue,
1. robot.goOffPose
2. Tried `servoOn` from dashboard but error dialog pops up.

   Error msg also printed on the ros_bridge terminal (didn't copy the log..) `RobotHardwareROSBridge` returns some errors.
3. `ipython -i`rospack find nextage_ros_bridge`/script/nextage.py -- --host nextage`
4. Then 2 works as expected.

[2014-07-24 09:07] k-okada commented on #178
please copy the log....

[2014-07-24 11:28] 130s commented on #178
Pop up says:

[code]

Message on the ros_bridge terminal:

[code]

And, I cannot reproduce the error with [the step above](https://github.com/start-jsk/rtmros_hironx/issues/178#issue-38609800).

I still see this, only when the robot isn't yet calibrated. Do we want to add a feature to allow calibration from the GUI?

[2014-07-24 11:28] #178 closed, assigned to nobody

[2014-07-24 11:42] k-okada commented on #178
that's interesting

[code]

does this mean send goOffPose from GUI ? or python, if it is python you already run `HIRONX.init()`??

[2014-07-26 06:38] 130s opened #180 "(robot-compile-openrtm.sh) not installed under designated folder"
With the PReq https://github.com/start-jsk/rtmros_hironx/pull/179, OpenRTM seems not installed under `/opt/jsk` where it's supposed to be.

[code]

In [here](https://github.com/130s/rtmros_hironx/blob/robot_build_openrtm/hironx_ros_bridge/robot/robot-compile-openrtm.sh#L57)

[code]

`./configure --prefix=/opt/jsk` might be ignored somehow?

[2014-07-29 13:09] k-okada commented on #180
ok, i created jenkins server so pleae check -> http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/qnx-hrpsys-build/14/console

I also created patches to download tgz under /tmp/$$ to avoid permission problem, see http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/qnx-hrpsys-build/ws/*.patch for code, and if this is ok, please merge them

[2014-07-31 07:40] 130s opened #184 "API diagram is now available"
[<img src="https://docs.google.com/drawings/d/1H1GLYfBmZ7JRnBhKubCrptav34fCfZzn3W9PEO_5pgI/pub?w=977&amp;h=515">](https://docs.google.com/drawings/d/1H1GLYfBmZ7JRnBhKubCrptav34fCfZzn3W9PEO_5pgI/edit)

[2014-07-31 07:42] 130s commented on #184
Volunteer to add update is welcomed on request-basis at [Google Drawings page](https://docs.google.com/drawings/d/1H1GLYfBmZ7JRnBhKubCrptav34fCfZzn3W9PEO_5pgI/edit).

[2014-07-31 07:42] #184 closed, assigned to nobody

[2014-08-01 11:09] 130s commented on #88
Done. Programming part is moved to [a new tutorial page](http://wiki.ros.org/rtmros_nextage/Tutorials/Programming).

Btw the both operation and programming parts look very complicating to me. Who wrote that? Okay it's me. I need to review and add necessary changes. They look terrible.

[2014-08-01 11:09] #88 closed, assigned to 130s

[2014-08-02 00:44] 130s opened #185 "(Please ignore this. Testing only)"
testing house.

[2014-08-02 00:46] 130s commented on #185
testing comment

[2014-08-02 01:04] 130s commented on #185
comment no.2

[2014-08-02 01:04] #185 closed, assigned to 130s

[2014-08-02 01:05] 130s opened #186 "(Please ignore this. Testing only pt.2)"
testing fish

[2014-08-02 01:08] #186 closed, assigned to nobody

[2014-08-02 01:08] 130s opened #187 "(Please ignore this. Testing only pt.3)"
pole bear express

[2014-08-02 01:12] #187 closed, assigned to nobody

[2014-08-04 23:06] 130s opened #191 "After 1.0.20 Travis keeps failing only for Hydro"
[This commit](https://github.com/start-jsk/rtmros_hironx/commit/73055a6eefacc73abb24d3563e3cc33a951cf61e) is the latest commit as of now, which [travis was successful](https://travis-ci.org/start-jsk/rtmros_hironx/builds/31307225) with. But the last couple of days travis keeps failing for Hydro ([example](https://travis-ci.org/start-jsk/rtmros_hironx/builds/31600814)).
I suspect something might be

[2014-08-05 02:07] k-okada commented on #191
now travis fails as follows https://s3.amazonaws.com/archive.travis-ci.org/jobs/31600819/log.txt
that's different than I saw a hour ago, and I could not reproduce this error on my local environment. I'll restart travis again

[code]

[2014-08-05 02:08] k-okada commented on #191
https://s3.amazonaws.com/archive.travis-ci.org/jobs/31666346/log.txt fails as follows: this is understandable.

[code]

[2014-08-05 10:20] iory opened #195 "Tutorial improvements"
**_Update**_ For brevity I (@130s) summarized the following list.
- [x] Split installation into standard and advanced
- [ ] index number of toc is different from that of the body
- [x] Operation page is confusing. Need a summary.
- [x] Better to have a dedicated page for GUI.
- [x] typo
- [x] Review programming by RTM (`hrpsys`) section
- [x] Add ROS Client tutorial. Currently only RTM client is e

[2014-08-05 12:30] iory opened #196 "Current Robot state doesn't synchronise with Start State by Moveit when using RViz planning plugin"
Ubuntu 12.04 (Precies)

 When using RViz planning plugin, the current robot state (by simulator) doesn't synchronise with Start State (by Moveit).
It doesn't synchronise until you click "Update".
So if you uses this function on real robot (not simulation),  be careful.

http://wiki.ros.org/rtmros_nextage/Tutorials/Programming

[2014-08-05 16:04] 130s commented on #191
I see. But why this error suddenly started happening a few days ago is still in the question. I suspected any change in upstream;

https://github.com/start-jsk/rtmros_hironx/blob/83886a4d17a16772d7883447e1753363dd4a12a5/hironx_ros_bridge/test/test_hironx_ros_bridge.py#L198

[code]

I guess `tf` seems to be the only upstream component related in the erroneous part, but that hasn't changed since hal

[2014-08-06 02:05] k-okada commented on #191
one possibility is https://github.com/fkanehiro/hrpsys-base/pull/276

On Wed, Aug 6, 2014 at 1:04 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-08-07 03:26] 130s commented on #149
@iory is aming to address this.

[2014-08-07 03:34] 130s opened #202 "Port to ROS Indigo"
This is a mid-term project. Aiming within the year 2014 might be a good goal.
- [x] Indigo-nize RTM dependencies incl. `OpenRTM-aist` (https://github.com/start-jsk/openrtm_aist_core/issues/55), `OpenHRP3`, `hrpsys`, `rtmros_common`
- [x] Indigo-nize `pr2_controllers`, or replace it with equivalent (e.g. ros_control or ROS-Industrial)
- [x] Test well on a real robot!
- [x] #348 TF issue rooted in c

[2014-08-07 08:14] 130s commented on #191
#197 resolved this. Thank you @k-okada

[2014-08-07 08:14] #191 closed, assigned to nobody

[2014-08-07 23:27] 130s opened #203 "Suppress IK error output multiple lines"
travis truncating after 10,000 lines makes analyzing its error hard. One possible way to shorten the error output might be to shring the IK error lines. https://travis-ci.org/start-jsk/rtmros_hironx/jobs/31588104#L8514

[2014-08-09 15:41] k-okada opened #208 "Request for release 1.0.21"
As discussed in https://github.com/fkanehiro/hrpsys-base/pull/287#issuecomment-51438483, we need to release new version to pass test of hrpsys-base
Feel free to assign me this job if needed

[2014-08-09 15:43] k-okada commented on #208
Need to include https://github.com/start-jsk/rtmros_hironx/pull/197  in deb package

[2014-08-11 09:57] 130s commented on #208
[Done for Hydro](https://github.com/ros/rosdistro/pull/5248).

For Groovy, `bloom` complains it cannot find the following package, neither do I on [debuild page](http://www.ros.org/debbuild/groovy.html?q=pr2_control). I guess it might be the time for us to waive Groovy support.

[code]

[2014-08-11 09:57] #208 closed, assigned to 130s

[2014-08-11 13:57] k-okada commented on #208
hironx_ros_bridge depend on hrpsys_ros_bridge and  does not have to directory depends on hrpsys, pr2_controllers_msgs, they are depended from hrpsys_ros_bridge.

[2014-08-11 14:04] k-okada commented on #208
see https://github.com/start-jsk/rtmros_hironx/pull/211

[2014-08-11 23:59] 130s commented on #45
Just as a reference, direct fix to this issue was discussed in https://github.com/fkanehiro/hrpsys-base/issues/184

[2014-08-12 00:09] 130s opened #212 "Which frame HIRONX.getCurrentPose refers to"
After https://github.com/start-jsk/rtmros_hironx/issues/45, we are now able to specify the frame for the pose of the eef to root from.

[code]

About get*Pose methods, `getCurrentPose` and `getReferencePose`, which frame do they refer to, is unclear.

This question rises from a user who owns both `Hiro` and `NEXTAGE OPEN` where the position of the link chain root is different in z direction (the m

[2014-08-12 02:52] 130s opened #213 "Add VRML model file"
Right now the model file available in [hironx_ros_bridge/models](https://github.com/start-jsk/rtmros_hironx/tree/f9d323957da6e420dd5c587284d5c7d0e984099d/hironx_ros_bridge/models) folder has 24-DOF. But the one inside of Hiro (Opensource version) is 15-DOF.

As far as I'm aware, the setting above confuses the result of `getJointAngles()`; the array returned contains 24 for the simulation and 15 wi

[2014-08-14 01:09] k-okada commented on #213
one problem on vrml model of hiro is that is not opensourced yet. (but somehow
collada model is opensoured). providing 15DOF version of collada model is nice.

[2014-08-14 06:22] iory commented on #195
It is hard to understand that itemization of rtmros_hironx page.
I missed install for Advanced Purposes.
So I think that this page treats a "For Advanced Purposes" another pages.

http://wiki.ros.org/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine

---

Programming Hiro (Open) / NEXTAGE OPEN
http://wiki.ros.org/rtmros_nextage/Tutorials/Programming
In this page, t

[2014-08-15 03:52] iory opened #218 "terminate called after throwing an instance of 'omni_thread_fatal'"
I often see:

[code]

In `~/.ros/log/20bf2a0e-242e-11e4-bf4e-60a44caf77a8/hrpsys_profile-10-stdout.log`,

[code]

In `~/.ros/log/20bf2a0e-242e-11e4-bf4e-60a44caf77a8/hrpsys-3-stdout.log`:

[code]

[code]

[2014-08-15 09:35] k-okada commented on #218
are you using vmware?

On Fri, Aug 15, 2014 at 12:52 PM, ioryz notifications@github.com wrote:

[2014-08-15 10:12] iory commented on #218
I was not using vmware.

[2014-08-15 10:44] iory commented on #195
1. Customize behavior in HIRONX / NextageClient
   http://wiki.ros.org/rtmros_nextage/Tutorials/Programming

this tutorial's goal it to change inital position of nextage and hironx.
it is unified by changing 'hironx_client.py"  , it is necessary to modify the tutorial.

[2014-08-15 10:48] iory commented on #195
Run sample codes
http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users
Misspell
 When you're done with work on ipython, press Ctrl-d to escape its comman line.
->
 When you're done with work on ipython, press Ctrl-d to escape its command line.

[2014-08-15 10:49] 130s commented on #218
This was the Ubuntu by the NXO robot at someone's office. Since the Ubuntu is being used for their development, no wonder there might be custom work going on under the hood.

I only found that `omniNames` was started upon the Ubuntu's boot process, separately from RTM programs used in NXO; even after killing the process, the same error persisted.

Above said, it might not be possible to replicate

[2014-08-15 10:49] #218 closed, assigned to nobody

[2014-08-15 10:55] iory commented on #195
Operate robot via hrpsys in Python
http://wiki.ros.org/rtmros_nextage/Tutorials/Programming

on ipython, I try following code.
In : pos = robot.getCurrentPosition('RARM_JOINT3')
In : rpy = robot.getReferenceRPY('RARM_JOINT3')
In : tm = 3
In : robot.setTargetPose('rarm', pos, rpy, tm)

 robot.setTargetPose make an error.
if position is not changed, it should not make an error.

[2014-08-15 12:33] 130s opened #219 "Add unit test to ROS C++ client"
Migrated from #217

LEFT TODO:
- [ ] add gtest
- [ ] add tutorial
- [ ] Separate a header file from [ros_client.cpp](https://github.com/start-jsk/rtmros_hironx/commit/970e98292d9d21c1f600ddb966c0aa8194d05837)

Also good to:
- [ ] add Cartesian methods

[2014-08-15 14:49] 130s commented on #219
Adding todo: "Separate a header file from [ros_client.cpp](https://github.com/start-jsk/rtmros_hironx/commit/970e98292d9d21c1f600ddb966c0aa8194d05837)"

[2014-08-17 05:55] k-okada commented on #218
omniNames is boot in ubuntu default process but that is port 2809 and that
is different from omniNames used in hrpsys-base which is 15005. And
rtmlaunch starting omniName with 15005 before it runs every nodes at
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/scripts/rtmlaunch#L31

On Fri, Aug 15, 2014 at 7:49 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-08-20 00:53] 130s commented on #120
[Done](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users?action=diff&rev2=37&rev1=34).

[2014-08-20 00:53] #120 closed, assigned to 130s

[2014-08-21 23:52] 130s opened #223 "robot-system-check fails due to `.checked` file created by itself"
I'll work on this.

[2014-08-24 16:41] 130s commented on #195
[Added many improvements](http://wiki.ros.org/rtmros_nextage/Tutorials) so far.

[2014-08-25 02:27] 130s opened #225 "Abruptly disconnected from the nameserver when running proprietary supervisor tool"
**Phenomenon**
With the real NXO robot, I'm seeing that the connection to the nameserver gets lost once running the manufacturer's proprietary tool and "Connect" in "Validate" tab.

[code]

I manually wrote down the above so there may be typos. All are grayed out except `nextage.host_cxt/` is blue.

**Workaround**
Do both of the following:
- Shutdown the proprietary tool.
- Reboot `rtcd`. `*RobotH

[2014-08-25 02:28] 130s commented on #225
Updated the workaround above.

[2014-08-25 11:35] k-okada commented on #225
How does the "Validate" work? If that is useful, that should be implemented in dashbord

[2014-08-25 13:01] k-okada opened #226 "python version of acceptancetest_hironx.cpp"
@iory Today, you showed me python version of acceptancetest_hironx, but I forget the file name, could you tell me that again?

[2014-08-25 13:37] iory commented on #226
python version of acceptancetest_hironx is here.
https://github.com/start-jsk/rtmros_hironx/tree/groovy-devel/hironx_ros_bridge/scripts

[2014-08-25 14:31] k-okada commented on #226
thanks @iory,
@130s how can I use this script? Will `python ./acceptancetest_hironx.py` work?

[2014-08-25 23:58] 130s commented on #226
This is documented in [quick start](http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users#Run_the_Delivery_Inspection_script).

[2014-08-25 23:58] #226 closed, assigned to nobody

[2014-08-26 00:07] 130s commented on #225
I think the manufacturer made this proprietary tool as the last resort of their product, and didn't intend to make it open to public. Anyway its feature includes:
- Restart `rtcd` (this is the only way to do so for the normal users w/o login access on QNX)
- Shutdown QNX (this is the only way to shut it down other than hardware buttons)
- Joint calibration
- Servo on/off
- Start built-in camera to

[2014-08-26 00:15] k-okada commented on #226
thanks

On Tue, Aug 26, 2014 at 8:58 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-08-26 00:39] 130s commented on #225
After talking to the manufacturer, the phenomenon in question is confirmed and the workaround mentioned in the original post is valid.

But because the disconnection quietly takes place, it's not easy for the users to find why the software that was working just fine suddenly stops, with an error message from corba. We might want to add error message to the connection module (it's a shame I didn't

[2014-08-26 00:41] 130s commented on #225
@emijah @youtalk do you think you/someone in your office can replicate the issue and copy-paste the error message?

[2014-08-26 10:22] 130s commented on #149
Added around this commit. Good work @iory!

[2014-08-26 10:22] #149 closed, assigned to iory

[2014-08-26 13:28] k-okada commented on #225
This is strange, if "connect" just connect to corba server, nothing
happens, even if "connect" button connect and restart rtcd, it runs rtcd
and load RobotHardware. So it seems this program restart corbaserver
without running rtcd.
may be we'd better to provide our own tool just restart rtcd or just stop
qnx with ssh, if password is encrypted, that'll be ok.

BTW what is "Start bulid-in camera too

[2014-08-27 11:30] 130s opened #229 "(ROS Hydro jenkins) acceptancetest_hironx_cpp' library is neither a target nor built/installed properly"
hironx_moveit_config fails to build on ROS jenkins due to the newly added `C++` client's setting.

http://jenkins.ros.org/view/HbinP64/job/ros-hydro-hironx-moveit-config_binarydeb_precise_amd64/130/consoleFull

[code]

[2014-08-27 11:58] 130s commented on #229
Did [pre-release test for `1.0.22`](http://jenkins.ros.org/job/prerelease-hydro-rtmros_hironx/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=prerelease/15/consoleFull) not catch this error?

[2014-08-27 15:02] #229 closed, assigned to 130s

[2014-08-27 23:18] 130s opened #232 "Release 1.0.23"
#229 blocks the ROS build and is critical. To fix it we need a new release. We want to include https://github.com/start-jsk/rtmros_hironx/pull/215 too.

[2014-09-01 16:07] k-okada commented on #232
release 1.0.23, without including #215

[2014-09-01 16:16] k-okada commented on #232
done, for hydro https://github.com/ros/rosdistro/pull/5469

[2014-09-01 16:20] k-okada commented on #232
done for groovy https://github.com/ros/rosdistro/pull/5471

[2014-09-02 18:24] 130s commented on #132
Related https://github.com/tork-a/rtmros_nextage/issues/98

[2014-09-03 00:38] 130s commented on #38
@emijah (or @youtalk) Any update on this?

[2014-09-03 00:52] emijah commented on #38
Oooops forgot. I'm on it.

[2014-09-03 01:03] emijah commented on #38
digital input ch2が非常停止スイッチの状態につながっています。押し込まれていると0になります。
コントローラが指令を受け付ける状態になっているかどうかはdigital input ch0でわかります。スイッチが解除されてからコントローラが指令を受け付けるまで少し間があります。

[2014-09-03 01:46] k-okada commented on #38
どのピンがどこに対応しているか，https://github.com/tork-a/rtmros_nextage/issues/104
で求められていますね．更新していただけると幸いです．

2014-09-03 10:03 GMT+09:00 Hajime SAITO notifications@github.com:

[2014-09-03 02:34] emijah commented on #38
これは芳賀から情報を引き出す必要があるので少々時間がかかります。

[2014-09-03 16:57] #232 closed, assigned to nobody

[2014-09-04 03:22] 130s opened #236 "How to add ROS py client to the script interface"
Now [ROS python Client](https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/src/hironx_ros_bridge/ros_client.py) is added but there's not yet a way to run it from [script hironx.py](https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/scripts/hironx.py), so the users have been only able to use it so far as a python `module` (or through [acceptan

[2014-09-04 03:51] k-okada commented on #236
in ros_client, are you intend to deliver same API name as we have in hrpsys/rtm? or do you create more general `commander` that talk to JointTrajectoryAction?

If you want to provide same API, then invoking
`ipython  .... hironx_ros.py`
`ipython .... hironx_rtm.py`
and running same command `robot.goInitial()` may good.

If you provide different set of API, then
`robot.goInitial();; for  rtm` and `

[2014-09-04 04:34] 130s commented on #236
No. That would have been ideal but I thought it wasn't necessary for the script, thinking (1) it takes too much time (incl. thorough testing) and (2) I couldn't think of usecase where users want to use the methods of the same name per each backend (RTM, ROS). Still, users can write their program choosing backend they like by importing `HIRONX` (RTM) or `ROS_Client`.

Hm, users might not care the d

[2014-09-04 05:23] k-okada commented on #236
I see, Let's image how beginners start using the robot.

First one is who are interested in "Nextage" robot and want to learn it's control system, so they start learning from http://wiki.ros.org/rtmros_nextage/Tutorials/Programming, and write a program considering a connection between command that he issued and behavior of controllers.

Another one is who want to use "ROS Robot", so he/she may alr

[2014-09-04 05:25] k-okada opened #237 "update tutorial order, split programming sections"
currently http://wiki.ros.org/rtmros_nextage/Tutorials/Programming says
Programming Hiro / NEXTAGE OPEN (RTM), but actually it contains how to move robot from moveit interface, may be following seems better.

[code]

[2014-09-04 05:46] k-okada commented on #237
I split original document into 4 different tutorials, how do you think?
If this is better, then remove these documents from http://wiki.ros.org/rtmros_nextage/Tutorials/Programming, and te title of this pages is (Programming Hiro / NEXTAGE OPEN) and add link to 4 new tutorials.

[2014-09-04 05:49] 130s opened #238 "hironx_moveit_config 1.0.23 does not build on Groovy"
http://jenkins.ros.org/view/GbinP64/job/ros-groovy-hironx-moveit-config_binarydeb_precise_amd64/110/console

[code]

Looks like [in building `hironx_ros_bridge`](http://jenkins.ros.org/view/GbinP64/job/ros-groovy-hironx-ros-bridge_binarydeb_precise_amd64/76/consoleFull), `ros_client_cpp` isn't built (it DOES get built on hydro build though).

[2014-09-04 05:53] k-okada commented on #238
I have fixed this one in https://github.com/tork-a/rtmros_hironx-release/commit/6a722ad9a0b0c1a8076fb251150a4b04140ce4e2

[2014-09-04 05:55] k-okada commented on #238
I see, i forget to remove  https://github.com/tork-a/rtmros_hironx-release/blob/debian/groovy/hironx_ros_bridge/catkin.cmake#L11

[2014-09-04 06:02] k-okada commented on #238
fixed, see https://github.com/tork-a/rtmros_hironx-release/blob/debian/groovy/hironx_ros_bridge/catkin.cmake#L11

[2014-09-04 06:02] #238 closed, assigned to 130s

[2014-09-04 06:02] 130s commented on #238
Or...can we simply withdraw Groovy package, maybe by downgrading to the previous version `1.0.22`?

[2014-09-04 06:03] 130s commented on #238
I see. I'll re-release only for Groovy with build increment.

[2014-09-04 06:10] k-okada commented on #238
I have already releaesd as https://github.com/tork-a/rtmros_hironx-release/commit/d9887cb347e97e904ac42dcb59c63483df5a5e66 1.0.23-2

[2014-09-04 06:12] 130s commented on #238
(ﾟдﾟ)！That's what I'm wondering. So now I think we just need to notify rosdistro. I'm on it.

[2014-09-04 06:13] k-okada commented on #238
Oh, yes, I forget about that. Thanks.

[2014-09-04 06:17] 130s commented on #238
Done https://github.com/ros/rosdistro/pull/5511

[2014-09-04 11:25] k-okada commented on #237
@130s, I have updated the tutorial (just split into 4 different tutorials) without getting permission, if it does not looks good, please say so.

By the way, how to change the order for http://wiki.ros.org/rtmros_nextage/Tutorials ?
I prefer

[code]

I also would like to add section like http://wiki.ros.org/rocon_app_manager/Tutorials

[code]

[2014-09-05 02:15] iory opened #239 "Add rocon_app_manager tutorial"
I have written rocon_app_manager page on nextage's tutorials.
http://wiki.ros.org/rtmros_nextage/Tutorials/Setup%20ROCON%20App%20Manager
Please check the following items.
1) link does not appear this page.
http://wiki.ros.org/rtmros_nextage/Tutorials
2) English
3) content appropriate

[2014-09-05 04:46] 130s commented on #239
Nice!

Current ROS wiki format requires that each page is filled with `title` [like this (I did it for you)](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Setup%20ROCON%20App%20Manager?action=diff&rev2=14&rev1=13]]).

[2014-09-05 05:10] 130s commented on #237
I [added this to the ROS tutorial](http://wiki.ros.org/action/info/ROS/Tutorials/NavigatingTheWiki?action=diff&rev2=53&rev1=52#To_create_tutorial_pages_under_your_package).

And I re-ordered the contents of NXO tutorials. Sorry I didn't see your list when I made a change...how does this look?
http://wiki.ros.org/action/info/rtmros_nextage/Tutorials?action=diff&rev2=4&rev1=2

[2014-09-05 05:18] k-okada commented on #237
very nice!!!

[2014-09-06 09:34] 130s commented on #237
Re-ordering and split is done.

Btw I'm basically re-structuring the entire tutorial pages. Now almost done with `introductory level` pages.

[2014-09-06 09:34] #237 closed, assigned to nobody

[2014-09-08 08:57] 130s commented on #195
- [x] Review programming by RTM (`hrpsys`) section

Added. Up until there, many improvements are added.

[2014-09-09 02:33] 130s commented on #212
Confimed the phenomenon (and a workaround) in simulation.

On Hironx that does not come with a base,

[code]

Since NXO comes with base, position `z` is 1 meter taller.

[code]

Specifyin the reference frame like below would give the similar `z` value.

[code]

I'm not sure what's the best optimal solution. For now as a temporary fix, do we want to add this workaround to `NextageClient.getCurrentP

[2014-09-12 16:41] 130s opened #243 "(Announcement) default branch is now hydro-devel"
With [Groovy EOL is right around the corner](http://lists.ros.org/lurker/message/20140909.062916.9fdad530.en.html) and I think all RTM-related packages (`openrtm_aist_core`, `openhrp3`, `hrpsys`, `rtmros_common`) have done necessary releases into it, I'd like to freeze the development into `groovy-devel` and now switched the default branch to Hydro. Please update your local repository to fetch `hy

[2014-09-12 16:41] #243 closed, assigned to 130s

[2014-09-13 00:11] 130s commented on #236
Agreed in general.

What I haven't mentioned is that I think it makes sense to include MoveIt! I/F in this ROS client. In fact I've already [included `MoveGroupCommander` in it](https://github.com/start-jsk/rtmros_hironx/blob/9d7c2b1d801450b09e814b12093e1cf1986b5565/hironx_ros_bridge/src/hironx_ros_bridge/ros_client.py#L245) (in order to easily implement Cartesian method. This can be questioned).

[2014-09-16 19:41] 130s commented on #243
[Change applied](https://github.com/ros/rosdistro/pull/5694) in `rosdistro`.

[2014-09-17 03:37] 130s commented on #195
ROS client programming [is added](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Programming_Hiro_NEXTAGE_OPEN_ROS?action=diff&rev2=6&rev1=5).

[2014-09-17 04:01] 130s commented on #195
- > index number of toc is different from that of the body

I guess this is a `moinmoin` (wiki engine that `ros.org` uses) issue, and I haven't experienced inconvinience so far with this issue. If you still think it's problematic, I'd suggest opening a ticket on [ros wiki issue tracker](https://github.com/ros-infrastructure/roswiki/issues)
- > setTargetPose yields error even when no change occurre

[2014-09-17 04:01] #195 closed, assigned to 130s

[2014-09-17 22:16] k-okada commented on #236
I agree,

_Out-1_) (Modified) hironx.py that also internally contains ROS client, as

I might not understand correctly, but once you start using ros-based
client, you do not want to care about RTM stuff, (nameservers, model
location ....), Thus, if you create ros-based client, it is better and safe
not to depends on RTM.

So, ros_client.py is for general ros-based robot, which have joint
trajector

[2014-09-19 22:11] 130s commented on #236
Yeah, and I briefly tried to create a prototype where I was too ambitious to aim generic api (not just `joint trajectory action`) and found it too hard. I think in the beginning we can just specifically use joint trajectory action.

Btw the best paper award of this IROS 2014 might be interesting for this purpose.
https://www.youtube.com/watch?feature=player_embedded&v=VFYJ74cUUIQ

[2014-09-22 12:52] 130s opened #250 "To cancel the trajectory (hrpsys, MoveIt!)"
In a trial to implement `stop` feature discussed in #36, I'm trying to utilize existing methods to achieve (1) stopping the arm that's moving according to the given trajectory, (2) canceling the given trajectory. (2) may or may not be critically in need depending on the situation.
I tried the following both on `MoveIt!` and `hrpsys`. Neither worked to my expectation. What's the right way to do so?

[2014-09-23 17:08] k-okada commented on #250
i think `clear()` clears queued waypoins, so you'd better to send command
with several way points using TrajectorJjointAction of ros interface and
MoveIt uses that.

On Mon, Sep 22, 2014 at 9:52 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-10-01 23:06] 130s opened #258 "Release 1.0.25"
Wondering if we must include patches for this https://github.com/start-jsk/rtmros_hironx/pull/253#issuecomment-57554712 or not. If you do, it would take some time since the necessary change involves upstream (`hrpsys-base`).
Can we just release the new patch version first @k-okada ?

[2014-10-01 23:10] 130s commented on #258
Ok looks like we should wait for [this](https://github.com/fkanehiro/hrpsys-base/issues/348) to be resolved.

[2014-10-02 01:12] k-okada commented on #258
I think you it's ok to release, this new version contains calibrtion package, right ?

[2014-10-02 01:51] 130s commented on #258
I see then I'll do. Yes calibration package is a big feature (though the navigation filter https://github.com/start-jsk/rtmros_hironx/pull/251#issuecomment-57048329 is not yet applied).

[2014-10-02 14:31] 130s opened #261 "Create HiroNXO dashboard"
Mentioned in https://github.com/start-jsk/rtmros_common/issues/548#issuecomment-57271703 to add joint calibration button.

[2014-10-02 22:43] 130s commented on #258
[Prerelease test failed](http://jenkins.ros.org/job/prerelease-hydro-rtmros_hironx/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=prerelease/18/console):

[code]

Maybe first we need to update [rosdistro/hydro/distribution.yaml](https://github.com/ros/rosdistro/blob/5f785dc9b9b4f63f9fddf35184f2f1939cc37feb/hydro/distribution.yaml) so I'll just bloom-release it? What's the best way to add a package to

[2014-10-02 22:49] 130s commented on #258
No worries, [`bloom` took care of it automatically](https://github.com/ros/rosdistro/pull/5890/files#diff-9e1101289f86bb5166c02bec1d712619R6812). Just run it as you run for a normal update release without adding new packages.

[code]

[Done](https://github.com/ros/rosdistro/pull/5890).

[2014-10-02 22:49] #258 closed, assigned to 130s

[2014-10-03 01:21] 130s opened #262 "(hironx_tutorial) Move some sample codes from ros-japan-users"
Moved from https://github.com/tork-a/hironx_tutorial/issues/9

---

Continued from https://github.com/ros-japan-users/nextage_moveit_planning_execution/issues/1#issuecomment-46583401. Todo:
- [x] Move sample codes
- [ ] Document them
- [x] Add credits for authors of those samples (I think we either add them to `author` section, or add `contribution` section in the document.
- [x] Release new versi

[2014-10-03 01:22] 130s opened #263 "(hironx_tutorial) Link to the specified web site is not displayed on ros wiki"
Moved from https://github.com/tork-a/hironx_tutorial/issues/8

---

We wanted the URL line [in this line](https://github.com/tork-a/hironx_tutorial/blob/0781ddfb41efdae10fbc4c2e941dc9dbe0087bb1/package.xml#L15) by #2.

[2014-10-03 01:27] 130s opened #264 "(hironx_tutorial) Add unit tests?"
Moved from https://github.com/tork-a/hironx_tutorial/issues/3

---

Although not sure if it's worth spending time on tutorial/sample package, it could be useful to check downward compatibility checking.

[2014-10-06 10:21] 130s opened #267 "Impedance Control fails with hrpsys when 315.1.10 <= version"
[hrpsys test is failing in testing with older hrpsys (315.1.10)](https://github.com/fkanehiro/hrpsys-base/pull/353#issuecomment-57987437). Looks like it's because [`rmfo` doesn't exist in `HrpsysConfigurator` in 315.1.10](https://github.com/fkanehiro/hrpsys-base/blob/315.1.10/python/hrpsys_config.py).

Do we want to remove the [entire line of `['rmfo', rmfo_comp]`](https://github.com/start-jsk/rtm

[2014-10-06 11:22] k-okada commented on #267
please read my comment here https://github.com/start-jsk/rtmros_hironx/pull/253#issuecomment-57554712

[2014-10-07 02:43] 130s opened #269 "Add tutorial for teaching"
Started http://wiki.ros.org/rtmros_nextage/Tutorials/Teaching

[2014-10-08 01:43] 130s opened #271 "Build failure hironx_ros_bridge/robot/nitta/jr3_driver.cpp"
Using [this version](https://github.com/start-jsk/rtmros_hironx/commit/be5fb8d5a5b8339d9507f3c287edb406ca48c9c9),

[code]

[2014-10-08 01:44] 130s commented on #271
Revert back to [the previous version](https://github.com/start-jsk/rtmros_hironx/blob/385007a1b4c036eb0a51cca5b9993008d9cdf365/hironx_ros_bridge/robot/nitta/jr3_driver.cpp) solves the build errors above.

[2014-10-08 03:49] k-okada commented on #271
I think it's better to roll back to previous version, since jr3_driver is
not part of "ROS" so you do not have to `lint` them

On Wed, Oct 8, 2014 at 10:44 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-10-12 23:06] 130s opened #272 "Add digital I/O checker to acceptance_test script"
To prevent [an issue like this](https://github.com/tork-a/rtmros_nextage/issues/113) upon the delivery at customer's site. What needs to be checked are as follows. Checking electric signals would be probably enough for this test (no need to check the resulted function (e.g. gripper open/close)):
- DIO module available or not
- (If yes) Verify the pin assignment

[2014-10-16 06:34] 130s opened #273 "To reboot QNX"
[Reboot instruction in wiki](http://wiki.ros.org/rtmros_nextage/Tutorials/Operation%20on%20QNX#Reboot_QNX) returns an error.

[code]

Seen on a Hiro robot with hrpsys 315.1.7 running.

@emijah

[2014-10-16 07:51] 130s opened #275 "(QNX) "Memory fault (core dumped)" error killed rtcd process after activating impedance control"
Impedance control is enabled with the steps described in [this PReq](https://github.com/start-jsk/rtmros_hironx/pull/274). Robot rebooted then error.

[code]

More report to come.

[2014-10-16 07:53] emijah commented on #273
@130s これはNextageでインストールされる、特別バージョンのshutdownコマンドですね。
QNXでパッケージングされているshutdownコマンドは/bin/shutdown_bakにリネームされています。

libomniORB4.so.1をリンクしているところからお分かりになると思いますが、このバイナリはCORBA
サーバを一度停止してからshutdownを実行するようになっています。これはCORBAサーバにKILLシグナルを送った場合、そのままハングしてしまうケースが発生したためです。CORBAのバージョンをあげておくとハングすることはほぼなくなります。

[2014-10-16 08:06] 130s commented on #275
(Just a small update of the previous comment) Ran the sample (renamed from [the original](https://github.com/start-jsk/rtmros_hironx/blob/b499aad046f0e4818a798a033cbd9b576fde9605/hironx_ros_bridge/robot/nitta/sample.c) to avoid confusion with other files). Tried to push the eef to see if the value would change, but I don't think it happened (is the force sensor powered?).

[code]

[2014-10-16 08:13] 130s commented on #275
jr3.log is empty.

[code]

[2014-10-16 08:19] emijah commented on #275
Looks suspiciously like the driver is looking in the wrong place, within the PCI memory.

[2014-10-16 08:19] k-okada commented on #275
make sure that you started jr3_server and check with sample client program.

On Thu, Oct 16, 2014 at 5:13 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-10-16 08:29] 130s commented on #275
I don't find `jr3_server` anywhere, but I assume a server program is running because I don't get this `Unable to open server connection` error [at this line in sample.c](https://github.com/start-jsk/rtmros_hironx/blob/b499aad046f0e4818a798a033cbd9b576fde9605/hironx_ros_bridge/robot/nitta/sample.c#L65).

[2014-10-16 09:26] 130s commented on #275
It could be `jr3_driver` that causes mem fault. Running it alone below:

[code]

Logs:

[code]

[2014-10-16 09:58] 130s commented on #275
In the output above:
- [this line](https://github.com/start-jsk/rtmros_hironx/blob/b499aad046f0e4818a798a033cbd9b576fde9605/hironx_ros_bridge/robot/nitta/jr3pci3_driver.cpp#L597) is printed.
- [This line](https://github.com/start-jsk/rtmros_hironx/blob/b499aad046f0e4818a798a033cbd9b576fde9605/hironx_ros_bridge/robot/nitta/jr3pci3_driver.cpp#L602) is not.

So I think either one of the lines in betw

[2014-10-16 13:14] k-okada commented on #275
[code]

did you started jr3_driver? or  did you write any script to start
jr3_driver? is not this jr3_driver is different from what we expected. If
you wrote any command to start jr3_driver in rc.local or somewhere, it
seems jr3_driver is running at this moment.
 So do not kill this program, but run sample program.
https://github.com/start-jsk/rtmros_hironx/blob/groovy-devel/hironx_ros_bridge/robo

[2014-10-19 20:20] 130s commented on #275
I think so. I added it to `startJsk.sh` like [this](https://github.com/start-jsk/rtmros_hironx/pull/274/files#diff-f4faf3c683e77cae80bba0eed6dd8257R306):

[code]

[My previous comment](https://github.com/start-jsk/rtmros_hironx/issues/275#issuecomment-59327411) is the result of sample program (I changed the name of the binary from `sample` to `jr3_driver_samplereader` in this output), with jr3_dri

[2014-10-19 20:24] 130s commented on #275
Tarball of `/opt/jsk` at the moment this issue is occurring is [snapshoted here](https://drive.google.com/file/d/0Bw_hbVS3wTLyanE4NUIzemR3bzA/view?usp=sharing) (access limited).

[2014-10-20 02:18] k-okada commented on #275
1) result of sample should be something like

[code]

2) su - c '/opt/jsk/bin/jr3_driver' does not working,

[code]

3) if I run sample without running server, it did not show anything, just
abort.

4) it good idea to redirect error output of jr3_serve to jr3.log and see
what happening.

On Mon, Oct 20, 2014 at 5:24 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-10-21 06:10] youtalk opened #277 "Where have stereo camera frames gone?"
When I checked `rosrun tf view_frames` few months ago, I could find stereo camera frames on the head like following image.

![](https://cloud.githubusercontent.com/assets/579333/4713813/e7675cb0-58e7-11e4-952c-323a3d83c70c.png)

But now I cannot find the camera frames. Where have they gone?

[2014-10-22 00:13] 130s commented on #275
Oh! So I should try:

[code]

Instead of:

[code]

I [added the following line to startJSK.sh](https://github.com/start-jsk/rtmros_hironx/issues/275#issuecomment-59663643). Is this not suffcient?

[code]

[2014-10-23 02:22] k-okada commented on #277
https://raw.githubusercontent.com/start-jsk/rtmros_hironx/hydro-devel/hironx_ros_bridge/models/kawada-hironx.dae
does not have camera information and that is not changed for more than 1
year, so I do not think we have camera-related tf frame 1 month ago.

On Tue, Oct 21, 2014 at 3:10 PM, Yutaka Kondo notifications@github.com
wrote:

[2014-10-23 03:42] k-okada commented on #275
I think it's better to store stderr to log file, using

[code]

On Wed, Oct 22, 2014 at 9:13 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-10-23 04:03] youtalk commented on #277
Hmm... I got it. I'll make a PR about it.

[2014-10-23 04:32] youtalk commented on #277
Sorry I reopened this issue.

Which do we need to append camera-related info to [HiroNX.urdf](https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_moveit_config/models/HiroNX.urdf) or [kawada-hironx.dae](https://raw.githubusercontent.com/start-jsk/rtmros_hironx/hydro-devel/hironx_ros_bridge/models/kawada-hironx.dae)? The urdf file is generated from the collada file or vice versa? I'm

[2014-10-25 05:45] k-okada commented on #277
urdf is generated from dae and dae file is generated from wrl. but wrl is
not disclosed.
so we took dae from
https://github.com/rdiankov/openrave/tree/master/src/robots

easiest way is to put hiro wrl file to somewhere or change hiro wrl and
create dae file and put it in somewhere.

On Thu, Oct 23, 2014 at 1:32 PM, Yutaka Kondo notifications@github.com
wrote:

[2014-10-27 08:51] youtalk commented on #277
Thank you. It's informative.
You imply `rtm_hironx` package actually should contain wrl files of HIRONX, right?
Because `rtm_nextage` package contains wrl files of NEXTAGE OPEN.

[2014-10-27 08:58] emijah commented on #277
Ah, I remember handing that file to Rosen quite a long time ago. I converted the wrl files that the current Nextage Open relies on, so that is where the camera coordinates come from...

[2014-10-28 05:59] 130s commented on #275
https://github.com/start-jsk/rtmros_hironx/issues/275#issuecomment-59339400

Today just changing the start script (`/opt/jsk/bin/startJSK.sh`) as follows fixes the above issue, but I doubt this isn't a fix; there might be something else that's directly related.

[code]

Anyways moving forward, now I get an error message in a log file and `rtcd` seems to be not running due to the error recorded:

[

[2014-10-28 06:36] 130s commented on #275
Not sure whether this is related or not. I see `duplicated sensor Id` warning/error in `/opt/jsk/var/log/rtcd.log`. But because I do not find duplicated definition of `lhsensor`, I just ignore this message for now.

[code]

[code]

[2014-10-28 06:52] 130s commented on #275
A slight difference in `/opt/jsk/bin/startJSK.sh` makes the output different in `/opt/jsk/var/log/rtcd.log`.

With `./jr3_driver > /opt/jsk/var/log/jr3.log 2>&1 # For nitta force sensor`, `rtcd.log` becomes:

[code]

With `./jr3_driver > /opt/jsk/var/log/jr3.log 2>&1 & # For nitta force sensor`, `rtcd.log` becomes:

[code]

[2014-10-28 07:20] 130s commented on #275
I guess we might want to use `./jr3_driver > /opt/jsk/var/log/jr3.log 2>&1 & # For nitta force sensor` since this allows other processes in `startJSK.sh` to initiate.

For the reasons at the bottom, now I suspect the following error message in `rtcd.log`. But how can this be resolved??

[code]

Rationale of above:
- Only 4 `rtcd` related processes are found as below

[code]
- An `RTCManager` for `

[2014-10-28 08:32] 130s commented on #275
Ok, the ethernet cables from both force sensors were NOT plugged properly. Now the values from the sensors are returned fine on the sample program. One step moved forward.

But the following `rtcd` issues still remain:
- core dumps in `rtcd.log`
- the number of `rtcd` processes are only 4 (I thought 5 expected). I assume `RobotHardware` fails.
  - And these 4 processes keep going away and coming b

[2014-10-29 22:44] 130s opened #279 "move_group including torso stops moving"
(This is observed with [nextage_moveit_config](http://wiki.ros.org/nextage_moveit_config) but will assumingly happen with `hironx_moveit_config` as well.)

**_Issue**_
With a MoveIt!'s move group that includes both arms and torso group, robot's torso joint stops rotating (verified on tf monitor on RViz in simulation) after doing some movements and switching from one MG to another.

On RViz, the ro

[2014-10-29 22:44] 130s commented on #279
Observed with these versions:

[code]

[2014-10-29 22:57] 130s commented on #279
Workaround found is:
1. Update ROS packages. The list of what works fine is seen below (I'm not yet sure which package actually does the trick...these are what got installed when I did dist-upgrade and after this the issue stopped happening).
2. Change `Planning Scene Topic` to `/planning_scene` on RViz.
3. Do the move.

[code]

[2014-10-29 22:57] #279 closed, assigned to nobody

[2014-10-31 11:16] k-okada commented on #277
Yes, that what I expected and required, but manufacture did not gave us
permission. Please ask them again.

On Mon, Oct 27, 2014 at 5:51 PM, Yutaka Kondo notifications@github.com
wrote:

[2014-11-04 00:24] emijah commented on #277
Okay

[2014-11-04 06:36] youtalk commented on #277
@emijah found `CAMERA_HEAD_R` and `CAMERA_HEAD_L` elements in [nextage.dae](https://raw.githubusercontent.com/tork-a/rtmros_nextage/hydro-devel/nextage_ros_bridge/models/nextage.dae). I think HrpsysSeqStateROSBridge cannot parse those elements then camera-related frames dispappear.

On the other hand, there is no `CAMERA_HEAD_R` and `CAMERA_HEAD_L` elements in [kawada-hironx.dae](https://raw.githu

[2014-11-04 07:30] emijah commented on #277
@youtalk actually I found the entries for the cameras in /opt/ros/hydro/share/nextage_description/models/main.dae. So VRML -> Collada seems to be working.
I took a look at ros/robot_model and found the following in robot_model/collada_parser/src/collada_parser.cpp:

[code]

so, if sensor information is being extracted from collada and saved to urdf, this may cause problems.

[2014-11-04 15:26] k-okada commented on #277
On Tue, Nov 4, 2014 at 3:36 PM, Yutaka Kondo notifications@github.com
wrote:

That's good point, if ROSBRIDGE include CAMERA_\* in /joint_states, I think
it should work as you expected. Please write small program that publish
joint_states only for camera related joints and confirm them.
Next thing is we have to consider this function in ROSBridge, at this
moment I'm not sure about side-effects of

[2014-11-05 07:23] youtalk commented on #277
Thank you. I've got it.

[2014-11-06 00:31] 130s opened #281 "AttributeError: 'NoneType' object has no attribute 'ec'"
Following error is reported from a user; Upon the execution of `acceptancetest_hironx.py` on ipython with the real robot. This error does NOT occur in simulation.
(What is `ec` btw?)

[code]

Versions:

[code]

[2014-11-06 00:44] 130s commented on #281
`ec` = [Execution Context](http://fkanehiro.github.io/hrpsys-base/dc/d21/classpython_1_1rtm_1_1RTcomponent.html)? Don't really know what it is yet, and why this error suddenly starts to occur for NEXTAGE.

[2014-11-06 01:08] k-okada commented on #281
Can we reproduce this in simulator ? If yes please create test code that cover this

[2014-11-06 01:15] 130s commented on #281
No, as said in my OP.

I appreciate if someone can test with the real robot with the latest package versions (as mentioned above, `hrpsys`: 315.2.7, `ros-hydro-hironx-ros-bridge`: 1.0.27). Just run:

[code]

[2014-11-06 01:20] emijah commented on #281
Hmmm. I wonder what the list rtcs looks like.
2014/11/06 9:31 "Isaac I.Y. Saito" notifications@github.com:

[2014-11-08 23:36] 130s opened #283 "Tutorial needs how to send MoveIt! waypoints"
- [ ] Sending waypoints: ROS Japan group already has it (in Japanese).
- [ ] Teaching: Started http://wiki.ros.org/rtmros_nextage/Tutorials/Teaching

[2014-11-10 10:36] 130s opened #284 "Want a trajectory/waypoint viewer and editor (maybe GUI)"
Originally inspired by @terakoji while we were working on NEXTAGE OPEN.

Might be related https://github.com/yujinrobot/yujin_ocs/issues/47

I like to start asking what features are necessary for this GUI. Once figured out I'm interested in adding them into `rqt_moveit`.

[2014-11-19 01:27] 130s commented on #281
Assuming that's `rtls`, I got an output from the user in question:

[code]

while I expect more RTCs like (captured on simulation):

[code]

So does this indicate that something inside QNX is wrong (instead of software on Ubuntu)?

[2014-11-19 06:03] k-okada commented on #281
[code]

did you run hrpsys_config.py or something to create and load rtc plugins?

On Wed, Nov 19, 2014 at 10:27 AM, Isaac I.Y. Saito <notifications@github.com

[2014-11-20 10:26] 130s commented on #281
Nevermind. Now I got an access to the real robot in question (over internet using a magic spell ;)) and the `rtls` result looks better (but I'm not yet sure if all necessary RTCs are running):

[code]

And my previous thoughts:

This can't be true since the issue only happens with certain script (ie. with `nextage.py` the issue doesn't happen).

[2014-11-21 14:11] 130s opened #286 "hironx_tutorial package depends on downstream (nextage) package"
https://github.com/start-jsk/rtmros_hironx/blob/0961b50276267829e225dc20889b633f3deb96f3/hironx_tutorial/package.xml#L32

But it makes sense for `hironx_tutorial` to depend on `nextage_ros_bridge` since there's actually a dependency.

I think separating `hironx_tutorial` as a unary package is a good idea (as it used to be).

[2014-11-21 15:37] 130s opened #287 "Wrong EEF tf values with newer version (circa 1.0.27)"
A user is running a script attached at the bottom. With the following version of packages, `tf` frame `RARM_JOINT5_Link` and `RARM_JOINT5_Link_Controller` overlaps (almost) precisely, as expected.
- hironx_ros_bridge 1.0.14
- hrpsys_tools 1.2.1
- hrpsys_ros_bridge 1.2.1
- hrpsys 315.2.2

![workedaround_hiro-nxo_tf_issue_20141121_hiro1 0 14_hrpsys315 2 2](https://cloud.githubusercontent.com/assets/

[2014-11-22 14:27] k-okada commented on #287
I think this is something related collada model or collada parser, not related to the EEF nor version of hrpsys. To confirm this, could you confirm following things
- even if you used newest version, EEF of tf and controller did not differs on the posture shown in the top figure
- check the RARM_JOINT0_link for tf and controller, it the joint angle value is 0, it same. But if you set joint angle t

[2014-11-22 14:30] k-okada commented on #287
@YoheiKakiuchi , this is complex problem, and my proposal is to remove
https://github.com/ros/robot_model/blob/indigo-devel/collada_parser/src/collada_parser.cpp#L1048
but it may have may side effects.

It seems the problem only occurs with the aixs with offset, like RARM_JOINT0 of hironx, The question is do you have eve used similar robot model? HRP does not have these joints, I think. Atlas may

[2014-11-22 18:31] YoheiKakiuchi commented on #287
I understand problem.

 This code is wrong.
https://github.com/ros/robot_model/blob/indigo-devel/collada_parser/src/collada_parser.cpp#L1048
From urdf specification(http://wiki.ros.org/urdf/XML/joint), joint axis is in child frame.
But this code convert joint axis to parent frame.

This sample has the same joint, but this sample can be converted correctly (this is not good sample).
https://github.

[2014-11-23 08:25] k-okada commented on #287
Do you mean that changes in https://github.com/start-jsk/rtmros_hironx/issues/287#issuecomment-64081838 with `node` is not correct and have to change `attachment_full` ?

[2014-11-24 08:38] 130s commented on #287
I [made a temporary patch to `collada_parser`](https://github.com/130s/robot_model/commit/560449f476877239b60345c316c43dcba17d1f59) and with small manual tests the issue seems to be gone.

I'll have to test more by adding unittests with NEXTAGE OPEN.

@YoheiKakiuchi Is this worth opening an issue ticket in `robot_model` to raise attention among the people there?

[2014-11-24 08:44] YoheiKakiuchi commented on #287
I think so. Node is visual node, then if you change node, visual (pose of mesh) is changed but kinematics of arm is not changed. Attachment_full is kinematics configuration.

Yes, please. I will make patch for robot_model.

[2014-11-24 08:44] 130s commented on #287
Just fyi; a code to publish sample tf (mentioned in https://github.com/start-jsk/rtmros_hironx/issues/287#issue-49709846) is [uploaded](https://github.com/130s/rtmros_nextage/blob/bug/287_sample_tfpub/nextage_ros_bridge/script/add_rarm5_tf.py) with a fix.

[2014-11-25 02:31] YoheiKakiuchi commented on #287
This PR will fix this problem.
https://github.com/ros/robot_model/pull/92
https://github.com/ros/robot_model/pull/93

[2014-11-27 23:33] 130s commented on #212
True.

I think we want to encourage developers to always refer to `WAIST` whenever possible.

That said, my suggestion still looks reasonable to me (with careful announcement to all possible users):

[2014-11-27 23:45] 130s opened #288 "RuntimeError: frame_name (RARM_JOINT5:WAIST) is not supported"
I like to confirm that on the real robot (Hiro/NXO) #215 (or https://github.com/fkanehiro/hrpsys-base/pull/298 (`Enable to set reference frame in get{Reference,Current}{Pose,Position,Rotation, RPY}`) requires `hrpsys` on QNX to be updated (315.2.5 or higher).

A user who recently updated Ubuntu packages is not be able to use this feature.

[code]

[2014-11-28 03:17] k-okada commented on #288
because this feature is running inside hrpsys's plugin, so you need to update hrpsys.

[2014-11-28 13:23] k-okada commented on #287
I think, I bit a misunderstand. ModelLoader in hrpsys load collada correctly, but collada_parser in ROS did not, so we need two different dae for simulation, for real robot, ModelLoader uses wrl.

1) Create (temporary) fixed dae

[code]

2) fix launch file so that ModelLoader uses original dae and ROS uses fixed version

[code]

this should work.

[2014-11-30 05:59] 130s commented on #287
So, I just like to confirm that for real robots we don't need any change because `.wrl` file (stored inside of QNX for hiro-nxo) is used? If this is correct it sounds like this issue should **only** happen with simulation?

[2014-11-30 05:59] 130s commented on #287
- For Hironx: https://github.com/start-jsk/rtmros_hironx/issues/290 seems to work well for me.
- For For NXO: I made a very similar change to the packages in rtmros_nextage https://github.com/tork-a/rtmros_nextage/issues/134 but this issue still occurs.

[2014-11-30 06:51] 130s commented on #287
With the patch at `collada_parser` https://github.com/ros/robot_model/pull/93 (hydro), the issue is gone.

[2014-11-30 07:09] 130s commented on #287
With the patch at `collada_parser` ros/robot_model#93 (hydro), without the temporary patch https://github.com/start-jsk/rtmros_hironx/pull/290, this issue doesn't happen.

@k-okada I might be still misunderstanding something, but do we still need a patch like #290?

[code]

[2014-12-01 03:25] k-okada commented on #287
1) dae is used for all ros-bridge, (ros system could not understand wrl) so
this problem occurs both real robot and simulation
2) the problem has gone with newer version of robot_model, so I don't think
we need a patch.
3) but current user (who usually uses released, not shadow-fixed to avoid
confusion) they need temporally fix until next sync, and they usually uses
rtmros_hironx from deb, so we n

[2014-12-02 11:06] 130s commented on #287
Got it. https://github.com/start-jsk/rtmros_hironx/issues/290 is closed now.

IMHO this depends on how we (service providers) want to provide the hotfix to the users. A patch script is very nice for the users perspective. But because editing protected area (eg. `/opt`) is generally not recommended (no matter how easy or not reverting the fix is), I'm personally not convinced with that idea. If mod

[2014-12-02 11:06] #287 closed, assigned to 130s

[2014-12-02 11:36] 130s commented on #288
Confirmed that only solution is to update the hrpsys on QNX and there's no workaround.

[2014-12-02 11:36] #288 closed, assigned to 130s

[2014-12-02 13:53] k-okada commented on #287
Oh, clone and checkout,,,, we should understand that not everyone is
familiar with git...

[2014-12-04 04:57] 130s opened #292 "robot-compile-hrpsys.sh not installing src"
[This version of robot-compile-hrpsys.sh](https://github.com/start-jsk/rtmros_hironx/blob/d8599c82db245faddc81179903a0c25b3c4dab1f/hironx_ros_bridge/robot/robot-compile-hrpsys.sh) might not be installing src under `/opt/jsk/src/hrpsys-base-source-%VERSION%` (I just ran it and I see the folder has different, old version number).

[2014-12-04 07:07] 130s opened #293 "goInitial passes quietly when servo is off"
Users can't tell why `goInitial` command passes but the robot doesn't move. At minimum error message should be printed / popped up.

[2014-12-04 08:40] 130s opened #294 "Add methods for testing hrpsys 315.2.x to acceptancetest_hironx.py"
It's good to be able to check core command set by [acceptancetest_hironx.py](https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_ros_bridge/scripts/acceptancetest_hironx.py). Robot users are advised to quick-start by this script as well.

For example, [getCurrentPosition being able to specify frame](https://github.com/fkanehiro/hrpsys-base/commit/7bf7b3e2a796c72fc4cd5381d8289fca0139

[2014-12-05 06:56] 130s opened #295 "servoOff command becomes unpredictable when pause button (H/W) used"
Pause button (black lever in this [image](http://wiki.ros.org/rtmros_nextage/Tutorials/Quick%20Start%20for%20Robot%20Users?action=AttachFile&do=get&target=relay_box.jpg)) is recently introduced by the manufacturer, which stops the movement while servo is kept on.

[`HIRONX.servoOff`](https://github.com/start-jsk/rtmros_hironx/blob/f551037aa697c1cf8b0faf1291e4c3565eba0059/hironx_ros_bridge/src/hiro

[2014-12-06 01:54] k-okada commented on #295
I'd like to know if there is a function that can tell whether the button is
pressed or not in iob level, which inly manufacturer knows.

##

◉ Kei Okada

On Fri, Dec 5, 2014 at 3:56 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2014-12-08 00:21] 130s commented on #295
@emijah Would you shed a light on this? Is the API between public and proprietary `iob` (planned to become) open for Hiro/NXO?

[2014-12-16 04:37] 130s commented on #273
I see, I confirmed that this works on NXO. [Added a note on wiki](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Operation%20on%20QNX?action=diff&rev2=10&rev1=9).

[2014-12-16 04:37] #273 closed, assigned to nobody

[2014-12-17 01:29] 130s commented on #213
This will be beneficial to address other issues (eg. https://github.com/tork-a/rtmros_nextage/issues/135 in the downstream pkg).

@emijah How is this easy/hard?

[2014-12-17 01:35] 130s commented on #160
Suggested change was applied in https://github.com/start-jsk/rtmros_hironx/commit/65e033569c26fa97a0810244e980f9b0ec22b370

[2014-12-17 01:35] #160 closed, assigned to 130s

[2014-12-17 03:32] YoheiKakiuchi commented on #213
In the colladawriter, jointsid of fixed joint is set and it is more than 1000.
https://github.com/fkanehiro/openhrp3/blob/master/server/ModelLoader/ColladaWriter.h#L610
So, you can change jointsid in collada model (reordering joint id may be needed).

BTW, I don't understand why this is working. Is it dirty hack?
we should fix to parse jointsid in bodyinfocollada.
https://github.com/fkanehiro/open

[2014-12-19 11:19] k-okada commented on #213
do you mean whey this is running when DOF of wrl and collada are different? may be we forget to  check that...
https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/src/HrpsysSeqStateROSBridge.cpp#L380

[2014-12-19 11:48] k-okada commented on #261
This is how to servo on / servo of through ros service -> https://github.com/start-jsk/rtmros_common/blob/master/hrpsys_ros_bridge/src/hrpsys_ros_bridge/hrpsys_dashboard.py#L125

[2014-12-20 01:47] 130s commented on #275
@k-okada pointed out a spurious line in vrml model file. From the setting that causes error:

[code]

Both sensor element uses the same `sensorId` 1. This ID needs to be unique (among what? Among same element type, `ForceSensor` in this case?).

[2014-12-20 11:13] 130s commented on #140
In #297 this concern is handled; installer script installs models for both Hiro and NX.

[2014-12-20 11:13] #140 closed, assigned to nobody

[2014-12-21 16:39] DaikiMaekawa commented on #36
I took over being in charge of this issue.

[2014-12-22 01:41] emijah commented on #36
I think servo-stop is best, because the purpose of this collision detection is to prevent collision, so the problem is detected in advance. If there was an unforeseen collision, it's probably best to leave it to the safety features of the servo control, and let them switch the servo motors off.
Ideally, only the servo detecting excessive force should switch off, and allow switching on again, but t

[2014-12-22 01:45] emijah commented on #275
Why is the translation and rotation so different?

[2014-12-22 05:46] 130s commented on #261
Fyi @DaikiMaekawa how to send hrpsys/RTM command over ros service (eg. [turning on servo](https://github.com/start-jsk/rtmros_common/blob/d0c3874fec974d7fa9d27cf47c76560e40723da2/hrpsys_ros_bridge/src/hrpsys_ros_bridge/hrpsys_dashboard.py#L160)).

[2014-12-22 09:28] 130s opened #300 "(ROS_Client) RuntimeError: maximum recursion depth exceeded"
With the pull request https://github.com/start-jsk/rtmros_hironx/pull/299, methods from `moveit_commander.RobotCommander` are expected to run via `ROS_Client`, but the following error occurs.

[code]

Some other commands of `RobotCommander` are also tested but the same error happens.

Run standalone, `RobotCommander` works as expected as below.

[code]

[2014-12-22 09:42] 130s commented on #281
A hypothesis by @emijah: On an Ubuntu machine that lists QNX host name in `/etc/hosts`, this error doesn't occur.
Now this is tested.

Cc @DaikiMaekawa

[2014-12-22 13:22] k-okada commented on #275
the data is old, we tested only one arm, see current data, but not sure if
this is correct.

[code]

rhsensor
        < ForceSensor {
        <     translation 0 0 0
        <     rotation 0.57737 0.57735 0.57735 2.0944
        <     sensorId 1
        < }
        921,929d914
        <                                                         DEF
lhsensor
        < ForceSensor {
        <     transl

[2014-12-22 14:25] k-okada commented on #36
nice,
please follow discussion here ->
https://github.com/start-jsk/rtmros_common/pull/618,
https://github.com/fkanehiro/hrpsys-base/issues/431,
https://github.com/fkanehiro/hrpsys-base/issues/425. They do not reach to
the final solution, but it might be interesting to you.

I always like to start from most easiest and simplest approach and move to
more difficult version, so
- running collision de

[2014-12-26 15:36] snozawa opened #302 "Need to test for old hrpsys-base"
Currently hrpsys-base tests rtmros_hironx with old hrpsys (315.1.9).

Because of recent rtmros_hiornx commit such as [1], hrpsys-base test fails.
For example[2], in `hironx_ros_bridge/test/test_hironx_ik.py` uses `getReferenceRPY` with three arguments, but this argument for `getReferenceRPY` should be two in hrpsys-base 315.1.9.

[1] https://github.com/start-jsk/rtmros_hironx/commit/ff4df594c98518

[2014-12-27 15:46] k-okada commented on #302
( Currently A,,, There for we need A )

what does this mean? Any mistake?

[2014-12-31 09:48] snozawa commented on #302
Sorry, I forgot to reply this...

`hrpsys-base` has tests for latest rtmros_hironx + old hrpsys-baes (315.1.9).
`rtmros_hironx` does not have tests for latest rtmros_hironx + old hrpsys-baes (315.1.9),
so we need to add these tests to **rtmros_hironx**.

[2015-01-21 17:27] 130s opened #307 "rtcd timeouts, and finishes with core dumps on QNX"
Issue: In rtcd.log, significant lag like below was recorded when I ran on Ubuntu `hironx_ros_bridge_real.launch`. In most cases, rtcd core dumps and restarts when I ended the roslaunch process.

[code]

RTM client (hironx.py) can connect and functions without any issues as far as I've seen. Only the roslaunch above caused an issue for me.

Using https://github.com/start-jsk/rtmros_hironx/commit/43

[2015-01-21 17:31] 130s commented on #307
Thanks to @emijah we managed to find out the root cause.
It was `hrpEC.so` that I built from source by [the build script](https://github.com/start-jsk/rtmros_hironx/blob/d8599c82db245faddc81179903a0c25b3c4dab1f/hironx_ros_bridge/robot/robot-compile-hrpsys.sh) -- when we replaced this file with the one that was already used with previous version of hrpsys (ie. 315.2.0 in this case) the issue is gon

[2015-01-21 17:31] #307 closed, assigned to nobody

[2015-01-24 06:27] 130s opened #308 "unknown symbol: _ZN11POA_OpenHRP26AbsoluteForceSensorServiceD2Ev"
On Hiro I'm trying to install newer hrpsys (315.2.8) via installer script, I get the following in `rtcd.log`. rtcd keeps segfaults.
Because this seems exactly the same with https://github.com/fkanehiro/hrpsys-base/issues/228 @emijah reported as the following line, I'm now trying to find what those problematic IDLs are.

[code]

[2015-01-24 06:55] 130s commented on #308
Removing these so files didn't change anything.

[code]

Actually I also found `Modelloader.log` says only "ready" without any trace of importing model files.

Diff was:

[code]

[2015-01-24 07:14] 130s commented on #308
I also needed the following too in `/opt/jsk/bin/startJSK.sh`:
- Old: `export LD_LIBRARY_PATH=/opt/nextage-open/bin`    (apparently injecting this is wrong. The installer I'm working on is faulty here)
- New: `export LD_LIBRARY_PATH=/opt/hiro/lib`

[2015-01-24 07:14] #308 closed, assigned to 130s

[2015-01-25 08:51] 130s opened #309 "hironx.py won't proceed after "[hrpsys.py] initialized successfully""
[code]

On QNX the log is also stuck:

[code]

[code]

[2015-01-25 08:53] 130s commented on #309
This seems like what happens when there's no ros_bridge process is running. With the following command the script moved forward.

[code]

[2015-01-25 08:53] #309 closed, assigned to 130s

[2015-01-25 23:51] 130s opened #310 "Improve dialog message of checkEncoders"
1. By default `robot.checkEncoders` pops up a dialog that says:

[code]

   A user wonders if this appears because of system error. Better mention in the same dialog that this is a normal behavior.
2. The robot of the same user did not start calibration even after the user selects "OK" in the dialog, which later turned out there was a hardware issue. Adding a message to indicate a potential hardwa

[2015-01-26 03:37] 130s opened #311 "All 4 chest lamps not stop blinking"
Although logs on QNX look ok.

[code]

[2015-01-26 03:45] 130s commented on #311
It was these lines that were commented out in `/opt/jsk/bin/startJSK.sh`.

[code]

Commenting those in solved.
I think I mixed this file from NXO, not Hiro, by accident. Credit goes to @emijah to give me an instant help!

[2015-01-26 03:45] #311 closed, assigned to 130s

[2015-02-03 12:05] 130s opened #314 "hrpsys command to introspect link tree?"
Is there a hrpsys command that returns relationship of the links, much like `rqt_tf_tree` in ROS?

When I want to remove a certain link from the default model file, I'd like to confirm that the updated model is read properly by the model loader. [robot.Groups](http://docs.ros.org/hydro/api/hironx_ros_bridge/html/classhironx__ros__bridge_1_1hironx__client_1_1HIRONX.html#a13732eef4afc0e25e587f3858bb

[2015-02-06 00:34] 130s opened #319 "setTargetPoseRelative fails with any values"
The last time I ran this method was in January when I didn't see this happen. Today I'm seeing this on 2 different Precise machine.

[code]

IK error on simulator console:

[code]

Fails even with 0 displacement:

[code]

[code]

[2015-02-06 03:32] k-okada commented on #319
it works for me

[code]

[code]

[code]

[2015-02-06 04:37] 130s opened #320 "hironx_tutorial depends on downstream"
Continued from https://github.com/start-jsk/rtmros_hironx/commit/be3c9626a7365f87cf8e8d18405e13b30bd2b55a#commitcomment-9554559

@k-okada To summarize up, I think of either the following solution:
- Remove its dependency to `nextage*` packages
- Move to `rtmros_tutorial` (I'm for this option, but not sure if this makes sense)
- Separate as an individual package (as used to called as "unary stack"

[2015-02-06 06:55] k-okada commented on #320
On Fri, Feb 6, 2015 at 1:37 PM, Isaac I.Y. Saito notifications@github.com
wrote:

+1 too

##

◉ Kei Okada

[2015-02-06 08:43] 130s opened #322 "Port hrpsys version check portion to upstream"
See https://github.com/start-jsk/rtmros_hironx/pull/298#issuecomment-68196509

[2015-02-06 08:45] 130s commented on #212
Addressed in #298.

[2015-02-06 08:45] #212 closed, assigned to nobody

[2015-02-06 11:42] 130s commented on #202
I somehow released into indigo https://github.com/ros/rosdistro/pull/7109. Tests and feedback with simulation and real robots are appreciated.

[2015-02-20 13:44] 130s opened #330 ""Wait for /hiroXXX:15005/sh.rtc:StateHolderService" lasts and eventually fail"
[code]

And fails.

However, a workaround is known as follows:
1. "ipython -i `rospack find hironx_ros_bridge`/scripts/hironx.py -- --host %HOSTNAME%"  --> Fails. So ends ipython session.
2. Run roslaunch  --> Should succeed.
3. Re-run ipython command above again.

The workaround above is not intuitive at all. Where should we implement the solution?

rtmros_hironx 1.0.27
rtmros_common 1.2.6

[2015-02-20 13:53] 130s commented on #320
Fixed in https://github.com/start-jsk/rtmros_hironx/pull/321

[2015-02-20 13:53] #320 closed, assigned to nobody

[2015-03-10 07:55] 130s opened #331 "TypeError: unbound method __init__() must be called with _objref_SDO instance as first argument (got _objref_DataFlowComponent instance instead)"
[code]

[2015-03-10 08:06] 130s commented on #331
This error doesn't occur when I purge openrtm-aist (which unistalls many downstream packages too), then re-installed from non shadow-fixed repo rtmros-hironx (which installs many upstream pkgs).

[2015-03-10 08:22] 130s commented on #331
Although not sure exactly where is the root cause, [I asked ROS team to hold the public sync](http://lists.ros.org/pipermail/ros-release/2015-March/004593.html), only for Hydro (it is happening with Indigo too but we haven't even announced the maintenanceship for Indigo yet).

[2015-03-10 10:07] k-okada commented on #331
it is always good to check test code in  upstream package to find the cause, it happens on hrpsys test code, so it should be hrpsys problem, nor rtmros_hironx problem
move to https://github.com/fkanehiro/hrpsys-base/pull/506

[2015-03-10 10:07] #331 closed, assigned to nobody

[2015-03-10 12:17] 130s commented on #331
I'd be sorry if I missed something to do in downstream packages. Please let me know if there's anything needs done in this repo.

Because I haven't seen this issue on simulation until yesterday using shadow-fixed, it should be rooted in the very new change(s).

[2015-03-11 22:03] 130s commented on #331
With the following version available in shadow-fixed, this issue is gone on simulation.

[code]

[2015-03-11 22:05] 130s commented on #331
Same for Indigo. I think we can unblock the public sync hold. Thank you x 10 @k-okada for the quick fix.

[code]

[2015-03-12 04:44] 130s commented on #330
Now I don't see this with real robot (Hironx) with the following versions.

[code]

[2015-03-12 04:44] #330 closed, assigned to nobody

[2015-03-12 04:47] 130s commented on #319
Under the same version situation with [this](https://github.com/start-jsk/rtmros_hironx/issues/330#issuecomment-78423169), this doesn't happen with Hironx real robot.

[2015-03-12 04:47] #319 closed, assigned to nobody

[2015-03-15 08:48] k-okada commented on #330
[code]

is this typo ? may be you need to use `rtmlaunch`

##

◉ Kei Okada

On Thu, Mar 12, 2015 at 1:44 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-03-15 16:19] 130s commented on #330
No, this was when I worked with the real robot.

[2015-03-17 00:13] 130s opened #333 "setTargetPoseRelative always fails"
Starting the last few weeks, even the simplest relative movements like these (dx=0.01 or dz=0.01, 0.001 etc.) fail.

[code]

[code]

[2015-03-17 01:51] k-okada commented on #333
please create test code as https://github.com/start-jsk/rtmros_hironx/pull/332

[2015-03-17 02:52] k-okada commented on #333
create test at #334,

[2015-03-17 03:24] 130s opened #335 "yaw movement with setTargetPoseRelative actually moves roll"
See [the youtube video](https://www.youtube.com/watch?v=dgHBdr4ha6Y&feature=youtu.be); Both `roll` movement that comes as the 1st batch, and `yaw`, 3rd, rotate about red axis (x) while we expect `yaw` rotates about blue axis.

Result of getCurrentRPY('RARM_JOINT5') indicates that `yaw` is rotated as expected in the 3rd batch of the movements.

[code]

Code is below. I don't know yet how to run ass

[2015-03-17 03:24] 130s commented on #335
#BTW, the video also shows that with `pitch` movement the y axis (green) is moving while it's not supposed to. This maybe related to https://github.com/start-jsk/rtmros_hironx/issues/287

[2015-03-17 03:29] 130s commented on #335
Used the following. I had to apply [this patch](https://github.com/fkanehiro/hrpsys-base/pull/518) for hrpsys.

[code]

[2015-03-17 05:30] k-okada commented on #335
it seems relative means relative respect to RARM_LINK5 local coordinates and the convention is

[code]

so this seems ok.
if you wan to move RARM_LINK5, relative to world coordinates, may be you can add a few line to hrpsys_config.py,

also please look at https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_ros_bridge/test/test_hironx_cartesian.py#L88 to learn how to write test code.

[2015-03-17 10:44] 130s opened #337 "(ImpedanceController) TypeError: __init__() got an unexpected keyword argument 'ref_moment'"
[code]

Happening at [OpenHRP.ImpedanceControllerService](https://github.com/start-jsk/rtmros_hironx/blob/6467e8e8f2867ec185a34b4a2697260fb860ddb2/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L652)

[code]

Is this related to the [removal of ref_moment in hrpsys-base](https://github.com/fkanehiro/hrpsys-base/commit/fb89ad0ac678ca7ae0c913883fc17fc9a5f64777#diff-7100325148afb9fedc80b2456

[2015-03-17 11:03] k-okada commented on #337
you must check hrpsys version of QNX, may be you need update or use old
hrpsys_ros_bridge, that matches version of hrpsys

##

◉ Kei Okada

On Tue, Mar 17, 2015 at 7:44 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-03-17 11:08] k-okada commented on #337
Oh, this happens on simulator, so this is hrpsys-base problem, not hiornx

##

◉ Kei Okada

On Tue, Mar 17, 2015 at 8:03 PM, Kei Okada k-okada@jsk.t.u-tokyo.ac.jp
wrote:

[2015-03-17 12:18] k-okada commented on #337
oh, this is my misunderstanding, this is not hrpsys-base problem, the problem and workaround is proposed here -> https://github.com/fkanehiro/hrpsys-base/blob/master/sample/SampleRobot/SampleRobot.conf.in#L5

[2015-03-18 09:02] 130s commented on #184
Found a better one in [rtmros_common tutorial page](http://wiki.ros.org/rtmros_common/Tutorials/GettingStart). Cleaner and still exhaustive. <img src = "https://docs.google.com/drawings/d/1ZfQg4EHrGAC7fvHEWLVQxxjBbdmWLu9tMwqmFhb1eQo/pub?w=960&amp;h=720" />

[Replaced with that one](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Install%20NEXTAGE%20OPEN%20software%20on%20your%20machine?ac

[2015-03-21 06:10] 130s commented on #213
Can I ask the users and the roles of each model file format in Hiro-NXO system?
- main.wrl: read by hrpsys ModelLoader
- main.dae: read by openhrp3 to run hrpsys simulator
- main.urdf: read by hrpsys_ros_brdige for publishing tf

(main.\* as the whole body representation)

Once I get an answer I'll update the [diagram for the model relaitonship](http://wiki.ros.org/rtmros_nextage/Tutorials/Changin

[2015-03-23 02:34] 130s commented on #335
Thank you for the explanation.

What about `blue = z = yaw`? In the video yaw movement didn't happen while it was supposed to. Instead roll moved again.

[2015-03-23 03:40] 130s opened #342 "(setTargetPoseRelative, only with real robot) 2 arms don't move at the same time even when wait=false"
Happening on the real NXO with hrpsys (on QNX) 315.1.8. I suspect the `Timeover` errors in rtcd.log.

1) In general, what can we do to avoid Timeover errors?
2) If there is anything particular to the following error, what can we do with it?

@emijah

[code]

[2015-03-23 04:59] emijah commented on #335
This is because of how the RPY gets calculated. When the elbow is rotated 90 degrees the rotation itself can become ambiguous.

This is the reason I was trying to push the setTargetPoseMatrix interface. We've implemented this using python and are happy with this for now.
I'd like to push this patch within the next few days.

[2015-03-23 14:59] k-okada commented on #213
In hironx, collada is the only modelfile which is publically available, so we use `collada` to start hrpsys system (read by `ModelLoader` and used in `openhrp3` library which is used in `hrpsys simulator`).
https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_ros_bridge/launch/hironx_startup.launch#L6

As for real robot, they have `.wrl` model in the robot, so .wrl is used in the hrp

[2015-03-23 17:13] k-okada commented on #335
I see,

something like
[code]
may solve the problem

--
◉ Kei Okada

On Mon, Mar 23, 2015 at 1:59 PM, Hajime SAITO <notifications@github.com>
wrote:

[code]

[2015-03-27 01:17] 130s opened #345 "How to get feedback values from the impedance RTC?"
Sorry if I'm taking something wrong, but how to get feedback values from the impedance RTC in python/`HIRONX`?
I see how to start the RTC (by using [startImpedance](https://github.com/start-jsk/rtmros_hironx/blob/37eae39294ada6146282f0f8286a78e88280e5dc/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L623)). I think necessary change is made on QNX. Thank you.
@k-okada @hyaguchijsk

[2015-03-27 01:28] k-okada commented on #345
what do you mean by "feedback value"? force sensor value? then you can
check with output of impedance rtc, such as lhsensor/rhsensor

##

◉ Kei Okada

On Fri, Mar 27, 2015 at 10:17 AM, Isaac I.Y. Saito <notifications@github.com

[2015-03-27 02:07] 130s commented on #345
I see. Then, apologies for another elementary question. I understand that `ImpedanceControllerService` can be accessed via `self.ic_svc` in HIRONX class, but [in the API doc](http://fkanehiro.github.io/hrpsys-base/d9/d8b/interfaceOpenHRP_1_1ImpedanceControllerService.html) I don't find any methods that return force sensor feedback.

[2015-03-27 02:26] k-okada commented on #345
sorry to ask again, what do you mean by "force sensor feedback" ? "value of force sensor output"? or "parameters of force sensor feedback controller"?

[2015-03-27 02:30] 130s commented on #345
Yes, "value of force sensor output".

[2015-03-27 02:31] k-okada commented on #345
Ok, so, that is publish via openrtm port so we do not have api to get that value, use rtprint or rostopic echo

[2015-03-27 04:14] 130s commented on #345
Thank you.
One last question: what can the topic name be? I think [the topic in question might be published in HrpsysSeqStateROSBridge.cpp](https://github.com/start-jsk/rtmros_common/blob/826577a17e6854ac8dc2d4a1d149a8e3240a9eb5/hrpsys_ros_bridge/src/HrpsysSeqStateROSBridge.cpp#L132) but the topic name is variable. Prefix of the topic name should be enough (I don't have an access to the real robot

[2015-03-27 04:20] k-okada commented on #345
thats comes from robot model definition,
https://github.com/start-jsk/rtmros_common/blob/826577a17e6854ac8dc2d4a1d149a8e3240a9eb5/hrpsys_ros_bridge/src/HrpsysSeqStateROSBridgeImpl.cpp#L125

so it should be lhsensor
https://github.com/start-jsk/rtmros_hironx/commit/a6a09ca6351d7e2295a59561eb81bfa0e4b21c41#diff-9263df30885d75490d8648c8453b3b18

##

◉ Kei Okada

On Fri, Mar 27, 2015 at 1:14 PM, Isaac

[2015-03-27 04:41] 130s commented on #345
Thank you! [Added to the tutorial](http://wiki.ros.org/action/info/rtmros_nextage/Tutorials/Adding%20feedback%20control?action=diff&rev2=9&rev1=8).

[2015-03-27 04:41] #345 closed, assigned to nobody

[2015-03-27 04:42] #271 closed, assigned to 130s

[2015-03-28 02:49] 130s commented on #333
On simulator I confirmed this issue can be worked around after running `goInitial` once.

Permanent fix https://github.com/fkanehiro/hrpsys-base/pull/519.

[2015-03-28 08:25] 130s commented on #333
Using the following, this issue still happens. Running `goInitial` doesn't solve.

[code]

[Latest commit of hrpsys-base](https://github.com/fkanehiro/hrpsys-base/commit/15c5b8c1027954b64ffbc7eb0c40e01ff1e48221)

[2015-03-28 08:28] 130s commented on #333
When I said the above, I forgot to get rid of the [temporary commit](https://github.com/fkanehiro/hrpsys-base/pull/518) (that's now closed).

[2015-03-29 00:08] 130s opened #348 "COLLADA error: Trying to load an invalid COLLADA version for this DOM build!"
Must be related to https://github.com/rdiankov/collada-dom/pull/12
I'm afraid `tf`-based applications doesn't function at all.

[code]

`robot_state_publisher` is not alive.

[code]

![tf_sparse_hironx_sim](https://cloud.githubusercontent.com/assets/1840401/6883470/8826cb8c-d5f1-11e4-855f-cc5e8cd0fc74.png)

This happens with `rtmlaunch nextage_ros_bridge nextage_ros_bridge_simulation.launch` as we

[2015-03-29 00:17] 130s commented on #333
I found with hironx this works. It fails only with nextage. Moved to https://github.com/tork-a/rtmros_nextage/issues/160

[2015-03-29 00:17] #333 closed, assigned to 130s

[2015-03-29 02:59] k-okada commented on #348
indigo is not ready yet.

##

◉ Kei Okada

On Sun, Mar 29, 2015 at 9:08 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-03-29 21:56] 130s commented on #348
I see, then appointed to [Indigo release milestone](https://github.com/start-jsk/rtmros_hironx/milestones/Indigo%20release).

[2015-04-01 01:31] 130s commented on #335
Addressed in the upstream https://github.com/fkanehiro/hrpsys-base/issues/543.

[2015-04-01 01:31] #335 closed, assigned to 130s

[2015-04-01 01:41] 130s commented on #202
Moved from https://github.com/tork-a/rtmros_nextage/issues/157#issuecomment-86096424

[2015-04-01 02:33] k-okada commented on #202
yes, you can release indigo for nextage in theory, be careful about

https://github.com/tork-a/rtmros_nextage/blob/hydro-devel/nextage_ros_bridge/launch/nextage_ros_bridge_simulation.launch#L2
-> uses collada file
https://github.com/tork-a/rtmros_nextage/blob/hydro-devel/nextage_ros_bridge/launch/nextage_ros_bridge_real.launch#L2
-> it did not set model file, so it may uses hiro's collada file

##

[2015-04-01 14:19] 130s opened #350 "checkEncoders passes but (real) robot not moves"
A NXO user is experiencing this.
- We can “ping nextage” so it is connected.
- The green and white control leds are blinking although the green one is blinking slower
  - This means that we need to calibrate the robot in order to use it
- We can “roslaunch nextage_ros_bridge nextage_ros_bridge_real.launch”
  - We still get a lot of info, warnings and some errors concerning the collision_state.py b

[2015-04-01 14:21] 130s commented on #350
The error log above is similar to https://github.com/start-jsk/rtmros_hironx/issues/161#issuecomment-48591374, which was confirmed by the manufacturer that the root cause was in their library. We're working closely with them now.

[2015-04-02 02:57] 130s commented on #90
Work is in progress. https://github.com/start-jsk/rtmros_hironx/pull/299

[2015-04-03 01:44] 130s commented on #337
Tried to understand this, but couldn't find anywhere [SampleRobot.conf](https://github.com/fkanehiro/hrpsys-base/blob/17738f8783156421db236b463563e8a9e2e12ecc/sample/SampleRobot/SampleRobot.conf.in#L5) (or its derivative) is in use, so I still don't know how this `ref_moment` issue can be solved.

[2015-04-06 21:42] 130s commented on #350
Closing; not confirmed but the manufacturer is working on this issue with a particular customer's robot.

[2015-04-06 21:42] #350 closed, assigned to nobody

[2015-04-08 18:28] 130s commented on #337
Looks like fixed in https://github.com/start-jsk/rtmros_hironx/pull/351 thanks to @k-okada

[2015-04-08 18:28] #337 closed, assigned to nobody

[2015-04-08 18:50] 130s commented on #275
Values in https://github.com/start-jsk/rtmros_hironx/issues/275#issuecomment-67836270 seems to be working on an anonymous user's robot. Thank you all for the help!

[code]

[2015-04-08 18:50] #275 closed, assigned to 130s

[2015-04-09 04:28] 130s opened #355 "rtcd.log can become gigabyte large"
I don't know if this is Hiro/NXO question. I don't know either the condition when this can happen. But I got from a user a single `rtcd.log` file that is 1.4G. It's content is mostly lines like below. Too large log files like this are difficult to handle in any way. Is there a way to set the maximum size of a single log file?:

[code]

UPDATE There are open PRs https://github.com/start-jsk/hironx-

[2015-04-15 15:13] 130s opened #357 "Compensate hands weight?"
A user is experiencing that hands don't stay still when the custom heavier hands are attached. Is there a user command to compensate weight?

[2015-04-16 00:37] 130s commented on #357
Title changed:
Old: Compensate hands weight from python script?
New: Compensate hands weight?

I think this doesn't need to be done via python (if that's possible it'd be very convenient though).

Any idea folks?

[2015-04-16 01:27] 130s commented on #357
In ROS there's a [gravity_compensation](http://wiki.ros.org/gravity_compensation) package. In order to utilize it, there are [some prerequisites](http://wiki.ros.org/force_torque_tools/Tutorials/Force-torque%20sensor%20calibration#Overview_and_prerequisites) that Hironx + JR3 device might not satisfy though.

[2015-04-16 01:55] k-okada commented on #357
since the gripper of this robot usually facing down to the table, so it is better to start from simple one (and always it is better to start from simple case rather than general case).

jr3 drive has feature to cancel the offset
https://github.com/start-jsk/rtmros_hironx/blob/hydro-devel/hironx_ros_bridge/robot/nitta/jr3_driver.cpp#L508
and I thought that rtcd cancels offset when it started, but i

[2015-04-20 05:57] 130s commented on #357
I say in advance that I'm sorry to ask many questions, but this is very much complicated to me.

The code cited [is in sample.c](https://github.com/start-jsk/rtmros_hironx/blob/b499aad046f0e4818a798a033cbd9b576fde9605/hironx_ros_bridge/robot/nitta/sample.c#L70).

Could you tell me how to do so?

And are you referring to the right line?

[code]

I have no idea how to do so.
Isn't [this line](https:

[2015-04-21 14:03] k-okada commented on #357
Sorry for unhelpful comment

My thought was to put:

[code]

within servo on command, may be just after this line:

[code]

as for https://github.com/fkanehiro/hrpsys-base/tree/315.1.10/rtc/AbsoluteForceSensor

make sure that that RTC is crated and activated as 'rmfo' and properly
connected, then try these service call
https://github.com/fkanehiro/hrpsys-base/blob/315.1.10/idl/AbsoluteForceSensorS

[2015-04-21 15:15] 130s commented on #284
[MoveIt! Cartesian Path Planner](http://moveit.ros.org/new-capabilities-in-moveit-the-cartesian-path-planner-plugin/) sounds like it would work for this purpose, but currently it doesn't work for dual-arm.

[2015-04-21 15:41] 130s commented on #286
Addressed in https://github.com/start-jsk/rtmros_hironx/pull/321

[2015-04-21 15:41] #286 closed, assigned to nobody

[2015-04-21 15:43] 130s commented on #269
Moved into https://github.com/start-jsk/rtmros_hironx/issues/283

[2015-04-21 15:43] #269 closed, assigned to 130s

[2015-04-21 16:40] 130s commented on #357
Hope I understand better now.

I've [made a change in `rtc/RobotHardware/robot.cpp`](https://github.com/130s/hrpsys-base/commit/ee2f800964a492df0d6392e762b4df06c10e8a54), without having opened a pull request yet. If this looks good I'll do so.

I have no idea how to create `_idl.py` for `AbsoluteForceSensor`, like [you did for ImpedanceControllerService_idl.py](https://github.com/start-jsk/rtmros_

[2015-04-22 16:19] k-okada commented on #357
- just to roll back hrpsys-base and compile them (_idl.py is created from
  .idl)
- get ald AbsoluteForceSensor.idl and manually compile with omniidl (see
  makefile for option)
- copy from robot controller computer
- extract from old deb file

##

◉ Kei Okada

On Wed, Apr 22, 2015 at 1:40 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-04-23 18:29] 130s opened #359 "Let checkEncoders move to an arbitrary pose"
A group of users is wondering if it makes sense to change `checkEncoders` so that it accepts arbitrary pose.

Currently with checkEncoders the joints movement happen [here](https://github.com/start-jsk/rtmros_hironx/blob/330175fb1e492e1077dcd9bd9a5aa9ec032dc1f4/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L647) I suppose:

[code]

Looks like we need to change hrpsys if we want to achie

[2015-04-24 00:01] k-okada commented on #359
checkEncoders is hard coded in libiob.so, so we have to ask them for it's
possibility, also we do not know what  initializeJiontAngle do, actually.

##

◉ Kei Okada

On Fri, Apr 24, 2015 at 3:29 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-05-09 00:56] k-okada commented on #202
Indigo is ready for now with https://github.com/ros/robot_model/pull/108 fix, please confirm this

[2015-05-11 06:27] 130s commented on #202
@k-okada

Does this mean we have to manually re-generate *.dae files using the latest `collada_to_urdf`?

[2015-05-11 06:45] 130s commented on #202
@k-okada

Does this mean we have to manually re-generate the `NextageOpen.urdf` file using the latest `collada_to_urdf`?

[2015-05-11 10:40] 130s commented on #348
This no longer happens on the same Trusty-Indigo machine.

[code]

Looks like the only different packages are `ros-indigo-*`, not `collada-*`.

[2015-05-11 10:40] #348 closed, assigned to nobody

[2015-05-11 14:59] k-okada commented on #202
if you already have urdf, you do not have to re-generate one.
if you have dae on robot_description, previous robot_model fail to load
that data and segfaults, for example robot_state_publisher did not work.

##

◉ Kei Okada

On Mon, May 11, 2015 at 3:45 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-05-11 16:28] 130s commented on #202
Thank you for the clarification, I finally understand what https://github.com/start-jsk/rtmros_hironx/issues/202#issuecomment-88318074 meant.
Now I think we're ready to move on to running tests on Indigo.

[2015-05-12 01:58] k-okada commented on #202
sorry for confusion, see
https://github.com/ros/robot_model/pull/108#issuecomment-96960419 for how
did I test for that.

##

◉ Kei Okada

On Tue, May 12, 2015 at 1:28 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-05-12 10:37] 130s opened #363 "AttributeError: class ImpedanceControllerService has no attribute 'MODE_IMP'"
Critical: this makes hironx.py **_unusable**_.

hrpsys on QNX is 315.2.8.

[code]

FYI @RyuYamamoto

[2015-05-12 10:44] k-okada commented on #363
please do not edit log message, please copy and past all logs.

##

◉ Kei Okada

On Tue, May 12, 2015 at 7:37 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-05-12 10:58] 130s commented on #363
いや，コピーペーストして，どこも変えてないと思います

[2015-05-12 11:00] 130s commented on #363
With nextage.py.

[code]

[2015-05-12 11:02] 130s commented on #363
The error above happens on Hydro machine. On my Indigo machine this error doesn't happen.
When this error happens, the hrpsys client class is not instantiated so checking its version by `robot.hrpsys_version` is not possible.

[2015-05-12 11:04] 130s commented on #363
[code]

Reinstall is no use for this Hydro machine.

[2015-05-12 11:06] 130s commented on #363
[code]

This solved this. Thank you!

[2015-05-12 11:06] #363 closed, assigned to nobody

[2015-05-12 12:39] 130s commented on #281
This still happened on @RyuYamamoto's Hydro machine.

I think above is not valid..

[2015-05-12 12:46] 130s commented on #281
I think there's something here:
- x: acceptancetest_hironx.py causes this error
- <s>o: hironx.py doesn't. </s>  <-- This isn't true in https://github.com/start-jsk/rtmros_hironx/issues/281#issuecomment-120265734

[2015-05-19 08:27] 130s opened #364 "[rtmlaunch] [ERROR] Could not Connect ( /nextage:15005/RobotHardware0.rtc:q"
Is this bad or not?

[code]

I'm seeing this error but so far the robot works perfectly. This line above happens periodically.

[code]

[2015-05-19 12:33] k-okada commented on #364
--
◉ Kei Okada

On Tue, May 19, 2015 at 5:27 PM, Isaac I.Y. Saito <notifications@github.com>
wrote:

[2015-05-26 07:16] 130s commented on #364
@k-okada コメントが空のようです

[2015-05-26 11:02] 130s commented on #202
On Indigo I confirmed that https://github.com/ros/robot_model/pull/108 bypasses the following error.

[code]

[2015-05-26 14:51] k-okada commented on #202
So, can we close this issue?

[2015-05-26 15:04] 130s commented on #202
I'm afraid `rostest` still fails.

[code]

[2015-05-27 18:43] k-okada commented on #202
On Wed, May 27, 2015 at 12:04 AM, Isaac I.Y. Saito <notifications@github.com

did you installed ros-indigo-collada-parser? pleas try if
https://github.com/ros/robot_model/pull/108#issuecomment-96960419 works

##

◉ Kei Okada

[2015-05-30 15:53] 130s commented on #202
As I commented above, https://github.com/start-jsk/rtmros_hironx/issues/202#issuecomment-105489479 https://github.com/ros/robot_model/pull/108 works. But the problem I posted https://github.com/start-jsk/rtmros_hironx/issues/202#issuecomment-105555894 is `rostest` that uses DEB afaik, and https://github.com/ros/robot_model/issues/108 is not yet released. I asked the new release in https://github.c

[2015-05-31 23:21] k-okada commented on #364
please check hironx version, this should be fiexed in 1.0.31 ->

## https://github.com/start-jsk/rtmros_hironx/commit/08e1fae2ad34fc6fe5d6db0f31cdc5550d202e80

◉ Kei Okada

On Tue, May 19, 2015 at 5:27 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-06-18 23:14] 130s opened #365 "Sim hrpsys process keeps dying on Indigo"
I'm working on a Trusty machines via TeamViewer (remote desktop service) where I see this issue.

[code]
- Versions:

[code]
- `robot_model` uses source that includes https://github.com/ros/robot_model/pull/108
- On another Trusty machine, however, the same simulation runs fine. I noticed that the s/w version is the same but the built date is slightly different.

[code]

[2015-06-18 23:18] 130s commented on #365
##Rewritting the OP

I'm working on a Trusty machines via TeamViewer (remote desktop service) where I see this issue.
[code]

- Versions:

[code]
- `robot_model` uses source that includes https://github.com/ros/robot_model/pull/108
- On another Trusty machine, however, the same simulation runs fine. I noticed that the s/w version is the same but the built date is slightly different.

[code]

[2015-06-18 23:20] 130s commented on #365
Found `omniNames` was running but stopping it takes no effect.

[code]

[2015-06-19 04:13] 130s commented on #365
After restarting the OS the issue is gone.

[2015-06-19 04:13] #365 closed, assigned to nobody

[2015-06-19 09:01] 130s opened #366 "COLLADA error: Trying to load an invalid COLLADA version for this DOM build!"
On Indigo, RViz fails to load 3d model. `robot_model` is built from source to include https://github.com/ros/robot_model/pull/108.

[code]

[2015-06-19 09:23] 130s commented on #202
https://github.com/start-jsk/rtmros_hironx/issues/366 needs fixed.

[2015-06-19 14:10] k-okada commented on #366
you must build rviz too to use library include in robot_model. I think your
rviz using old robot_model under /opt

##

◉ Kei Okada

On Fri, Jun 19, 2015 at 6:01 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-06-20 00:12] 130s commented on #364
With 1.0.31 I no longer see this issue. Thank you.

[2015-06-20 00:12] #364 closed, assigned to nobody

[2015-06-20 00:22] 130s opened #367 "EOL hydro-branch"
Considering that we move on to ROS Indigo and will likely stick to it for another few years as a stable distro, I just created a [indigo-devel](https://github.com/start-jsk/rtmros_hironx/tree/indigo-devel) branch, and made it as a default.

Knowing that there are groups of [users who'll stay on Hydro for awhile](https://groups.google.com/forum/#!topic/rtm-ros-robotics/qrDWvnjxrV0), we'll keep back

[2015-06-20 03:15] k-okada commented on #367
Is there any pros. on creating indigo branch? as long as we do not have any
distro specific source code, we do not need that one and continue working
on master until the end of rosdistro sync.

##

◉ Kei Okada

On Sat, Jun 20, 2015 at 9:22 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-06-21 05:37] k-okada commented on #365
note : sudo service .. will stop nameserver with default port 2809
rtmros uses nameserver with custom port 15005, which is started on
rtmrlaumch (
https://github.com/start-jsk/rtmros_common/blob/master/openrtm_tools/scripts/rtmlaunch#L31
)

##

◉ Kei Okada

On Fri, Jun 19, 2015 at 8:20 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-07-01 13:46] 130s opened #369 "[Call for volunteer] Robot page on roswiki"
By following the defacto standard on the ["Robots" page on ROS wiki](http://wiki.ros.org/Robots), I finally created HiroNXO page.

http://wiki.ros.org/Robots/HiroNXO

Please have a look and add any necessary change.

There's no "rule" per se but here's what I stick to:
- Focus is on software, but decent info on hardware is probably appreciated by the readers
- List capabilities and ROS-formatted n

[2015-07-01 14:40] 130s commented on #367
I can think of at minimum 2 advantages to have distro specific branches:
- To better indicate that the old ROS distro may not get maintenance, including testing on the robot hardware.
- Since Indigo will stay longer than any other ROS distro ever, I expect in the future there will be features that rely on functions available only in newer ROS distro.

I thought it would be less complexing if we cr

[2015-07-01 17:53] 130s commented on #367
Now `hydro-devel` is set as default.

[2015-07-01 17:55] 130s commented on #369
I close this ticket but please feel free to make/suggest changes.

[2015-07-01 17:55] #369 closed, assigned to nobody

[2015-07-04 15:43] k-okada commented on #369
nice!!

##

◉ Kei Okada

On Thu, Jul 2, 2015 at 2:55 AM, Isaac I.Y. Saito notifications@github.com
wrote: