[2015-07-05 16:09] k-okada commented on #367
1) i think current situation is very special that hydro and indigo is very
separated, one works on 12.04 and another requires 14.04, but if you think
about indigo-jade, they are very similar, both will used on 14.04, so
basically we should focus on ubuntu version, not ros version
2) I understand that we'd like to create distro specific branch if there
there difference between distros, but most of

[2015-07-08 02:50] emijah commented on #369
Can't think of anything to add at this point...

[2015-07-10 07:26] 130s commented on #281
hiro user also reported the same error using `hironx.py` via ipython with hrpsys version 315.1.7 and when its log level is `VERBOSE`.

[code]

[2015-07-15 01:15] 130s opened #371 "RViz repeats to crash and restart"
[A user reported](https://groups.google.com/forum/#!topic/rtm-ros-robotics/zjrg8GJJip4) the issue both on simulation and real robot.

Updating DEB packages solved as he said. I assume the versions are:

Old: 1.0.27-0precise-20141206-2255-+0000 hironx_moveit_config
New: 1.0.31

[code]

[2015-07-15 01:16] #371 closed, assigned to nobody

[2015-07-22 00:41] 130s opened #375 "velocity & position limit over print messages never stop"
Even while no command is passed to the robot on the simulator nor the robot doesn't seem moving, this print floods the simulator's terminal. Tried some commands (robot.goInitial, goOffpose) and seemed to work fine.

Is this print bad, or can we just ignore (if so is there any way to suppress printing)?

[code]

Versions:

[code]

More elaborate log:

[code]

[2015-07-22 00:44] 130s commented on #375
The log in the previous post was on Indigo.

Now tested on Hydro, this print didn't occur. But then only upgrading `hrpsys` DEB from 315.4.0 to 315.6.0, the same thing happens.

[code]

[2015-07-22 00:47] 130s commented on #375
Btw on Indigo, I haven't fixed #366 yet (in fact I happened to find this issue while I was working on #366). So in the log above we still saw the same error.

[code]

[2015-07-22 00:52] k-okada commented on #375
That should be resolved in

## https://github.com/fkanehiro/hrpsys-base/pull/726

◉ Kei Okada

2015/07/22 9:44、Isaac I.Y. Saito notifications@github.com のメッセージ:

[2015-07-22 01:09] 130s commented on #366
hmm, looks like I'm doing the right but still get the same error. `robot_model` is the latest indigo branch, while rviz is on the released tag, all built by catkin_tools.

[code]

[2015-07-22 01:15] k-okada commented on #366
situation has changed,
1a1f0db396901e66689d3a8949b9bcee3653e102 should not be merged until newer version of collada-dom is releaesd,
if you  latest code as of today, you have to use newer version of collada-dom http://lists.ros.org/pipermail/ros-release/2015-June/004650.html

[2015-07-23 01:28] 130s commented on #366
Temporary workaround is confirmed.

[code]

(You shouldn't need to reboot the machine or any other measures.)

This script downloads source of `collada_dom` 2.4.3, apply the necessary patch, builds and install all locally.

Once DEB version of `collada_dom` becomes available, this workaround won't be needed. This ticket remains open until then.

Credit goes to @k-okada

[2015-07-28 23:32] 130s commented on #281
<-- This isn't true in https://github.com/start-jsk/rtmros_hironx/issues/281#issuecomment-120265734 where the same error is observed with hironx.py.

##

Summary for the reproducible scenario:
- It happens when loading `acceptancetest_hironx.py` or `hironx.py`
- Only with real robot (i.e. This issue hasn't been observed on simulator).
- Only observed on ROS Hydro (but no clue for this to not happe

[2015-07-29 00:31] 130s commented on #213
(With a risk that I might not get your question) Nextage's launch passes the location of NEXTAGE model to hiro's launch, like the following. So I don't have any concern here:

In [nextage_real.launch](https://github.com/tork-a/rtmros_nextage/blob/8bd320695cc2f736e9d819597ea5494d52d1760a/nextage_ros_bridge/launch/nextage_ros_bridge_real.launch):

[code]

Model file is passed to [hironx_ros_bridge_r

[2015-07-29 00:40] 130s commented on #202
Based on [this conversation](https://groups.google.com/forum/#!topic/rtm-ros-robotics/qrDWvnjxrV0), there's a user group that wants to use Hydro version until September. Also, because September is also the last month of the 1st half in the fiscal year of Japan where some core maintainers are based in, I think making a big change in the month October makes sense.

[2015-07-29 01:01] 130s commented on #342
The user who originally reported to us said they've been not having this issue using `wait=False`.

Don't know what was wrong at that time but closing for now. Please reopen when this persists.

[2015-07-29 01:01] #342 closed, assigned to nobody

[2015-08-07 10:30] emijah commented on #366
@130s @k-okada Tried ROS Indigo on a clean install of 14.04 today and found that both the simulation and the python interface works.

[2015-08-11 02:42] k-okada opened #381 "travis said ok, but the test was failing"
https://travis-ci.org/start-jsk/rtmros_hironx/jobs/74030660

[code]

[code]

[code]

[code]

[2015-08-13 16:56] 130s commented on #366
@emijah thank you for the update. Did you run Hironx software?

NEXTAGE software should have been up running without the issue in this ticket. This ticket is about Hironx software.

[2015-08-14 01:45] 130s commented on #375
I see, we'll wait for the next version of hrpsys https://github.com/fkanehiro/hrpsys-base/issues/757.

[2015-08-14 01:45] #375 closed, assigned to nobody

[2015-08-24 09:07] 130s opened #391 "Add move group(s) to include torso"
Such kind of move groups:
- L/R arm with torso
- Both arm with torso

We may have to duplicate torso joint in URDF (example: [Motoman SDA10F](http://wiki.ros.org/motoman_driver/Tutorials/Creating%20a%20Dual-Arm%20System#URDF))?

[2015-08-24 09:08] 130s commented on #391
Such kind of move groups:
- L/R arm with torso
- Both arm with torso

We may have to duplicate torso joint in URDF (example: [Motoman SDA10F does](http://wiki.ros.org/motoman_driver/Tutorials/Creating%20a%20Dual-Arm%20System#URDF))?

[2015-08-28 09:12] ghost opened #392 "cannot connect to Hiro(real robot)"
I'm trying to run hironx_ros_bridge and connect to Hiro, but I got following errors.

My enviroment is Ubuntu14.04.3 and indigo.

[code]

[2015-08-29 00:10] 130s commented on #392
Can you tell us the output of the following command?

[code]

Also appreciable is to send the tarball of the following command to support@opensource-robotics.tokyo.jp (no body text is fine; Just refer to this ticket). Thank you.

[code]

[2015-08-29 05:03] ghost commented on #392
thank for your reply, but I could resolve the problem.

I just forgot to set hiro's host name on /etc/hosts.

[2015-08-29 12:20] 130s commented on #392
:)

[2015-08-29 12:20] #392 closed, assigned to nobody

[2015-09-11 00:55] snozawa opened #394 "Release request for new version."
Release request for new version to include https://github.com/start-jsk/rtmros_hironx/pull/393.
hrpsys-base test uses `ros-hydro-hironx-ros-bridge` from deb.

[2015-09-11 02:41] 130s commented on #394
Work in progress

[2015-09-11 02:53] 130s commented on #394
Done for hydro https://github.com/ros/rosdistro/pull/9430
Thank you for the update @snozawa.

[2015-09-11 04:22] snozawa commented on #394
Thank you!
I wait for deb update.

[2015-09-11 04:22] #394 closed, assigned to 130s

[2015-09-16 21:57] 130s commented on #202
Newer version of `robot_model` that contains https://github.com/ros/robot_model/pull/108 is released into Indigo.
So only remaining is https://github.com/rdiankov/collada-dom/issues/16?

[2015-09-16 21:58] 130s commented on #202
And just an FYI, Hydro build is finally terminated https://github.com/ros/rosdistro/pull/9469.

[2015-10-03 16:02] 130s commented on #202
This is now checked. Ready for Indigo.

[2015-10-03 16:03] 130s commented on #366
https://github.com/rdiankov/collada-dom/issues/16 is done thanks to @k-okada, so this issue should be resolved.

[2015-10-03 16:03] #366 closed, assigned to nobody

[2015-10-03 16:32] 130s commented on #202
Another task: Provide upgrade instruction (Ubuntu (12.04-->14.04), ROS (H-->I), drivers (ueye. What else?)

[2015-10-06 17:42] 130s opened #396 "[Announce] Official support is now Ubuntu 14.04 (Trusty) - ROS Indigo"
Dear Kawada's opensource version of Hiro / NEXTAGE (hironxo) users,

tl;dr Now we offer official support for ROS-Indigo.

It's been awhile since [I forenoticed](https://groups.google.com/d/msg/rtm-ros-robotics/qrDWvnjxrV0/RM7tZZ4yfukJ) that the support for hironxo would be switched from ROS Hydro to Indigo. Now that Hydro is officially end-of-lifed by OSRF, we've been cooperating with Kawada, and

[2015-10-06 17:43] 130s commented on #202
Instruction is done at https://github.com/start-jsk/rtmros_hironx/issues/396, so is the announcement.

[2015-10-06 17:43] #202 closed, assigned to 130s

[2015-10-21 16:02] 130s commented on #367
This makes sense. I've made `indigo-devel` as the default.

Also I just made [a tag 1.1.0](made https://github.com/start-jsk/rtmros_hironx/releases/tag/1.1.0).

For Hydro for hironx,
- 1.0.37 is the last release.
- Source code will be kept available at `hydro-devel` branch, but no newer commits will go in there unless requested.

[2015-10-21 16:02] #367 closed, assigned to 130s

[2015-10-21 16:05] 130s commented on #396
[Announce] Default branch is now `indigo-devel`. Please have a look at https://github.com/start-jsk/rtmros_hironx/issues/367#issuecomment-149943983 for detail.

[2015-10-21 16:19] 130s commented on #367
DEB release is in flight now. https://github.com/ros/rosdistro/pull/9687

[2015-11-02 06:51] 130s opened #405 "Add Kinect to the default URDF so that users won't have to add it on their own"
Originally PR was opened for this https://github.com/start-jsk/rtmros_hironx/pull/397#issue-112606783

https://github.com/start-jsk/rtmros_hironx/pull/397#issuecomment-151372719

And,

[2015-11-11 19:58] 130s commented on #381
I've looked at all the variants of 3 PRs recently merged, and I don't see a failure in any of them. For now I think it's hard to track down this problem.
Please reopen if we need to look into more details.

https://travis-ci.org/start-jsk/rtmros_hironx/jobs/90558278
https://travis-ci.org/start-jsk/rtmros_hironx/jobs/90558279
https://travis-ci.org/start-jsk/rtmros_hironx/jobs/90558281
https://travi

[2015-11-11 20:03] 130s commented on #292
Code in question is removed from this repo.

[2015-11-11 20:03] #292 closed, assigned to 130s

[2015-11-11 20:04] 130s commented on #264
The package in question is removed from this repo.

[2015-11-11 20:04] #264 closed, assigned to nobody

[2015-11-11 20:05] 130s commented on #223
Code in question is removed from this repo.

[2015-11-11 20:06] 130s commented on #180
Code in question is removed from this repo.

[2015-11-11 20:06] #180 closed, assigned to nobody

[2015-11-11 20:06] 130s commented on #114
Code in question is removed from this repo.

[2015-11-11 20:06] #114 closed, assigned to nobody

[2015-11-11 20:07] #223 closed, assigned to 130s

[2015-11-12 02:29] k-okada commented on #381
https://travis-ci.org/start-jsk/rtmros_hironx/jobs/90588783

[code]

[2015-11-12 20:26] 130s commented on #381
Ok, I also found [this phenomenon](https://travis-ci.org/tork-a/rtmros_nextage/jobs/90801599#L7371) (in a different repository though) in [a recent PR](https://github.com/tork-a/rtmros_nextage/pull/209).

[2015-12-04 05:57] 130s commented on #357
How-to is now summarized in wiki. http://wiki.ros.org/rtmros_nextage/Tutorials/Adding%20feedback%20control#Weight_offset

[2015-12-04 05:57] #357 closed, assigned to nobody

[2015-12-05 04:21] d130s opened #411 "Servo goes off with head rolling"
At IN [3], all servo went off with "gacha" sound. This happens twice for me today.

[code]

[2015-12-05 04:34] d130s commented on #411
Another trial where the same issue happened at IN[2].

[code]

[2015-12-08 12:35] k-okada commented on #411
humm, joint limit has changed due to new head parts?

[2015-12-08 16:56] 130s commented on #411
Some additional observation:
- In the command examples above, I didn't run `goInitial`. But there was another incident where I did run it, and the same error still occurred.
- From MoveIt!, I was able to move both of 2 head joints without any issue.
  - To do that with Hiro I needed a "hack" -- since in `hironx_moveit_config` package there's not yet head joints integrated, I used `nextage_moveit_c

[2015-12-08 16:59] 130s commented on #411
I also wonder in [the log](https://github.com/start-jsk/rtmros_hironx/issues/411#issuecomment-162138436) why error limits were reported for arm joints but not for head.

[2015-12-09 00:20] 130s opened #414 "Source build on Travis fails"
See the report https://github.com/start-jsk/rtmros_hironx/pull/413#issuecomment-163063390. Error:

[code]

Looks like the root cause is already fixed in the upstream repo https://github.com/start-jsk/rtmros_common/pull/862, but is there anything that has to be done in a downstream repo?

[2015-12-09 00:28] 130s commented on #293
PR to amend this issue is made #415.

[2015-12-09 08:48] k-okada opened #416 "With ImpedanceControl on, robot makes noise during goOffpose"
インピーダンスがかかって自己干渉ぎみになりますね．

[2015-12-10 03:01] 130s commented on #414
Travis passed, presumably due to https://github.com/start-jsk/rtmros_common/pull/862#issuecomment-163462015

[2015-12-10 03:01] #414 closed, assigned to nobody

[2015-12-14 01:24] 130s commented on #281
Closing since this is getting old. But if someone sees this issue please reopen.

[2015-12-14 01:24] #281 closed, assigned to nobody

[2015-12-20 07:27] youtalk opened #419 "COLLADA error: Failed to load XML document from memory"
When I use the latest release package of `ros-indigo-rtmros-hironx`, rtmlaunch outputs a COLLADA error and no TF is published.
It seems to be a bug of collada parser but I could not solve it. Do you have any idea?

[code]

In case of the hydro release package, there is no COLLADA errror.

[2015-12-21 02:52] k-okada commented on #419
please check if you use collada 2.4.4 and if not, please download from
then, http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/c/collada-dom2.4-dp/

you need following 3 files

collada-dom2.4-dp-base_2.4.4.0-ubuntu1~trusty1_amd64.deb (1.3 MiB)
collada-dom2.4-dp-dev_2.4.4.0-ubuntu1~trusty1_amd64.deb (201.2 KiB)

## collada-dom2.4-dp_2.4.4.0-ubuntu1~trusty1_amd64.deb (878 bytes)

◉ Kei Okada

[2015-12-21 06:25] youtalk commented on #419
After installing the packages, I have no problem.
Thank you very much for your help.

[2015-12-21 06:25] #419 closed, assigned to nobody

[2015-12-21 14:26] k-okada commented on #419
that's good to know

##

◉ Kei Okada

On Mon, Dec 21, 2015 at 3:25 PM, Yutaka Kondo notifications@github.com
wrote:

[2016-01-21 02:08] 130s commented on #300
`self._r` was missing because the child class `ROS_Client` didn't call `__init__` from super class (`RobotCommander`). Adding something like `super(ROS_Client, self).__init__()` in `__init__` in the child class resolves the issue.

[2016-01-21 02:08] #300 closed, assigned to nobody

[2016-01-22 06:47] k-okada opened #423 "宿題"
１。普通にlaunchを立ち上げるとcollisiondetectorのコンポーネントが入らないです。なので入れるようにするにはどうしたらいいかしらべて、入れてみてください。
２。その時に両腕の前腕がセルフコリジョンする動作をつくってください。いきなりだと危ないので、まず１０cmぐらい離れたし姿勢になって、１cmづつ、ちょっとづつ近づくようにしてみてください。
３。たぶん、手のモデルが入っていないので、手のモデルをいれてください。BoundingBoxでよいです。ちょっとおおきいぐらいでよいです。１、２cmぐらい。で、両腕の手と手がぶつかる動作を２と同じようにして動かして見てください。

できたら実機で試しましょう。
@pazeshun

[2016-01-22 06:48] k-okada commented on #423
http://www.airbusgroup.com/int/en/innovation-citizenship/Airbus-Shopfloor-Challenge-2016.html

[2016-01-22 06:54] pazeshun commented on #423
http://www.ros.org/news/2013/01/tecnalia-wins-the-factory-of-the-future-award-at-european-manufacturing-awards-2012-with-a-robot-pro.html

[2016-01-22 07:01] pazeshun commented on #423
http://www.airbus.com/presscentre/pressreleases/press-release-detail/detail/airbus-invests-in-robotics-as-part-of-its-commitment-to-innovation/

[2016-01-25 11:01] pazeshun opened #425 "can not append string and bool"
https://github.com/start-jsk/rtmros_hironx/commit/11b9569eeeb020098397864020fa3ca791afb4f7

[code]

[code]

[2016-01-25 17:00] 130s commented on #425
Fixed via #426.

[2016-01-25 17:00] #425 closed, assigned to nobody

[2016-01-27 09:36] pazeshun commented on #423
@k-okada
![screenshot from 2016-01-27 18 32 59](https://cloud.githubusercontent.com/assets/14994939/12609357/90d44cfa-c524-11e5-9c53-0bd9976dcca3.png)
一応、左手と右手が衝突するような目標座標を与えて腕を動かしてやると、このようにモデルが接触した時点で止まるようになりました。

[2016-01-27 09:43] pazeshun commented on #423
rtmros_hironx/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.pyの、248行目

[code]

のコメントアウトを外して

[code]

としてみて実行しただけです。
~~ただ、なにやら実行時に見たことないエラーが出ているので、またご報告します~~気のせいでした

[2016-01-27 10:50] pazeshun commented on #423
とりあえず、実機につなげるかどうかだけ試したのですが、

[code]

を実行した所、変更前には出なかったエラーが２つ出ました。

[code]

というものと、

[code]

です。
以下はログ全体です。

[code]

[2016-01-27 10:55] pazeshun commented on #423
以下は、変更前に戻した時のログです。

[code]

[2016-01-29 05:28] k-okada commented on #423
qnx側の/opt/jsk
かな？のしたにCollisionDetector.soがあるかどうか見てみてくダサい．例えば，DataLogger.soがあるディレクトリと同じ所に有るはずです．

##

◉ Kei Okada

On Wed, Jan 27, 2016 at 7:55 PM, pazeshun notifications@github.com wrote:

[2016-01-29 08:53] pazeshun commented on #423
[code]

となり、どのディレクトリを調べてもCollisionDetector.soらしきものはありませんでした

[2016-01-29 08:55] pazeshun commented on #423
`/opt/jsk/src/hrpsys-base-source-315.1.7/rtc/CollisionDetector`はありましたが、その中にCMakeFilesはありませんでした。
これ、コンパイルするとできるってことなんですかね

[2016-01-29 11:36] k-okada commented on #423
/opt/jsk のどっかにbuildというディレクトリかCMakefilesが有るディレクトリがあるんだけどわかるかな．

##

◉ Kei Okada

On Fri, Jan 29, 2016 at 5:55 PM, pazeshun notifications@github.com wrote:

[2016-02-02 04:51] 130s opened #429 "rqt dashboard crashes when connecting to the real robot"
UPDATE) See https://github.com/start-jsk/rtmros_hironx/issues/429#issuecomment-180252252 for the error output.

---

<s>

[code]

</s>
I guess the dashboard needs `--host` argument when connecting to the real robot.

[2016-02-03 03:13] 130s opened #430 "HIRONX python process unusable when ros_bridge is not available"
[code]

And once ros_bridge becomes available, the python process crashes.

[code]

[2016-02-03 08:00] 130s opened #432 "Better calibration status handling"
See https://github.com/start-jsk/rtmros_hironx/pull/418/files#r51687142 thanks to @emijah

[2016-02-04 20:42] 130s commented on #430
It was very recently when I started seeing this issue (I thought the changes made in https://github.com/start-jsk/rtmros_hironx/pull/315 used to work for this purpose).

[2016-02-04 20:54] 130s opened #433 "AcceptanceTest_Hiro.run_tests_ros fails when MoveIt! is not running"
With the changes recently made, the [AcceptanceTest_Hiro.run_tests_ros](https://github.com/start-jsk/rtmros_hironx/blob/a7a43e5baf4dcd48e34b94f9781defadfbca03d0/hironx_ros_bridge/scripts/acceptancetest_hironx.py#L136) command exits when MoveIt! is not running.

[2016-02-04 21:03] 130s commented on #429
Invalid -- The error output in OP seems not relevant to the hironxo rqt dashboard

[2016-02-05 08:13] #430 closed, assigned to nobody

[2016-02-05 08:44] 130s commented on #429
Ok, here's a true-negative error output.

[code]

The error occurs because [HrpsysConfigurator is instantiated without nameserver's host name and port specified](https://github.com/start-jsk/rtmros_hironx/pull/420/files#diff-ee45a856b5ff75ee78f4aefcc4201cb4R73).

[2016-02-06 12:48] 130s opened #435 "hironx.py connection inter-host; RobotHardware wasn't found"
On `Host1`: Running `rtmlaunch hironx_ros_bridge hironx_ros_bridge_simulation.launch`
On `Host2`: "ipython -i `rospack find hironx_ros_bridge`/scripts/hironx.py -- --host Host1"

`RobotHardware` wasn't found error happened. These 2 hosts are in the same LAN.

[2016-02-06 13:30] k-okada commented on #435
--host must be target to the RTM name server name, not HOST1_NAME,
if you wan to connect ROS client in hironx.py to ROS master running at
HOST1_NAME,
use ROS_MASTER_URI as always.

##

◉ Kei Okada

On Sat, Feb 6, 2016 at 9:48 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-02-06 19:27] 130s commented on #435
I've updated my original post for clarification. I don't think I used a wrong RTM host name.

`ping` worked between the hosts.

[2016-02-07 06:12] k-okada commented on #435
Oh, you're using simulation ,
In that case you have to manually specify `--robot HiroNX(Robot)0` to override
https://github.com/start-jsk/rtmros_hironx/blob/indigo-devel/hironx_ros_bridge/scripts/hironx.py#L66

[2016-02-08 21:29] 130s opened #436 "[ROS_Client] "ImportError: No module named termcolor""
I need to fix this. This happens when connecting with HIRONX while ROS master is not running.

[code]

[2016-02-08 21:43] 130s commented on #435
Thanks you for the clarification.

[Added to wiki](http://wiki.ros.org/rtmros_nextage/Tutorials/Run%20simulation#Connecting_to_a_simulated_robot_running_on_a_remote_host) as well.

[2016-02-08 21:43] #435 closed, assigned to nobody

[2016-02-09 00:00] k-okada commented on #436
Please do not use termcolor
, which is not provided as Deb package, so user who do not compile from source have to install manually.
https://github.com/ros/rosdistro/search?utf8=%E2%9C%93&q=termcolor&type=Code

[2016-02-09 06:29] pazeshun commented on #423
[code]

という出力が得られました。意味が違ってたらごめんなさい。

[2016-02-09 23:48] 130s commented on #429
Opened #438 to fix this.

This issue could also be (more easily than #438) partially resolved by NOT using RTM commands (goInitial, goOffpose) but instead relying on ROS/MoveIt! methods. But there are still methods that are not realized in ROS (checkEncoders, impedance).

[2016-02-10 03:38] #436 closed, assigned to 130s

[2016-02-17 03:03] 130s opened #444 "[HIRONX python] hrpsys version checking codes not necessary?"
Lots of comments in https://github.com/start-jsk/rtmros_hironx/pull/443

[2016-02-17 03:16] k-okada commented on #444
what i understand so far
- version checking is done on upstream, but it raises error
- this may trouble on hironx override implementation, that force set "WAIST" as default frame (so it always call function with frame_name, even if old hrpsys, and it rises error)

#445 changed the HrpsysConfigurator just print out warning, not raises error, also support default frame_name , see if this pass the te

[2016-02-19 02:44] #429 closed, assigned to 130s

[2016-02-19 02:44] 130s opened #446 "Add test for #438"
#438 is debug commit so merge and make a release rather than waiting for the tests to be added.

[2016-02-19 08:10] pazeshun commented on #423
こないだ、

[code]

がうまく行ったと思っていたのですが、再起動を忘れていたためのようで、起動してPCから接続しようとすると以下のようなログが出てきて接続が失敗しました。

[code]

この時、Hiroにsshでログインしてログを確認すると、以下のようになってました。

[code]

なお、`# make install`前にコピーしておいたjskディレクトリと、現在のjskディレクトリを入れ替えて再起動すると、Hiro内部のログは以下のようになっていました。

[code]

この時は、おそらく問題なく起動できているものと思われます。

[2016-02-19 08:12] k-okada commented on #423
お，古いディレクトリに新しい所に出来たcollision detctorだけコピーするとどうなるかな．

##

◉ Kei Okada

On Fri, Feb 19, 2016 at 5:10 PM, pazeshun notifications@github.com wrote:

[2016-02-19 08:13] k-okada commented on #423
後，古いディレクトリと新しいディレクトリで diff -r したい

##

◉ Kei Okada

On Fri, Feb 19, 2016 at 5:11 PM, Kei Okada k-okada@jsk.t.u-tokyo.ac.jp
wrote:

[2016-02-19 09:12] pazeshun commented on #423
[code]

[2016-02-19 10:44] pazeshun commented on #423
/opt/jsk/src/hrpsys-base-source-315.1.7/cmake_modules/FindQuickHull.cmakeを以下のように編集してみました。

[code]

で、cmakeしようとしたのですが、以下のようなエラーが出てきました。

[code]

[2016-02-19 10:49] k-okada commented on #423
echo $PKG_CONFIG_PATH
して，optがない気がするので，

export PKG_CONFIG_PATH=/opt/jsk/lib/pkgconfig:/usr/pkg/lib/pkgconfig;

## みたいなかんじかな．

◉ Kei Okada

On Fri, Feb 19, 2016 at 7:44 PM, pazeshun notifications@github.com wrote:

[2016-02-19 11:02] pazeshun commented on #423
`echo $PKG_CONFIG_PATH`しても何も出てこなかったので、

[code]

すると、

[code]

となります。これ、CollisionDetector入ってないですよね

[2016-02-19 11:04] k-okada commented on #423
cwd はどこになっている．既に一回cmakeされているかな？
catkin b --force-cmake 的なことをやらなければいけないので，
CMakeFiles みたいなデレクトリの中のCollisionDetector のディレクトリを消してみて下さい．わからんければ
cmake を打ったディレクトリで find | grep Collision してみて

##

◉ Kei Okada

On Fri, Feb 19, 2016 at 8:02 PM, pazeshun notifications@github.com wrote:

[2016-02-19 11:12] pazeshun commented on #423
[code]

/opt/jsk/src/hrpsys-base-source-315.1.7/rtc/CollisionDetectorしかない気がするのですが・・・

[2016-02-19 11:18] k-okada commented on #423
cmakeってコマンドを打ったディレクトリでお願いします

##

◉ Kei Okada

2016/02/19 20:12、pazeshun notifications@github.com のメッセージ:

[2016-02-19 11:19] pazeshun commented on #423
そこで打ちました

[2016-02-19 11:20] k-okada commented on #423
CMakeFilesみたいなディレクトリない？

##

◉ Kei Okada

2016/02/19 20:19、pazeshun notifications@github.com のメッセージ:

[2016-02-19 11:22] pazeshun commented on #423
[code]

[2016-02-19 11:24] k-okada commented on #423
$ cmake /opt/jsk/src/hrpsys-base-source-315.1.7
すたらなんてひょうじがでたの？

##

◉ Kei Okada

2016/02/19 20:22、pazeshun notifications@github.com のメッセージ:

[2016-02-19 11:26] pazeshun commented on #423
[code]

[2016-02-19 11:30] k-okada commented on #423
CollisionDetectorのCMakeLists.txtに
message("hoge hoge")
と書いてデバッグかな。

##

◉ Kei Okada

2016/02/19 20:26、pazeshun notifications@github.com のメッセージ:

[2016-02-19 11:32] pazeshun commented on #423
わかりました。
もう帰らないといけないので、来週やります。

[2016-02-19 11:44] k-okada commented on #423
はい。了解。

##

◉ Kei Okada

2016/02/19 20:32、pazeshun notifications@github.com のメッセージ:

[2016-03-02 15:48] VinceDT opened #447 "Issue with tutorial Programming_Hiro_NEXTAGE_OPEN_ROS"
Hey guys,

I am working through the tutorials and at the Programming_Hiro_NEXTAGE_OPEN_ROS tutorial.
Having started:
`rtmlaunch nextage_ros_bridge nextage_ros_bridge_simulation.launch`
`roslaunch nextage_moveit_config moveit_planning_execution.launch`
`ipython -i `rospack find hironx_ros_bridge`/scripts/hironx.py`
I get:

[code]

Using:
Ubuntu 14.04 up-to-date
ROS indigo up-to-date
hironx packages

[2016-03-02 17:55] 130s commented on #447
Hm, I can't reproduce this error. Can you do us a favor for things?
- give the result of this command (mine is included as a reference):

[code]
- What happens with `ros.go_init(init_pose_type=1)`?
- Result of `rosnode list`?

[2016-03-02 17:57] 130s commented on #447
I just noticed you're actually willing to run Nextage. So replace the dpkg command with this:

[code]

[2016-03-02 18:11] 130s opened #448 ""[hrpsys_py-4] process has died ..." error upon hironx_ros_bridge_simulation.launch"
Reported at https://github.com/start-jsk/rtmros_hironx/issues/447#issue-137911036

[code]

I'm not aware of any issues in using the robot on simulation, but it makes (especially) new users worry if something is wrong (sorry @VinceDT).

I won't have an extra gear to take a further look into this soon. If someone can look at this that'd be great.

[code]

Full log

[code]

[2016-03-03 07:45] k-okada commented on #448
it is working on my setup, how about update rtmros_common ?

$ dpkg -p ros-indigo-hironx-ros-bridge ros-indigo-rtmros-common
ros-indigo-hrpsys |grep Ver
Version: 1.1.11-0trusty-20160218-193852-0800
Version: 1.3.1-0trusty-20160208-134708-0800
Version: 315.8.0-0trusty-20160122-020326-0800

##

◉ Kei Okada

On Thu, Mar 3, 2016 at 3:11 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2016-03-03 08:54] VinceDT commented on #447
Hey,
- Versions:

[code]
- `ros.go_init(init_pose_type=1)`

[code]
- rosnode list

[code]

Same error on the machine of a colleague.

thanks for the help!

[2016-03-08 06:44] pazeshun commented on #423
[code]

すると、

[code]

と出てきました。これをみると、USE_HRPSYSUTILがtrueでないと、CollisionDetectorが読み込まれないことがわかります。

[code]

すると、

[code]

となります、USE_HRPSYSUTILがtrueになる条件は、OpenCVやOpenGL、GLEW、GLUT、SDLが存在することであるとわかります。

[code]

した時の表示を読むと、OpenCVとかが見つかっていないことがわかるので、これが原因でCollision Detectorがビルドできないことがわかりました。

[2016-03-23 07:07] longjie opened #449 "rmfo_svc.setForceMomentOffsetParam cannot set 'moment_offset'"
I've tried rmfo_svc.setForceMomentOffsetParam to cancel the sensor offset value as follows:

[code]

and it seems the 'moment_offset' member is set always same as the 'force_offset'  value.

[2016-04-12 23:25] 130s opened #453 "Redundant "connectPorts(self.rh.port(sensor), self.ic.port(sensor))"?"
@k-okada @hyaguchijsk

[In HIRONX](https://github.com/start-jsk/rtmros_hironx/blob/afe78e916ce0f8125eea0a86e818ca31fce29d6e/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L177-L181), when IC is present (along with other conditions), RH connects to IC port.

[code]

However, it seems already done [in its parent class, `HrpsysConfigurator`](https://github.com/fkanehiro/hrpsys-base/blob/872

[2016-04-13 08:26] longjie commented on #449
Sorry, this issue is only occurs in the forked branch.
The newer version and original start-jsk repo has no problem.

The reason of this issue was:

https://github.com/tork-a/hrpsys-base/blob/315.1.8/dynpick_qnx/rtc/AbsoluteForceSensor/AbsoluteForceSensor.cpp#L247

and will be fixed locally.

[2016-04-13 08:26] #449 closed, assigned to nobody

[2016-04-15 15:14] k-okada commented on #453
sorry, I do not remember whey I added this code, but since these two change
has been made same day, i think I put the code to both hironx and hrpsys
and use hironx one until hrpsys has been released. and forget to remove
hironx one when hrpsys has released.
anyway i think we can remove hironx settings

##

◉ Kei Okada

On Wed, Apr 13, 2016 at 8:25 AM, Isaac I.Y. Saito notifications@github.com
wrot

[2016-04-15 18:06] 130s commented on #453
Thank you for the comment. #454 is opened and I'll ask a robot owner who has f/t sensors for testing.

[2016-04-15 18:06] #453 closed, assigned to nobody

[2016-05-02 11:23] k-okada commented on #447
@VinceDT do you still have this error ?

[2016-09-06 09:41] pazeshun commented on #423
現在、`make`を行った時に出てくるエラーは以下のようになります。

[code]

[2016-09-06 09:58] k-okada commented on #423
すっかり忘れているけど，libqp を link しているかな．
make VERBOSE=1 で link (ld)しているところを探そう．

##

◉ Kei Okada

On Tue, Sep 6, 2016 at 6:41 PM, pazeshun notifications@github.com wrote:

[2016-09-06 10:10] pazeshun commented on #423
linkはできてます。
https://github.com/NIRALUser/ARCTIC/blob/master/itkEMS/qhull/qhull_interface.cpp#L8-L42 を読むと、 https://github.com/fkanehiro/hrpsys-base/blob/master/lib/util/BVutil.cpp#L2-L4 のように書くのは間違いみたいです。
そこで、BVutil.cppの冒頭を以下のように修正してみたところ、ビルドが通りました。

[code]

これでinstallしてみて、動くかやってみます。

[2016-09-06 10:19] k-okada commented on #423
実機がうごいたらでいいけど
In MVC とかいてあるから原因は違うと思う
qhull_a.hを見て見て

2016年9月6日火曜日、pazeshunnotifications@github.comさんは書きました:

##

##

◉ Kei Okada

[2016-09-06 10:20] pazeshun commented on #423
In MVCとはどこのことでしょうか？

[2016-09-06 10:28] k-okada commented on #423
https://github.com/NIRALUser/ARCTIC/blob/master/itkEMS/qhull/qhull_interface.cpp#L10

2016年9月6日火曜日、pazeshunnotifications@github.comさんは書きました:

##

##

◉ Kei Okada

[2016-09-06 10:41] pazeshun commented on #423
MVCのくだりを見落としていました。
ですが、私の記憶では、`extern "C"`をした場合に`math.h`内の関数でエラーが出るという症状がHiroでも発生して、そこで時間切れになったように思います。
なので、この解決策が使えると考えて実装してみた次第です。
なお、rtmros_hironx/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.pyがデフォルトの状態で手元PCからHiroに接続すると動きましたが、CollisionDetectorを入れて動かして見たところ、以下のようにエラーが出て、Hiroを動かせませんでした。

[code]

いろいろ忘れているので、思い出しながら作業します。

[2016-09-06 11:08] pazeshun commented on #423
CollisionDetector入れなかった時は以下のようなログになります。

[code]

[2016-09-06 11:13] k-okada commented on #423
なるほど
ということは先にmath.hをincludeすればよさそうだね

エラーはqnx側の/opt/jsk/var/log/rtcd.log
みたいなところを見よう

2016年9月6日火曜日、pazeshun<notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>>さんは書きました:

##

##

◉ Kei Okada

[2016-09-06 11:46] pazeshun commented on #423
明日math.hを先にロードしてみるのと、ログを見てみます

[2016-09-07 00:32] emijah commented on #423
KRCの齋藤元です。

math.hで起きたエラーを見せていただくことはできますか？

2016-09-06 20:46 GMT+09:00 pazeshun notifications@github.com:

[2016-09-07 05:40] pazeshun commented on #423
@emijah 齋藤様
遅くなって申し訳ありません。以下がhttps://github.com/fkanehiro/hrpsys-base/blob/master/lib/util/BVutil.cpp#L2-L4 をそのままにした際のエラーの全文になります。
https://drive.google.com/file/d/0BxxBA3J-CunGZGJIMGFkNmpHNTQ/view?usp=sharing
C++で記述されたものをCで解釈しきれずに起こるエラーであると思います。

[2016-09-07 05:46] pazeshun commented on #423
@k-okada
BVutil.cppの冒頭を以下のようにすることでもエラーを回避出来ました。

[code]

[2016-09-07 05:51] pazeshun commented on #423
通信失敗した時のログは以下のようになっています。

[code]

CollisionDetectorを入れなかった時のログは以下です。

[code]

[2016-09-07 06:35] k-okada commented on #423
CollisionDetector入れる／入れない．は .so を置く/置かない，という切り替え方という理解でいい？

/opt/jsk/etc/HIRONX/hrprtc/rtcdRobotMode.confに
example.CollisionDetector.config_file: /opt/jsk/etc/HIROINX/hrprtc/Robot.conf
みたいなのはあるかな．
RTCTREE_NAMESERVERS=hiro014:15005 rtls  hiro014:15005
か
RTCTREE_NAMESERVERS=hiro014:2809 rtls hiro014:2809
はどうなっているかな
そこで，co.rtcがみえていれば，
RTCTREE_NAMESERVERS=hiro014:15005 rtcat -l  hiro014:15005/co.rtc
か

[2016-09-07 06:41] pazeshun commented on #423
そうではなく、手元PCのhironx_ros_bridgeパッケージ内のhironx_client.pyのrtclistのCollisionDetectorをコメントアウトするかしないかという切り替え方です。

[2016-09-07 06:43] k-okada commented on #423
なるほど，それで良いです．で，

[code]

の`ros = ROS_Client()`は一旦コメントアウトして進めるのがいいね．

[2016-09-07 06:48] pazeshun commented on #423
これはありました。

[2016-09-07 06:54] k-okada commented on #423
[code]

あたりのエラーが
https://github.com/fkanehiro/hrpsys-base/blob/315.9.0/python/hrpsys_config.py#L284-L532
のどこから出ているか調べたい．

[2016-09-07 06:55] pazeshun commented on #423
すみません、これの意味がわからないのですが、以下のような操作であってますでしょうか？

[code]

どっちもエラーが出てます。

[2016-09-07 06:57] k-okada commented on #423
はい．

[code]

だ．最後に/がひつよう．
export するとその後のshellで，その環境変数が有効

[code]

すると，この行だけ環境変数が有効．

[2016-09-07 07:00] pazeshun commented on #423
[code]

co.rtcには*がついてます。

[2016-09-07 07:04] k-okada commented on #423
ソースのバージョンは315.1.10 かな？co.rtcができていて＊はエラーかな．rtcat -l で分かるはず．
https://github.com/fkanehiro/hrpsys-base/blob/315.1.10/rtc/CollisionDetector/CollisionDetector.cpp
みると，
co: onInitialize()
は表示されているはずなんだけどなぁ．

[2016-09-07 07:08] pazeshun commented on #423
すみません、私の一つ前のコメントは、CollisionDetectorを入れなかった場合のものでした。
入れると、前に上げたエラーがipython側で出るのと、

[code]

のようになります。

[2016-09-07 07:11] pazeshun commented on #423
[code]

のようです。

[2016-09-07 07:16] k-okada commented on #423
お，ぞんびだとアレだな．どうやってrtcd再起動している？ slay rtcdみたいな？
NameServerをリスタートしないとゾンビは生きていそうなので，リブートかomniNamesをslayして，
NameServer.sh を立ち上げ直すか

[2016-09-07 07:16] pazeshun commented on #423
多分、ソースの元のバージョンは315.1.7で、それに、OpenCVがインストールされていなくてもCollisionDetectorを使えるようにするパッチ（https://patch-diff.githubusercontent.com/raw/fkanehiro/hrpsys-base/pull/428.diff ）を若干編集して当てたものです。
今、現在のhrpsys-baseとのdiffをとってみようかと思って、hrpsys-baseをクローンしています。

[2016-09-07 07:17] k-okada commented on #423
package.xml か CHANGELOG.rst みたらバージョンはわかるともう．

[2016-09-07 07:17] pazeshun commented on #423
とりあえず再起動してました。

[2016-09-07 07:27] pazeshun commented on #423
どこにあるのかわかりませんが、とりあえずsvnのタグから315.1.7であることがはっきりしました。残ってるdiffを確認すると、当てたパッチとBVutil.cppの変更のみのようなので、あってると思います。

[2016-09-07 07:42] k-okada commented on #423
ああ，315.1.7のときはros package ではなかったんだ．
どこかで，死んでいるんだけどなぁ．
http://www.openrtm.org/openrtm/ja/book/export/html/1335
をみると，onInitializeのまえのコンストラクタで死んでいるのかな．
https://github.com/fkanehiro/hrpsys-base/blob/315.1.7/rtc/CollisionDetector/CollisionDetector.cpp#L65
それともonInitializeまではでているけど，バッファにたまっている時に死んでいるか．

https://github.com/start-jsk/rtmros_hironx/blob/indigo-devel/hironx_ros_bridge/launch/hironx_ros_brid

[2016-09-07 07:49] pazeshun commented on #423
手元PCではhironx.pyを立ち上げているだけなので、これは立ち上がっていないという認識です。

[2016-09-07 08:14] pazeshun commented on #423
QNX再起動後、

[code]

となっているのを確認して、QNXの/opt/jsk/bin上で

[code]

とでき、この時

[code]

となっていました。

[2016-09-07 08:15] pazeshun commented on #423
Runningになっている気がするのですが、あっているのでしょうか？

[2016-09-07 08:27] k-okada commented on #423
inactive なんじゃないかな．ここでactivateするとactivate状態になる．rtactというコマンドラインもある．http://www.openrtm.org/pub/OpenRTM-aist/tools/rtshell/3.0/ja/rtact.html

[2016-09-07 08:28] k-okada commented on #423
activateするとはじめてonExecuteが毎周期うごく．コンポーネントってやつ．ROS2はこのスタイルになるので経験しておくのが大吉．

[2016-09-07 08:45] pazeshun commented on #423
前の状態から、

[code]

となり、activeにするとコンポーネントがゾンビ化しました。それで、コンポーネントを実行してるQNXのターミナルを見てみたところ、

[code]

ということで、モデルがなくてロードできず、死んでいたみたいです。

[2016-09-07 09:15] k-okada commented on #423
/opt/jsk/etc/HIROINX/hrprtc/Robot.conf
がちょんと読み込まれて，このRobot.confに
model: ....main.wrl
となっていればいいはずだけど，

[2016-09-07 09:23] pazeshun commented on #423
/opt/jsk/etc/HIROINX/hrprtc/Robot.confには`model: /opt/jsk/etc/HIRONX/model/main.wrl`となっており、

[code]

なので、読み込めないはずはないと思うのですが・・・。

[2016-09-07 09:23] k-okada commented on #423
[code]

[code]

???

[2016-09-07 09:25] k-okada commented on #423
rtcdRobotMode.conf
で，
 example.CollisionDetector.config_file://opt/jsk/etc/HIROINX/hrprtc/Robot.conf
に切り替えるてみてみるのかな．

[2016-09-07 09:27] pazeshun commented on #423
rtcdRobotMode.confは、

[code]

となっているのですが、これらすべて書き換えでしょうか？

[2016-09-07 09:31] k-okada commented on #423
コピペミス
logger.log_level: VERBOSE
にしてみようか．だめならPARANOIDで

[2016-09-07 09:44] pazeshun commented on #423
コピペミスを修正しましたが、同じ症状が発生し、VERBOSEやPARANOIDにしても同じエラー表示しかされませんでした。今日はもう帰らないといけないので、一旦切り上げます。

[2016-09-07 09:50] k-okada commented on #423
はい
VERBOSEにしたらrtcdから大量にログが書かれているはずなので明日またlogファイルを確認してみてください

2016年9月7日水曜日、pazeshunnotifications@github.comさんは書きました:

##

##

◉ Kei Okada

[2016-09-07 10:10] emijah commented on #423
@pazeshun 「様」は不要ですよ。：）

すでに解決しているところに茶々を入れてしまいますが、math.hはC用のヘッダなので、どちらかというとextern ”C"の中に入っていた方がいいかもしれませんね。c++のヘッダはmathなのですが、sin, cosなどが見えず、std::sin, std::cosが見えるように
using std::sin;
using std::cos;
を追記する必要が出てくることが多々あります。

[2016-09-13 06:52] pazeshun commented on #423
@emijah

こうすると、前に上げたエラーが出てきます。下のリンク先と同じように、古いシステムゆえの問題だと思います。
http://www.sourceware.org/ml/gsl-discuss/2000/msg00224.html

[2016-09-13 06:59] pazeshun commented on #423
@k-okada
PARANOIDにして、ログを確認してみたのですが、CollisionDetector周りででているエラーについての新規情報はありませんでした。

[code]

[2016-09-13 07:26] k-okada commented on #423
https://github.com/fkanehiro/hrpsys-base/blob/315.1.10/rtc/CollisionDetector/CollisionDetector.cpp#L144
の直後に
std::cerr << prop["dt"] << std::endl;
みたいにしてみよう．
できれば，
(dolist (p prop) (print p))
してみよう．

##

◉ Kei Okada

On Tue, Sep 13, 2016 at 3:59 PM, pazeshun notifications@github.com wrote:

[2016-10-12 23:46] 130s commented on #444
Looks like fixed in #445 #455

[2016-10-12 23:46] #444 closed, assigned to 130s

[2016-10-19 06:56] 130s opened #473 "[rosdoc] some arguments are missing in api doc on docs.ros.org"
e.g. For [HIRONX.startImpedance_315_1](http://docs.ros.org/indigo/api/hironx_ros_bridge/html/classhironx__ros__bridge_1_1hironx__client_1_1HIRONX.html#ad4770fa0fc1b36a1a298e3f1e16a1105) there are some open brackets. We might need to report somewhere upstream.

[code]

[2016-10-21 11:40] miguelprada opened #474 "Incoherent joint limits"
I just realised that the joint limits in `hironx_moveit_config` package are not coherent between [`HiroNX.urdf`](https://github.com/start-jsk/rtmros_hironx/blob/0050fd128d89bb38644a585a2e02bf4a7c2c0e2c/hironx_moveit_config/models/HiroNX.urdf#L500) and [`joint_limits.yaml`](https://github.com/start-jsk/rtmros_hironx/blob/789829dd1d9dfbcc8d067e9a0ef3c35b3a30f1f6/hironx_moveit_config/config/joint_lim

[2016-10-21 11:53] 130s commented on #474
Quick response/guess is that some information in the URDF in question was made up for certain reason at the time of its creation (just a guess...it might have been more crucial for the manufacturer then, or not available for any reason etc.) so that it's possible that all the info is not necessarily correct.

[2016-11-14 12:47] 130s opened #480 "Stop running ServoController RTC by default?"
Hand commands available in hironx client (e.g. [HandOpen](https://github.com/start-jsk/rtmros_hironx/blob/f523a54e9cd96af54a29d5613730b91600eb95a1/hironx_ros_bridge/src/hironx_ros_bridge/hironx_client.py#L433)) can be confusing to the users of both Hironx without servo-based hands and NXO that don't come with servo-hands (e.g. https://github.com/tork-a/rtmros_nextage/issues/274).
Changes needed I

[2017-04-05 06:47] 130s commented on #480
Testing to disable Servo Controller RTC by commenting out the following line in `/opt/jsk/etc/HIRONX/hrprtc/rtcdRobotMode.conf`:

[code]

[2017-04-05 06:52] 130s commented on #480
Rebooting the robot after https://github.com/start-jsk/rtmros_hironx/issues/480#issuecomment-291769946, the ServoController seems not running as expected (no `sc.rtc` found).

[code]

[2017-04-07 14:17] k-okada commented on #480
hironx comes with servo hand by default ( I think), so if nextage do not
have servo hand by default, Change/Overwrite them on nextage_client.py

--
◉ Kei Okada

2017-04-05 15:52 GMT+09:00 Isaac I.Y. Saito <notifications@github.com>:

[2017-05-09 16:15] 130s opened #500 "Enable cron job on Travis CI"
Hopefully this will allow us to find earlier any regression that is caused by the upstream.

Set up a weekly job ![20170509_scr_travis-ci_cron_rtmros_hironx](https://cloud.githubusercontent.com/assets/1840401/25860915/db54fa7a-3497-11e7-98d8-8351a3503b16.png)

[2017-05-09 16:15] #500 closed, assigned to 130s

[2017-05-16 23:27] 130s commented on #261
Addressed in https://github.com/start-jsk/rtmros_hironx/pull/317

[2017-05-16 23:27] #261 closed, assigned to 130s

[2017-05-22 15:38] SantoshBanisetty commented on #371
@130s I am having a similar issue with pr2. Do you happen to know a solution for the same? Thanks.

[2017-05-22 15:43] 130s commented on #371
@SantoshBanisetty Are you using Hironx / NEXTAGE?
- If so we *could* continue discussion on this ticket.
- If not, this repository is not a right place for your question. Go ask on http://answers.ros.org/

Either way, you need to provide more info in general (e.g. full output of `roslaunch` etc. See http://wiki.ros.org/Support for the type of info you should provide when asking questions).

[2017-05-22 19:08] 130s commented on #447
Closing due to inactivity. Feel free to reopen with updated info if the issue persists.

[2017-05-22 19:08] #447 closed, assigned to nobody

[2017-05-22 19:13] 130s commented on #416
質問ですが，

- Hironx 側では何を直すと改善されるでしょうか？
- 間抜けな質問ですが，そもそも Impedance 入ったまま goOffpose する，という運用は想定内なのでしょうか？Impedance 機能が入っている間は，センサの出力によって挙動が予測不可能となるので，必要のない時には Impedance をオフにするという運用を，暫定的にユーザに伝えています (そうすべきと主張したいわけではないです)．

[2017-05-22 23:19] 130s commented on #250
Addressed in several ways incl. https://github.com/fkanehiro/hrpsys-base/pull/665, https://github.com/tork-a/rtmros_nextage/issues/284

[2017-05-22 23:19] #250 closed, assigned to nobody

[2017-05-22 23:21] 130s commented on #396
This announcement has served well.

[2017-05-22 23:21] #396 closed, assigned to nobody

[2017-05-22 23:24] 130s commented on #284
For MoveIt! https://github.com/ros-planning/moveit/pull/491 might be a good option.
Either way, this should be discussed somewhere upstream.

[2017-05-22 23:24] #284 closed, assigned to nobody

[2017-05-22 23:26] 130s commented on #391
I can't remember the context of this (I should've described better). My bad.
Anyway I don't feel the necessity of this for now.

[2017-05-22 23:26] #391 closed, assigned to nobody

[2017-05-22 23:29] 130s commented on #36
See #250, which may or may not be the complete replacement of this. Feel free to reopen if further discussing is needed.

[2017-05-22 23:29] #36 closed, assigned to nobody

[2017-05-22 23:33] 130s commented on #295
Now that we have `hrpiob` opensourced, [read_servo_state](https://github.com/start-jsk/rtmros_hironx/blob/ff11cd885db027e834a9c7d3792f65143e488395/hironx_ros_bridge/robot/hrpiob/nextage-open.hpp#L43) or something might do the work we want.

If someone who has an access to a robot can write a code and test that'd be a great pull request candidate.

[2017-05-24 14:45] k-okada commented on #416
goOffposeの前にimpedanceをoffにするのが良いと思います．

[2017-05-31 22:49] 130s opened #507 "servoOn not turning servos on"
The same user who reported the issue https://github.com/tork-a/rtmros_nextage/issues/332 is experiencing that the `servoOn` command does not turn the servos on, claiming "Once the servos are off for whatever reason, I cannot turn them back on. The only thing that helps is to use the power switch on the QNX and restart."

This did not help.

Logs and comments on Python i/f:

Logs from QNX

[code]

[2017-06-26 04:53] 130s commented on #416
CC @7675t
This is getting more critical for some existing users of impedance feature.

[2017-07-07 21:11] 130s commented on #507
Interesting fact from the original reporter:

[2017-10-05 05:36] #277 closed, assigned to nobody

[2017-11-03 11:49] felixvd opened #520 "setTargetAngular, ArmControl service, rate parameter, porting old code"
We have recently upgraded our HIRONX to ROS and until then have used the setTargetAngular function of the ArmControlService to move the arms. It uses a "rate" parameter to set the movement speed, while the functions available in rtmros_hironx only offer a "time" parameter to set the total time the movement should take.

I read around in the code a bit and found that while [it seemed to be used in

[2017-11-03 14:27] k-okada commented on #520
Hi,
Sorry that I do not know/remember the exact meaning of 'rate' parameter,
but basically you can control the setTargetPose with time parameter, may be
you specify the default total time, say tm = 10; [sec], then pass to the
function such that 'tm * rate', if the rate is defined between 0 - 1.

--
◉ Kei Okada

2017-11-03 20:49 GMT+09:00 Felix von Drigalski <notifications@github.com>:

[2017-11-05 07:27] felixvd commented on #520
Thanks for your quick response. I thought of that, but sadly that will not work for our code. There are both very small and fairly long movements in it, so the resulting speed can be either much too slow or dangerously fast.

We can check the distance between the current and target joint configuration and set the time/rate accordingly. It shouldn't be too hard. I will post the function here if we

[2017-11-07 14:54] felixvd commented on #520
To explain a bit: like I mentioned, we needed something with which we could reuse our old code for the HIRONX, so we extended the hironx_client class with the functions from the [old interface](http://docs.ros.org/groovy/api/hironx_ros_bridge_old/html/gui_2sample_8py_source.html) (starting from line 202). With this, we can open an old HIRONX script, instantiate the class at the start, replace all

[2017-11-08 03:03] k-okada commented on #520
@felixvd Thanks for suggestion, I have created PR #521, and expected use-case is something like

[code]
how do you think? if you have any suggestion ? please add patch against #521 branch

[2017-11-08 10:20] felixvd commented on #520
That's a very good idea and much simpler than extending the class. I was playing around with another setup where the functions are not defined in the class, but like this:

[code]

This way you could import it with `from hironx_ros_bridge.old_api import *` and use it without changing move commands in the script. However, it is not as clean, and old scripts still need to be cleaned anyway, so it do

[2018-01-30 01:52] felixvd commented on #520
I think this got solved with the PR.

[2018-01-30 01:52] #520 closed, assigned to nobody

[2018-02-13 06:20] 7675t commented on #474
Related to this, I cannot find which file should be modified to change the velocity limit of joints.
Could you point me which file is actually used with HiroNX ?

[2018-02-13 06:52] trsjp opened #524 "Maker ArrayのStatusがエラーになる"
HiroNXで画像のようにエラーになります。
パッケージは、Indigoリリースです。
WAIST_Linkというリンクはロボットは持っていないようなのですが、どこを変更すればこのエラーが消えるでしょうか。

![image](https://user-images.githubusercontent.com/5636955/36136823-a317160a-10d5-11e8-9e28-9969d9c43f41.png)

[2018-02-14 02:04] 7675t commented on #524
このMarkerArrayは，両腕の間に出てくる緑の線分状のマーカだと思います．手元でシミュレータで試すと，エラーも表示されずマーカは表示されます．実機で起動した際に，このエラーが表示されました．

/collistion_detector_marker_arrayを発行しているのは，collision_stateノードで，これは，hrpsys_ros_bridge/launch/collision_detector.launchで起動されています．

現地で記録しておけばよかったのですが，直接の原因は/collision_detector_marker_arrayのframe_idが"WAIST_Link"になっているためだと思います．ロボットモデルには"WAIST_Link"というリンクは存在しないのではと思います．

実機でこのエラーが出る時の情報を教えてもらえないでしょうか ＞ @

[2018-02-15 03:02] trsjp commented on #524
以下の環境で実行しました．
[code]

[code]
の実行結果です．
robot_descriptionについては数値のみの部分は省略しています．

<details>
  <summary>collision_detector_marker_array</summary>

[code]
</details>

<details>
  <summary>robot_description</summary>

[code]
</details>

[2018-02-15 07:38] 7675t commented on #524
やはり，HiroNXのモデルと，collision_statesノードの想定しているWAISTリンクの名前が違うのが問題のようです．HiroNXのモデルファイルは，ロボットの体内のQNX側にありそちらを変更するのは難しいので，とりあえず，

[code]

とWAIST_Link座標系を追加すると，エラーがなくなるのではないかと思うので，試してみてもらえないでしょうか．

もしこれで上手く行くようでしたら，ややアドホックですが，これをhironx_ros_bridge_real.launchに入れると良いです．その場合PRを出してもらえると助かります．

[2018-02-19 10:06] trsjp commented on #524
実機環境にて
`rosrun tf static_transform_publisher 0 0 0 0 0 0 /WAIST /WAIST_Link 1`
を実行するとエラーは消えました．

ありがとうございます．

![2018-02-19](https://user-images.githubusercontent.com/5636955/36372179-991ab36a-15a7-11e8-9886-4b39f764548e.png)

[2018-02-21 02:50] #524 closed, assigned to nobody

[2018-05-31 05:44] pazeshun commented on #423
詳細は次のコメントで述べますが、実機でcollision detectorが動くようになりました。

(追記)
`hironx_client.py`にhttps://github.com/start-jsk/rtmros_hironx/issues/423#issuecomment-175513814 と同じ編集をし、実機をつないで
[code]
とした後、`robot.checkEncorders()`, `robot.startImpedance("rarm")`, `robot.startImpedance("larm")`として、両腕をインピーダンス制御にします。
この状態で両腕を人間が動かし、衝突する姿勢に持ってこうとしても、衝突直前で腕が止まり、それ以上動かせなくなることを確認しました。
collision detectorが動いていないと、腕が衝突し、サーボが切れて胸の赤LE

[2018-05-31 07:35] pazeshun commented on #423
以前の作業は、https://github.com/start-jsk/rtmros_hironx/issues/423#issuecomment-245215405 の時点で止まっていましたが、このときモデルがロードできなかったのはtypoしていたからで、正しいコマンドは
[code]
でした。
これをQNXの/opt/jsk/bin上で実行し、
[code]
と表示された状態で、クライアントPC側からRTCを確認すると、
[code]
のように`CollisionDetector0.rtc`が生成されているので、
[code]
としてactivateしてみると、QNX側で
[code]
と表示され、モデルロードのエラーは出なくなりましたがやはりコアダンプしました。
print文デバッグの結果、https://github.com/fkanehiro/hrpsys-base/pull/1

[2018-05-31 08:11] pazeshun commented on #423
`/opt/jsk/src/hrpsys-base-source-315.1.7`の現在のdiffは、https://drive.google.com/open?id=12RFBSlq2lDJ1NbaPKQUkl3wQSzzxfnBX のようになっています。
collision detectorを入れる作業を入れる前のdiffはhttps://drive.google.com/open?id=1dg-SLyRsRoKptBKoYSdzUgb4Owl1zqaa で、この二つの差が必要だった変更になります。

https://github.com/start-jsk/rtmros_hironx/issues/423#issuecomment-245195782 で言及したパッチと、https://github.com/start-jsk/rtmros_hironx/issues/423#iss

[2018-05-31 23:46] longjie commented on #423
:+1:

[2019-10-18 02:50] Affonso-Gui opened #534 "Command overwritting does not work on angle-vector-sequence"
I have had some strange behavior related to this on last experiment and just found out what was going wrong:

*Sending a new goal to the robot controllers does not overwrite ongoing angle-vector sequence goals.*

 **How to reproduce:**
Send some `angle-vector-sequence` and then call `:stop-motion` before the motion ends.
 **Expected behavior:**
The old goal gets overwritten with a new one holding

[2019-10-18 04:42] pazeshun commented on #534
This is known issue for me, but I totally forgot to tell you. Sorry...
This is caused by old hrpsys API.

In hrpsys_ros_bridge, different function is called between when joint trajectory has one element (`:angle-vector`) and when joint trajectory has more than one element (`:angle-vector-sequence`).
In latest released hrpsys_ros_bridge (1.4.2), the function called in the former case is `setJointAn

[2019-10-18 06:16] Affonso-Gui commented on #534
Yes, in this case I was using `:stop-motion`, which defaults to zero time (min-time).

I made some confirmation experiments with the following results:
- `playPattern` cannot be overwritten by either `setJointAngles` and `playPattern`
- `setJointAngles` can be successfully overwritten by other `setJointAngles`
- **When `setJointAngles` is overwritten by `playPattern`, the robot servos go down afte

[2019-11-19 09:50] Affonso-Gui commented on #534
Fixed by updating to the newest hrpsys version (https://github.com/fkanehiro/hrpsys-base/pull/1283)!
:100:

[2019-11-19 10:13] pazeshun commented on #534
Also, https://github.com/start-jsk/rtmros_common/pull/1071 is required.

We keep this issue open, because this issue remains in default HIRONX and NEXTAGE OPEN (using hrpsys 315.1.7).

[2019-11-30 10:31] pazeshun commented on #534
@Affonso-Gui
I found that this issue still occurs when you command to only one arm (using `:rarm-controller` or `:larm-controller` in roseus).
Please be careful.

This is because hrpsys 315.16.0 including https://github.com/fkanehiro/hrpsys-base/pull/1237 is not released.
That PR is required to use `setJointAnglesSequenceOfGroup` (overwritable version of  `playPatternOfGroup` (one arm version of `

[2019-12-02 06:25] Affonso-Gui commented on #534
@pazeshun Thanks for the heads up!

[2020-04-06 03:04] pazeshun opened #538 "hironx_ros_bridge_simulation.launch often fails on melodic"
I'm trying to use this repository on melodic.
As some dependencies are not released to melodic (see https://github.com/start-jsk/rtmros_common/pull/1090), I created [this rosinstall file](https://gist.githubusercontent.com/pazeshun/86d0d05688aa1bed79800a5c8a502d5f/raw/e736f36c024606209be96819510f6c5a6ff0bc9f/nextage_melodic.rosinstall), constructed a workspace, and ran `catkin build`.
This build s

[2020-04-06 08:15] pazeshun commented on #538
I made the following change to rtmros_common to increase rtc log:
[code]
And got the following log:
https://gist.githubusercontent.com/pazeshun/2bea0aed2b0e0e6570b6f46314888bc0/raw/5f0d843586fdd014cef5d33ccb07b119c9bf62bd/rtc_logs_failure_hironx_ros_bridge_simulation

[2020-04-12 15:36] pazeshun opened #539 "hironx.py fails due to CORBA.MARSHAL error on melodic"
On melodic, when I did
[code]
, I got the following error:
[code]

cc. @Kanazawanaoaki

[2020-04-12 15:39] pazeshun commented on #539
I could avoid this by setting `ORBgiopMaxMsgSize` explicitly like
[code]
However, I couldn't understand why this setting is required from melodic, not in indigo and kinetic.
I compared /etc/omniORB.cfg of Ubuntu 16.04 and Ubuntu 18.04, but both have the same setting:
[code]

[2020-04-21 06:43] k-okada commented on #539
fixed in https://github.com/start-jsk/rtmros_hironx/pull/540

これ，なんかおかしいですね．今まではopenhrp-model-loader を立ち上げるときに

https://github.com/start-jsk/rtmros_common/blob/ad3d58ccc8cb75398bdb9f994334c5dafc2e665e/hrpsys_ros_bridge/launch/hrpsys_ros_bridge.launch#L59

の`  <env name="ORBgiopMaxMsgSize" value="2147483648" />` で起ち上げていて，
`hironx_clinet.py` からモデルを読み込むときに，この値を見てくれなくて，別途hironx_clinet.pyを立ち上げるときにも`gio

[2020-04-21 07:10] ishiguroJSK commented on #539
jaxon_red_choreonoid.launchとかのいかにも通信量多そうなケースで，ORBgiopMaxMsgSizeの拡張しないとlaunch起動に失敗して，launch内の<env>とか.bashrcとか/etc/omniORB.cfgとかで効いたり効かなかったりする話は前からありますが，
launch起動が落ちるという現象しか見ていなかったので，それが**hrpsys_config.pyかとか，ModelLoaderなのかとかは把握していないです
最近は.bashrcに`export ORBgiopMaxMsgSize=2097152000`と書いておくととりあえずエラーが出なくなるので安心してしまっていました

[2020-04-21 07:41] YoheiKakiuchi commented on #539
jaxonはメッシュのファイルサイズ大きくて初期設定のままだとmodel-loaderで確実に落ちていたはずです。
メッシュが軽いと、なんとなく動き続けることもあるかもしれないですね。

etc とか bashrc とかなにもいじらない環境（例えばdocker環境）で16.04までは問題なかったので、
@k-okadaの推測が正しい気がします。
omniの問題か、launchの環境変数渡しの問題かということですね。

@pazeshun
プロセスの環境変数が見えるようなので、これで落ちるプロセスの環境変数が適切か見てれるかな >
https://qiita.com/suzutsuki0220/items/dbbe94963123b514e516

僕の知っている最少構成で落とせるのは以下になります。
[code]

[2020-04-21 08:02] Naoki-Hiraoka commented on #539
Ubuntu16.04のHRP2では，launchに`ORBgiopMaxMsgSize`を記入しておけば，別端末からipythonで立ち上げた`config.py`も含めて落ちることはありませんでした．

[2020-04-21 09:30] pazeshun commented on #539
@YoheiKakiuchi

https://github.com/start-jsk/rtmros_hironx/issues/539#issue-598511308 のipythonコマンドを実行後、そのpythonのものと思われるプロセスの環境変数を確認したところ、以下のようになり、`ORBgiopMaxMsgSize`は見当たりません。
[code]

例えば、openhrp-model-loaderの環境変数を見ると、`ORBgiopMaxMsgSize`が設定されています。
[code]

[2020-04-22 07:46] YoheiKakiuchi commented on #539
問題の理解が足りてなかった気がしますが、
size指定を片側だけにすると、16.04ですが、やはり落ちるので、model-loaderだけの設定で上手く行っていた方がomniのpythonのバグかもしれませんね。
[code]

[2020-04-23 11:49] #539 closed, assigned to nobody

[2020-04-26 16:18] pazeshun commented on #538
This issue seems fixed because https://github.com/tork-a/openrtm_aist-release/commit/ec065c95342a9c7b5a20f2c9f0e24378b511d6a3 is released.

[2020-04-26 16:18] #538 closed, assigned to nobody